- content_for(:title, "Demande · Dossier nº #{@dossier.id} (#{@dossier.owner_name})")

= render partial: 'header', locals: { avis: @avis, dossier: @dossier }

= render partial: 'shared/dossiers/demande', locals: { dossier: @dossier, demande_seen_at: nil, profile: 'instructeur' }
