- latest_message = dossier.commentaires.last
- if latest_message.present?
  .latest-message-section
    %h2.fr-h5= t('views.users.dossiers.show.latest_message.latest_message')

    .message.fr-background-alt--grey
      = render Dossiers::MessageComponent.new(commentaire: latest_message, connected_user: current_user, heading_level: 'h3')

    = link_to messagerie_dossier_url(dossier, anchor: 'new_commentaire'), class: 'fr-btn fr-btn--icon-left fr-icon-discuss-line' do
      = commentaire_answer_action(latest_message, current_user)
