.papertrail.center.fr-my-5w
  = link_to papertrail_dossier_url(dossier, format: :pdf), class: "fr-link", download: t('.filename', dossier_id: dossier.id), target: "_blank" do
    = t('.get_papertrail')
