- if link?
  = link_to url, t(".name"), class: "fr-download__link", title: helpers.new_tab_suffix(t(".name")), **helpers.external_link_attributes
- elsif attachment?
  = render Dsfr::DownloadComponent.new(attachment:, name: t(".name"), has_name: true, ephemeral_link: helpers.administrateur_signed_in?)
