- if link?
  = link_to url, t(".name"), { class: "fr-download__link" }
- elsif attachment?
  = render Dsfr::DownloadComponent.new(attachment:, name: t(".name"), ephemeral_link: administrateur_signed_in?)
