= turbo_stream.update 'password_complexity' do
  = render PasswordComplexityComponent.new(length: @length, min_length: @min_length, score: @score, min_complexity: @min_complexity)

- if @score < @min_complexity || @length < @min_length
  = turbo_stream.disable 'submit-password'
- else
  = turbo_stream.enable 'submit-password'
