.accessibilite

  %h1.new-h1 Accessibilité

  %p
    Nous travaillons à rendre ce site conforme avec <a href="https://references.modernisation.gouv.fr/rgaa-accessibilite/" target="_blank">les normes en matière d'accessibilité</a>. Une premiere version est attendue pour août 2018 pour la partie "Usager" du site.
