%main
  .container
    .types-de-champ-editor
      %ul.types-de-champ-block
        = render TypesDeChampEditor::ChampComponent.new(coordinate:,
          upper_coordinates:,
          focused: false,
          errors:)
