- if !@facade.dossier.read_only?
  - if user_signed_in? && (current_user.owns_or_invite?(@facade.dossier))
    - if @facade.dossier.types_de_piece_justificative.size > 0
      .col-lg-4.col-md-4.col-sm-4.col-xs-4.action
        %a#maj_pj.action{ "data-target" => "#upload-pj-modal",
                          "data-toggle" => "modal",
                          :type => "button",
                          style: 'margin-bottom: 15px; margin-top: -30px;' }
          Modifier les documents
        %br
        = render partial: 'users/recapitulatif/modal_upload_pj'
