- if !@facade.dossier.read_only?
  - if user_signed_in? && (current_user.owns_or_invite?(@facade.dossier))
    %a#maj_carte.action{ href: "/users/dossiers/#{@facade.dossier.id}/carte" }
      .col-lg-2.col-md-2.col-sm-2.col-xs-2.action
        = 'MODIFIER'
