- if !@facade.dossier.read_only?
  - if user_signed_in? && (@facade.dossier.owner_or_invite?(current_user))
    = link_to modifier_dossier_path(@facade.dossier), class: 'action', id: 'maj_infos' do
      #edit-dossier.col-lg-2.col-md-2.col-sm-2.col-xs-2.action
        = "éditer".upcase
