- unless @facade.dossier.read_only?
  - if user_signed_in? && (@facade.dossier.owner?(current_user.email) || @facade.dossier.invite_by_user?(current_user.email))
    %div.col-lg-2.col-md-2.action
      %a#maj_carte.action{href: "/users/dossiers/#{@facade.dossier.id}/carte"}
        = 'éditer'.upcase
