%h4
  =@entreprise.raison_sociale_or_name

%div{class:'row', id: 'infos_entreprise'}
  %div{class:'col-lg-6 col-md-6', style:'margin-left:2%'}
    %h5
      ='SIRET : '
      %span.text-success
        =@etablissement.siret

    %h5
      =@entreprise.forme_juridique

    %h5
      =@etablissement.libelle_naf

    %h5
      ='Date création : '
      %span
        =Time.at(@entreprise.date_creation).strftime "%d-%m-%Y"

    %br
    %h5
      ='Code effectif entreprise : '
      %span
        =@entreprise.code_effectif_entreprise_libelle

    %h5
      ='Capital social : '
      %span
        =number_to_currency(@entreprise.capital_social, delimiter: ' ', unit: '€', format: "%n %u")


  %div.col-lg-6.col-md-6{style:'margin-left:-2%'}
    %h5
      ='Adresse : '
    %div{style:'margin-left:2%'}
      =@etablissement.adresse.gsub(/[\n]/, '<br>').html_safe
