.row{ style: 'margin-top: -20px' }
  .col-xs-12
    = form_for @facade.dossier, url: { controller: 'backoffice/private_formulaires', action: :update, dossier_id: @facade.dossier.id }, remote: true do
      = render partial: '/users/description/champs', locals:{ private: true }
      .row.center
        = submit_tag :Enregistrer, { class: 'btn-action' }
