%h3 Personnes invitées à voir ce dossier

%br
.row
  .col-xs-4
    - if @facade.invites.size > 0
      %ul
        - @facade.invites.each do |invite|
          %li
            = invite.email
    - else
      Aucune personne invitée
