%h3 Personnes invitées à voir ce dossier

%br
.row
  .col-xs-4
    - if @facade.invites.size > 0
      %ul
        - @facade.invites.each do |invite|
          %li
            = invite.email
    - else
      Aucune personne invitée

  .col-xs-3
    = form_tag invites_dossier_path(dossier_id: @facade.dossier.id), method: :post, class: 'form-inline' do
      = text_field_tag :email, '', class: 'form-control', placeholder: 'Envoyer une invitation'
      = submit_tag 'Ajouter', class: 'btn btn-success', id: 'send-invitation', data: {confirm: "Envoyer l'invitation ?"}
