- if Dossier::TERMINE.include?(@facade.dossier.state) && @facade.dossier.motivation.present?
  .default-data-block.default_visible
    .row.show-block.infos
      .header
        .col-xs-12.title
          .carret-right
          .carret-down
          MOTIVATION
      .body
        .display-block-on-print
          = @facade.dossier.motivation
