#users_siret_index

  .row.etape.etape_1
    = render partial: '/dossiers/etapes/etape1'

  .row.etape.etape_2
    = render partial: '/dossiers/etapes/etape2'

  -#- if @facade.procedure.module_api_carto.use_api_carto?
  -#  .row.etape.etape_3
  -#    .etape.etapes_menu.col-md-3.col-lg-3
  -#      %h3
  -#        3 - Ma zone d'intervention
  -#    .etape.etapes_informations.col-md-9.col-lg-9
  -#
  -#.row.etape.etape_4
  -#  .etape.etapes_menu.col-md-3.col-lg-3
  -#    %h3
  -#      = "#{@facade.procedure.module_api_carto.use_api_carto? ? '4' : '3'} - Mon dossier"
  -#  .etape.etapes_informations.col-md-9.col-lg-9