#users-siret-index

  .row.etape.etape_1
    = render partial: '/dossiers/etapes/etape1'

  .row.etape.etape-2
    = render partial: '/dossiers/etapes/etape2'

  -# - if @facade.procedure.module_api_carto.use_api_carto?
  -#   .row.etape.etape_3
  -#     = render partial: '/dossiers/etapes/etape3'
  -#
  -# .row.etape.etape_4
  -#   = render partial: '/dossiers/etapes/etape4'
