.tab-title Événements et décisions rendues

%ul.tab-list
  - traitements.each do |traitement|
    %li
      - processed_at = l(traitement.processed_at, format: '%d %B %Y à %R')
      - props = { processed_at:, email: traitement.instructeur_email }.compact
      = t(".#{traitement.event}", **props)
