- if field.data.any?
  %table.collection-data{ "aria-labelledby": "page-title" }
    %thead
      %tr
        %td.cell-label Libelle
        %td.cell-label Type de champ
        %td.cell-label Rempli
    %tbody
      = render Manager::DossierChampRowComponent.with_collection(field.data)
- else
  Aucun
