- if field.data.any?
  %table.collection-data{ "aria-labelledby": "page-title" }
    %thead
      %tr
        %td.cell-label Libelle
        %td.cell-label Type de champ
        %td.cell-label Rempli
    %tbody
      = render partial: "fields/champ_collection_field/row", collection: field.data, as: :row
- else
  Aucun
