- if champ.selections_utilisateur.present?
  .areas-title Sélections utilisateur
  .areas
    %ul
      - champ.selections_utilisateur.each do |geo_area|
        = render partial: 'shared/champs/carte/geo_area', locals: { geo_area: geo_area, editing: editing }

- if champ.cadastres.present?
  .areas-title Parcelles cadastrales
  .areas
    %ul
      - champ.cadastres.each do |geo_area|
        = render partial: 'shared/champs/carte/geo_area', locals: { geo_area: geo_area, editing: editing }
