- if champ.geometry?
  = react_component("MapReader", { featureCollection: champ.to_feature_collection, options: champ.render_options } )
  .geo-areas
    = render Dossiers::GeoAreasComponent.new(champ:, editing: false)
