- if champ.geometry?
  = react_component("MapReader", { featureCollection: champ.to_feature_collection } )
  .geo-areas
    = render partial: 'shared/champs/carte/geo_areas', locals: { champ: champ, error: false }
