- if champ.to_s.present?
  = react_component("MapReader", { geoData: champ.to_render_data } )
  .geo-areas
    = render partial: 'shared/champs/carte/geo_areas', locals: { champ: champ, error: false }
