#invites-form
  - if dossier.invites.present?
    %h4 Personnes invitées à participer à ce dossier
    %ul
      - dossier.invites.each do |invite|
        %li= invite.email
    %p Ces personnes peuvent modifier ce dossier.
    - if dossier.brouillon?
      %p Une fois le dossier complet, vous devez le soumettre vous-même.

  - else
    %p Vous pouvez inviter quelqu’un à remplir ce dossier avec vous.
    %p Cette personne aura le droit de modifier votre dossier.

  = form_tag dossier_invites_path(dossier), remote: true, method: :post, class: 'form' do
    = email_field_tag :invite_email, '', class: 'small', placeholder: 'adresse email', required: true
    = submit_tag 'Envoyer une invitation', class: 'button accepted'
