- if @invite.valid?
  = turbo_stream.replace 'invite-dialog-wrapper', partial: 'invites/button', locals: { dossier: @dossier }
  = turbo_stream.append "invite-dialog-wrapper" do
    :javascript
      const element = document.getElementById("modal-invite");
      if (element && dsfr) {
        dsfr(element).modal.conceal();
      }

- else
  - invites = @dossier.invites.load
  = turbo_stream.replace "invites-form", partial: "invites/form", locals: { dossier: @dossier, invite: @invite, invites: }
