- if @dossier.present?
  = turbo_stream.replace_all '.invite-user-action', partial: 'invites/dropdown', locals: { dossier: @dossier }
  - if @dossier.invites.empty?
    = turbo_stream.focus 'invite_email'
  - else
    = turbo_stream.focus_all '#invites-form ul a:first-child'
