- if @dossier.present?
  = turbo_stream.replace 'invite-dialog-wrapper', partial: 'invites/button', locals: { dossier: @dossier }
  = turbo_stream.append "invite-dialog-wrapper" do
    :javascript
      const element = document.getElementById("modal-invite");
      if (element && dsfr) {
        dsfr(element).modal.conceal();
      }
