%table.table.vertical.dossier-champs
  %tbody
    - champs.reject { |c| c.type_champ == "explication" }.each do |c|
      %tr
        - case c.type_champ
        - when "header_section"
          %th.header-section{ colspan: 2 }
            = c.libelle
        - else
          %th.libelle
            = "#{c.libelle} :"
          %td.rich-text
            = sanitize(c.value)
