%table.table.vertical.dossier-champs
  %tbody
    - champs.each do |c|
      %tr
        - if c.type_champ == "header_section"
          %th.header-section{ colspan: 2 }
            = c.libelle
        - elsif c.type_champ != "explication"
          %th.libelle
            = "#{c.libelle} :"
          %td
            = sanitize(c.value)
