.tab-title= "Envoyer ce dossier à un autre instructeur"

- if potential_recipients.empty?
  %p.tab-paragraph
    Vous êtes le seul instructeur assigné sur cette démarche
- else
  = form_for dossier, url: send_to_instructeurs_gestionnaire_dossier_path(dossier.procedure, dossier), method: :post, html: { class: 'form recipients-form' } do |f|
    .flex.justify-start.align-start
      = select_tag(:recipients,
        options_from_collection_for_select(potential_recipients, :id, :email),
        multiple: true,
        class: 'select2-limited',
        placeholder: '')
      = f.submit "Envoyer", class: "button large send gap-left"
