%table.table.vertical
  %tbody
    %tr
      %th Civilité :
      %td= individual.gender
    %tr
      %th Prénom :
      %td= individual.prenom
    %tr
      %th Nom :
      %td= individual.nom
    %tr
      %th Date de naissance :
      %td= Date.parse(individual.birthdate).strftime("%d/%m/%Y")
