%table.table.vertical.dossier-champs
  %tbody
    %tr
      %th.libelle Civilité :
      %td= individual.gender
    %tr
      %th.libelle Prénom :
      %td= individual.prenom
    %tr
      %th.libelle Nom :
      %td= individual.nom
    - if individual.birthdate.present?
      %tr
        %th.libelle Date de naissance :
        %td= individual.birthdate&.strftime("%d/%m/%Y")
