%table.table.vertical
  %tbody
    - if dossier.procedure.cerfa_flag?
      %tr
        %th Formulaire :
        %td
          - if @dossier.cerfa_available?
            = link_to "Télécharger", @dossier.cerfa.last.content_url, class: "link", target: :blank
          - else
            Pièce non fournie

    - dossier.procedure.types_de_piece_justificative.each do |type_de_piece_justificative|
      %tr
        %th= "#{type_de_piece_justificative.libelle} :"
        %td
          - pj = dossier.retrieve_last_piece_justificative_by_type(type_de_piece_justificative.id)
          - if pj.present?
            = link_to "Télécharger", pj.content_url, class: "link", target: :blank
          - else
            Pièce non fournie
