= render partial: "header", locals: { dossier: @dossier }

#dossier-instruction.container
  %section
    %h1 Inviter une personne à donner son avis
    %p.avis-notice Elle pourra consulter, donner un avis sur le dossier et contribuer au fil de messagerie, mais elle ne pourra le modifier.
