.container
  .card
    .card-title Identité du demandeur
    - if @dossier.entreprise.present?
      = render partial: "identite_entreprise", locals: { entreprise: @dossier.entreprise }

  .card.featured
    .card-title Construction du dossier
    - if @dossier.champs.present? && @dossier.champs.any?
      %table.table
        %tbody
          - @dossier.champs.each do |c|
            %tr
              %th
                = "#{c.libelle} :"
              %td
                = c.value
