%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  = t(".email_body", groupe_gestionnaire_name: @groupe_gestionnaire.name, email: @current_super_admin_email, application_name: Current.application_name)

= render partial: "layouts/mailers/signature"
