- @dossier = dossier

.dossier-show{ 'data-controller': "clipboard2", "data-clipboard2-copy-text-value": t('clipboard.copy'), "data-clipboard2-copied-text-value": t('clipboard.copied') }
  .champ-row
    %p.champ-label SIRET
    .champ-content
      = render partial: "shared/champs/siret/show", locals: { champ:, profile: }
