%p
  Bonjour,

%p
  Veuillez cliquer sur le lien suivant pour vous connecter sur le site demarches-simplifiees.fr : 
  = link_to(sign_in_by_link_url(@gestionnaire_id, jeton: @login_token), sign_in_by_link_url(@gestionnaire_id, jeton: @login_token))

%p
  Ce lien est
  %b valide une semaine
  et peut-être réutilisé
  %b plusieurs fois.

= render partial: "layouts/mailers/signature"
