%p
  Bonjour,

%p
  Veuillez cliquer sur le lien sécurisé suivant pour vous connecter à  #{Current.application_name} : 
  = link_to(sign_in_by_link_url(@instructeur.id, jeton: @login_token), sign_in_by_link_url(@instructeur.id, jeton: @login_token))

%p
  Ce lien est
  %b valide une semaine
  et peut-être réutilisé
  %b plusieurs fois.

= render partial: "layouts/mailers/signature"
