- content_for(:title, @procedure.libelle)

.fr-container
  .fr-grid-row
    .fr-col-12
      %h1= t('commencer.closing_details.page_title', libelle: @procedure.libelle, closed_at: l(@procedure.closed_at.to_date, format: :long))
      %p
        = format_text_value(@procedure.closing_details)

      .text-center
        = image_tag('landing/hero/dematerialiser.svg', "aria-hidden": true)
