- row_dom_id = "row-#{SecureRandom.hex(4)}"
.row{ id: row_dom_id }
  - @row.each do |champ|
    = fields_for champ.input_name, champ do |form|
      = render EditableChamp::EditableChampComponent.new form: form, champ: champ, seen_at: @seen_at

  .flex.row-reverse{ 'data-turbo': 'true' }
    = link_to champs_repetition_path(@champ.id, champ_ids: @row.map(&:id), row_id: row_dom_id), data: { turbo_method: :delete }, class: 'fr-btn fr-btn--sm fr-btn--tertiary fr-text-action-high--red-marianne' do
      Supprimer l’élément
