.fr-fieldset__element.fr-my-0
  %fieldset.fr-fieldset.fr-my-0{ class: "reset-#{tag_for_depth}" }
    %legend.fr-fieldset__legend
      = render EditableChamp::HeaderSectionComponent.new(champ: header_section)
    = render EditableChamp::EditableChampComponent.new champs: header_section.children
