- if export.present?
  %div{ data: !export.available? && !export.failed? ? { controller: "turbo-poll", turbo_poll_url_value: polling_last_export_instructeur_procedure_path(export_format: export.format, statut: statut), turbo_poll_interval_value: 5_000 } : {} }
    = render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: 'fr-my-2w') do |c|
      - c.with_body do
        %p
          - if export.failed?
            = t('instructeurs.procedures.last_export_failed', file_format: export.format)
          - elsif export.available?
            = t('instructeurs.procedures.last_export_available_html', file_format: export.format, file_url: export.file.url)
          - else
            = t('instructeurs.procedures.last_export_pending')
