- if @has_last_export.present?
  %div{ data: @has_last_export.pending? ? { controller: "turbo-poll", turbo_poll_url_value: polling_last_export_instructeur_procedure_path(export_format: @has_last_export.format, statut: @statut), turbo_poll_interval_value: 5_000, turbo_poll_max_checks_value: 6 } : {} }
    = render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: 'fr-my-2w') do |c|
      - c.body do
        %p
          - if @has_last_export.pending?
            = t('instructeurs.procedures.last_export_pending')
          - if @has_last_export.generated?
            = t('instructeurs.procedures.last_export_available_html', file_format: @has_last_export.format, file_url: @has_last_export.file.url)
          - if @has_last_export.failed?
            = t('instructeurs.procedures.last_export_failed', file_format: @has_last_export.format)
