- content_for(:title, "Administrateurs de #{@procedure.libelle}")

.sub-header= render partial: 'instructeurs/breadcrumbs',
  locals: { steps: [[t('show_procedure', scope: [:layouts, :breadcrumb, :instructeur], libelle: @procedure.libelle.truncate(22)), instructeur_procedure_path(@procedure)],
                    ['Administrateurs']] }

.container
  %h1
    = t('instructeurs.procedures.administrators_list.title', procedure_id: @procedure.id, procedure_libelle: @procedure.libelle)

  %ul
    - @administrateurs.each do |admin|
      %li= admin.email
