- content_for(:title, "#{@procedure.libelle}")

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [[@procedure.libelle.truncate_words(10), instructeur_procedure_path(@procedure)],
                    ['Historique des dossiers supprimés']] }

.fr-container
  .fr-mb-3w
    = link_to "Retour à la démarche", instructeur_procedure_path(@procedure), class: "fr-link fr-icon-arrow-left-line fr-link--icon-left"

= render Dossiers::DeletedDossiersComponent.new(deleted_dossiers: @deleted_dossiers)
