- content_for(:title, "#{@procedure.libelle}")

.sub-header
  .fr-container.flex
    = render partial: 'instructeurs/procedures/header',
      locals: { procedure: @procedure }


= render Dossiers::DeletedDossiersComponent.new(deleted_dossiers: @deleted_dossiers)
