- content_for(:title, "Démarches")

.container
  %h1.page-title Démarches

  = render partial: 'instructeurs/procedures/list', locals: { procedures: @procedures,
    dossiers_count_per_procedure: @dossiers_count_per_procedure,
    dossiers_a_suivre_count_per_procedure: @dossiers_a_suivre_count_per_procedure,
    dossiers_archived_count_per_procedure: @dossiers_archived_count_per_procedure,
    dossiers_termines_count_per_procedure: @dossiers_termines_count_per_procedure,
    followed_dossiers_count_per_procedure: @followed_dossiers_count_per_procedure }
