- title = "Statistiques de la démarche"
- content_for(:title, title)

.sub-header
  .fr-container.flex.column
    = render partial: 'instructeurs/breadcrumbs',
      locals: { steps: [[@procedure.libelle.truncate_words(10), instructeur_procedure_path(@procedure)],
                        [t('instructeurs.dossiers.header.banner.statistics')]] }

    = render partial: 'instructeurs/procedures/header',
      locals: { procedure: @procedure }

= render partial: 'shared/procedures/stats', locals: { title: title }
