= turbo_stream.replace 'filter-component' do
  = render Instructeurs::ColumnFilterComponent.new(procedure_presentation: @procedure_presentation, statut: @statut, instructeur_procedure: @instructeur_procedure, column: @column)
