- content_for(:title, t('instructeurs.dossiers.header.banner.users_with_rdvs'))

.sub-header
  .fr-container.flex.column
    = render partial: 'instructeurs/breadcrumbs',
      locals: { steps: [[t('show_procedure', scope: [:layouts, :breadcrumb], libelle: @procedure.libelle.truncate(22)), instructeur_procedure_path(@procedure)],
                        [t('instructeurs.dossiers.header.banner.users_with_rdvs')]] }
    = render partial: 'instructeurs/procedures/header',
      locals: { procedure: @procedure }

.messagerie.fr-container
  %h1.fr-h4= t('instructeurs.dossiers.header.banner.users_with_rdvs')

  - @rdvs.booked.each do |rdv|
    = render Instructeurs::RdvCardComponent.new(rdv:, with_dossier_infos: true)
