%p
  Bonjour,

%p
  Vous venez d'être nommé instructeur sur demarches-simplifiees.fr.
  = "Votre compte (#{@email}) vous donnera désormais aussi accès à l’espace instructeur."

= render partial: "layouts/mailers/signature"
