Bienvenue sur demarches-simplifiees.fr,
\
Vous venez d'être nommé instructeur sur demarches-simplifiees.fr.
Votre compte (#{@email}) vous donnera désormais aussi accès à l’espace instructeur.
\
Bonne journée,
\
L'équipe demarches-simplifiees.fr
