Bienvenue sur demarches-simplifiees.fr,
\
Vous venez d'être nommé accompagnateur sur demarches-simplifiees.fr.
Votre compte (#{@email}) vous donnera désormais aussi accès à l’espace accompagnateur.
\
Bonne journée,
\
L'équipe demarches-simplifiees.fr
