@import "../constants";

.piece-justificative-actions {
  display: flex;
}

.piece-justificative-action {
  margin-right: $default-spacer;

  .button {
    text-transform: lowercase;
  }
}

.piece-justificative-input.hidden {
  display: none;
}
