= @form.text_field :value,
  id: @champ.input_id,
  placeholder: t(".placeholder"),
  required: @champ.required?,
  aria: { describedby: @champ.describedby_id },
  data: { controller: 'iban-input'},
  class: "width-66-desktop",
  maxlength: 34 + 9 # count space separator of 4 digits-groups
