= render 'main_menu'

.sub-header

.fr-container#groupe_gestionnaire
  %table.fr-table.width-100.mt-3
    %thead
      %tr
        %th{ scope: "col" }
          Nom

    %tbody
      - @groupe_gestionnaires.each do |groupe_gestionnaire|
        %tr
          %td
            = link_to groupe_gestionnaire.name, gestionnaire_groupe_gestionnaire_path(groupe_gestionnaire)
