
= form.password_field :password, autofocus: false,  autocomplete: 'off', placeholder: 'Mot de passe', data: { remote: true, url: test_password_strength }

#strength-bar.password-strength
  &nbsp;

.explication
  #strength-label{ style: 'font-weight: bold' }
    Inscrivez un mot de passe.
  Une courte phrase avec ponctuation peut être un mot de passe très sécurisé.
