= form.password_field :password, autofocus: true,  autocomplete: 'off', placeholder: 'Mot de passe', data: { remote: true, url: url_for(controller: controller, action: 'test_strength') }

#strength-bar.password-strength
  &nbsp;

.explication
  #strength-label{ style: 'font-weight: bold' }
    Inscrivez un mot de passe.
  Une courte phrase avec ponctuation peut être un mot de passe très sécurisé.

