= form.password_field :password, autocomplete: 'new-password', autofocus: false,  placeholder: 'Mot de passe', 'aria-describedby': :user_password_label, data: { remote: true, url: test_password_strength }

#strength-bar.password-strength
  &nbsp;

.explication
  #strength-label{ style: 'font-weight: bold' }
    Inscrivez un mot de passe.
  Une courte phrase avec ponctuation peut être un mot de passe très sécurisé.
