#strength-label
  - if @length > 0
    - if @length < @min_length
      Le mot de passe doit faire au moins #{@min_length} caractères.
    - else
      - case @score
        - when 0..1
          Mot de passe très vulnérable.
        - when 2...@min_complexity
          Mot de passe vulnérable.
        - when @min_complexity...4
          Mot de passe acceptable. Vous pouvez valider...<br> ou améliorer votre mot de passe.
        - else
          Félicitations ! Mot de passe suffisamment fort et sécurisé.
  - else
    Inscrivez un mot de passe.
  -# &nbsp;#{@min_length} et c=#{@min_complexity}
  -# if @words.present?
    <br>Vulnérabilité(s): #{@words}
