%div{ data: poll_controller_options }
  - if long_pending?
    = render Dsfr::CalloutComponent.new(title: nil) do |c|
      - c.with_body do
        = t(".explanation")
      - c.with_bottom do
        = button_tag t(".reload"), type: "button", class: "fr-btn", data: { action: 'click->turbo-poll#refresh' }
