%div{ id: dom_id(attachment, :show), class: class_names("attachment-error": error?, "fr-mb-2w": !should_display_link?) }
  - if should_display_link?
    = render Dsfr::DownloadComponent.new(attachment: attachment) do |c|
      - if !attachment.virus_scanner.started?
        - c.right do
          (ce fichier n’a pas été analysé par notre antivirus, téléchargez-le avec précaution)

  - else
    .attachment-filename.fr-mb-1w.fr-mr-1w= attachment.filename.to_s

    = render Attachment::ProgressComponent.new(attachment: attachment)

  - if error?
    %p.fr-error-text= error_message
