- if resources.singleton_class.included_modules.include?(Kaminari::PaginatableWithoutCount)
  %nav.pagination
    = link_to_prev_page resources, t("views.pagination.previous").html_safe, param_name: "_page"
    = link_to_next_page resources, t("views.pagination.next").html_safe, param_name: "_page"
- else
  = paginate resources, param_name: local_assigns.fetch(:param_name) { "_page" }
