= render Referentiels::StepperComponent.new(
  step_component: Referentiels::MappingFormComponent.new(
    referentiel: @referentiel,
    type_de_champ: @type_de_champ,
    procedure: @procedure
  )
)
