.fr-container.fr-mt-6w.fr-mb-15w
  = link_to " Champs du formulaire", champs_admin_procedure_path(@procedure), class: 'fr-link fr-icon-arrow-left-line fr-link--icon--left fr-icon--sm'
  %h3.fr-my-3w
    Configuration du champ « #{@type_de_champ.libelle} »

  .fr-stepper
    %h2.fr-stepper__title
      Pré remplissage des champs et/ou affichage des données récupérées
      %span.fr-stepper__state Étape 3 sur 3

    .fr-stepper__steps{ data: { "fr-current-step" => "2", "fr-steps" => "3" } }

