.link-to-dossiers
  = link_to 'retour aux dossiers', users_dossiers_path

#first-block
  .en-cours
    %h2 Récapitulatif
  .infos
    %div= t('dynamics.dossiers.numéro') + @facade.dossier.id.to_s

#menu-block

#infos-block
  .split-hr-left
  .dossier-state= @facade.dossier.display_state
  .split-hr-left
