.link-to-dossiers
  = link_to 'retour aux dossiers', dossiers_path

#first-block
  .en-cours
    %h2 Récapitulatif
  .infos
    %div= t('dynamics.dossiers.numéro') + @facade.dossier.id.to_s

#menu-block

#infos-block
  .split-hr-left
  .dossier-state= @facade.dossier.display_state
  .split-hr-left

  - if current_user.owns?(@facade.dossier) && !@facade.dossier.instruction_commencee?
    .text-center.mt-1
      = link_to ask_deletion_dossier_path(@facade.dossier), method: :post, class: "btn btn-danger", data: { confirm: "Vous vous apprêtez à supprimer votre dossier ainsi que les informations qu’il contient. Nous vous rappelons que toute suppression entraine l’annulation de la démarche en cours.\n\n Confirmer la suppression ?" } do
        Supprimer définitivement
        %br
        ce dossier
