#first-block
  .en-cours
    - if @procedure.logo.present?
      = image_tag logo_img(@procedure), style: 'width: 30px;'
    %b
      = @procedure.libelle

#action-block

#menu-block
  .split-hr-left
  #procedure-list
    %a#onglet-infos{ href: url_for(admin_procedure_path(@procedure)) }
      .procedure-list-element{ class: ('active' if active == 'Informations') }
        - if @procedure.brouillon_avec_lien?
          Test et publication
        - else
          Publication

    %a#onglet-description{ href: url_for(edit_admin_procedure_path(@procedure)) }
      .procedure-list-element{ class: ('active' if active == 'Description') }
        Description

    %a#onglet-services{ href: (@procedure.service.present? || current_administrateur.services.present?) ? url_for(services_path(procedure_id: @procedure.id)) : url_for(new_service_path(procedure_id: @procedure.id)) }
      .procedure-list-element
        Service
        - if @procedure.missing_steps.include?(:service)
          %p.missing-steps (à compléter)

    %a#onglet-administrateurs{ href: url_for(procedure_administrateurs_path(@procedure)) }
      .procedure-list-element{ class: ('active' if active == 'Administrateurs') }
        Administrateurs

    %a#onglet-instructeurs{ href: url_for(admin_procedure_instructeurs_path(@procedure)) }
      .procedure-list-element{ class: ('active' if active == 'Instructeurs') }
        Instructeurs
        - if @procedure.missing_steps.include?(:instructeurs)
          %p.missing-steps (à compléter)

    - if !@procedure.locked?
      - champs_editor_path = Flipflop.new_champs_editor? ? champs_procedure_path(@procedure) : admin_procedure_types_de_champ_path(@procedure)
      %a#onglet-champs{ href: champs_editor_path }
        .procedure-list-element{ class: ('active' if active == 'Champs') }
          Champs

    - if !@procedure.locked?
      %a#onglet-pieces{ href: url_for(admin_procedure_pieces_justificatives_path(@procedure)) }
        .procedure-list-element{ class: ('active' if active == 'Pieces') }
          Pièces jointes

    - if !@procedure.locked?
      - annotations_editor_path = Flipflop.new_champs_editor? ? annotations_procedure_path(@procedure) : admin_procedure_types_de_champ_private_path(@procedure)
      %a#onglet-private-champs{ href: annotations_editor_path }
        .procedure-list-element{ class: ('active' if active == 'Annotations privées') }
          Annotations privées

    %a#onglet-preview{ href: url_for(apercu_procedure_path(@procedure)), target: "_blank", rel: "noopener" }
      .procedure-list-element{ class: ('active' if active == 'Prévisualisation') }
        Prévisualisation

    %a#onglet-inemailsfos{ href: url_for(admin_procedure_mail_templates_path(@procedure)) }
      .procedure-list-element{ class: ('active' if active == 'E-mails') }
        E-mails

    %a#onglet-attestation{ href: url_for(edit_admin_procedure_attestation_template_path(@procedure)) }
      .procedure-list-element{ class: ('active' if active == 'Attestation') }
        Attestation

  .split-hr-left


#infos-block
