%div#first-block
  %div
    =@facade_data_view.total_dossier
    DOSSIERS EN COURS
  %div
    =@facade_data_view.total_new_dossier
    NOUVEAUX DOSSIERS

%div#action-block

%div#menu-block

%div#infos-block
  #procedure_list
    %div.procedure_list_element
    - @facade_data_view.gestionnaire_procedures_name_and_id_list.each do |procedure|
      %div.procedure_list_element
        =link_to truncate(procedure[:libelle], {length: 50}), backoffice_dossiers_procedure_path(procedure[:id]),{title: procedure[:libelle]}

