.link-to-dossiers
  = link_to 'retour aux dossiers', users_dossiers_path

#first-block
  .en-cours
    %h2 Récapitulatif
  .infos
    %div= t('dynamics.dossiers.numéro') + @facade.dossier.id.to_s

#menu-block

#infos-block
  .split-hr-left
  .dossier-state= @facade.dossier.display_state
  .split-hr-left

  - if current_user.owns?(@facade.dossier)
    .text-center.mt-1
      = link_to ask_deletion_dossier_path(@facade.dossier), method: :post, class: "btn btn-danger", data: { confirm: delete_dossier_confirm(@facade.dossier) } do
        Supprimer définitivement
        %br
        ce dossier
