%div#first-block
  %div.infos
    %div #{@facade.dossier.nom_projet}
    %div= t('dynamics.dossiers.numéro') + @facade.dossier.id.to_s
    %div= @facade.dossier.display_state

%div#action-block
  %div.action FIGER LE DOSSIER

%div#menu-block

%div#infos-block
