- if gestionnaire_signed_in?
  = link_to 'nouvelle interface', procedures_path, class: 'new-design-button'

#search-area
  = form_tag(backoffice_dossiers_search_url, method: :get) do
    .input-group
      = text_field_tag('q', "#{@search_terms if @search_terms.present?}", id: 'q', placeholder: "Recherchez parmi tous vos dossiers", class: 'form-control')
      %span.input-group-btn
        %button.btn.btn-default#search-button
          %i.fa.fa-search
