- case notification.type_notif
- when "commentaire"
  .type-notif.fa.fa-comments-o
- when "submitted"
  .type-notif.fa.fa-thumbs-o-up
- when "champs"
  .type-notif.fa.fa-list-alt
- when "piece_justificative"
  .type-notif.fa.fa-chain
