%template#progress-bar-template
  .direct-upload
    .direct-upload__progress{ role: "progressbar", 'aria-label': t(".loading"), tabindex: "0", 'aria-valuemin': "0", 'aria-valuemax': "100", max: "100", style: "width: 0%" }
    %span.direct-upload__filename
      %slot{ name: "filename" }
