= link_to edit_admin_procedure_dossier_submitted_message_path(@procedure), class: 'fr-tile fr-enlarge-link' do
  .fr-tile__body.flex.justify-between
    - if @procedure.active_dossier_submitted_message.present?
      %div
        %span.icon.accept
        %p.fr-tile-status-accept Validé
    - else
      %div
        %span.icon.clock
        %p.fr-tile-status-todo À configurer
    %div
      %h3.fr-h6.fr-mt-10v= t('.title')
      %p.fr-tile-subtitle Orienter l'usager suite à l'envoi de son dossier
    %p.fr-btn.fr-btn--tertiary= t('views.shared.actions.edit')
