- content_for(:title) { "Sélection des démarches" }

.fr-container.fr-my-6w
  %h1.fr-h1 Récupération de dossiers

  %h2.fr-h2 Sélection des démarches
  = form_tag nil, data: { controller: 'enable-submit-if-checked' } do
    %fieldset#checkboxes.fr-fieldset{ 'aria-labelledby': "checkboxes-legend checkboxes-messages",
      data: { 'action': "click->enable-submit-if-checked#click" } }
      %legend#checkboxes-legend.fr-fieldset__legend--regular.fr-fieldset__legend
        Sélectionner les démarches que vous souhaitez récuperer.

      - recoverable_id_and_libelles(@recoverables).each do |procedure_id, libelle|
        .fr-fieldset__element
          .fr-checkbox-group
            = check_box_tag 'procedure_ids[]', procedure_id, false, class: 'fr-checkbox', id: procedure_id
            = label_tag procedure_id, libelle, class: 'fr-label'

    = hidden_field_tag 'previous_email', @previous_email
    %button.fr-btn{ disabled: true,  data: { 'enable-submit-if-checked-target': 'submit' } } Continuer
