- content_for(:title) { "Récupération terminée" }

.fr-container.fr-my-6w
  %h1.fr-h1 Récupération de dossiers

  %h2.fr-h2 Récupération terminée

  %p Les dossiers vous ont été réaffectés.

  = link_to "Voir mes dossiers", dossiers_path, class: "fr-btn"
