{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        // See config/browser.rb
        "browsers": [
          "> 1%",
          "Chrome >= 40",
          "IE >= 11",
          "Edge >= 12",
          "Firefox >= 45",
          "Safari >= 8",
          "iOS >= 8"
        ],
        "uglify": true
      },
      "useBuiltIns": true
    }]
  ],

  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ]
}
