.super-admin.flex.justify-center
  %div
    %h2.huge-title Espace Manager
    %p Munissez-vous de votre téléphone sur lequel vous avez installé une application cliente 2FA (Google Authenticator, Authy, AndOTP, ...)
    %br
    %p= link_to "Activer l'authentification double-facteur", enable_super_admin_otp_path, method: :put, class: 'fr-btn fr-btn--lg'
