.commentaire
  .comment-header
    = commentaire.header
  .content
    = sanitize(commentaire.body)
  - if file = commentaire.piece_justificative
    .file
      = link_to file.content_url, class: 'link', target: '_blank' do
        %span.fa.fa-file
        %div
          = file.original_filename
