= form_tag(url_for({ controller: 'commentaires', action: :create, dossier_id: dossier_facade.dossier.id, champ_id: dossier_facade.champ_id }), class: 'form-inline', method: 'POST', multipart: true) do

  %textarea.form-control.wysihtml5#texte_commentaire{ name: 'texte_commentaire', style: 'width: 100%; margin-bottom: 2%;', rows: '5', placeholder: "Commentaire" }

  .row
    .col-md-6
      %h4.text-primary{ style: 'margin-top: 0px;' } Ajouter un fichier
      = file_field_tag "file", accept:  Commentaire.new.file.accept_extension_list, style: 'float: left; margin-left: 20px;'
    .col-md-6.text-right
      = submit_tag 'Envoyer', id: 'save-message', class: 'form-control btn btn-danger', data: { disable_with: 'Envoi...' }
