= button_to instructeur_rdvs_path(@dossier.procedure, @dossier), data: { turbo: false }, method: :post, class: 'fr-btn' do
  = t('.schedule_rdv')
  %span.fr-ml-1w.fr-icon-external-link-line{ "aria-hidden": "true" }
