.content#commentaires_flux
  %h3 Commentaires

  %div{style: 'margin-left:3%; width:80%'}
    -@commentaires.each do |com|
      %span.text-info#email_contact{style: 'font-weight:bold'}
        =com.email
      %span#created_at
        \-
        =com.created_at_fr
      %br
      .description#body
        =com.body
      %br

    %h4{style: 'margin-bottom:2%'} Nouveau
    = form_tag(url_for({controller: '/commentaires', action: :create}), class: 'form-inline', method: 'POST') do
      %input.form-control{:type => 'text', style: 'width: 30%; margin-bottom:2%', :id => 'email_commentaire', :name => 'email_commentaire', :value => @commentaire_email}
      %textarea.form-control{:id => 'texte_commentaire', :name => 'texte_commentaire', style: 'width: 100%; margin-bottom:2%', rows: '5', maxlength: '255'}
      %br
      %input.form-control.btn.btn-success{:type => 'submit', :value => 'Poster', style: 'float:right'}
%br
%br
%br