:ruby
  group = field.resource.class.name.downcase
  user = field.resource.user
  url = enable_feature_manager_user_path(user)

%table#features
  - Flipper.features.select { |feature| feature.key.start_with?("#{group}_") }.each do |feature|
    %tr
      %td= feature
      %td
        = check_box_tag "enable-feature", "enable", feature.enabled?(user), data: { url: url, key: feature.key }
