- if @last_commentaire.discarded?
  = turbo_stream.update @last_commentaire do
    = render(GroupeGestionnaire::GroupeGestionnaireCommentaires::CommentaireComponent.new(commentaire: @last_commentaire, connected_user: current_gestionnaire))
