- content_for(:title, "Choix du mot de passe")

- content_for :footer do
  = render partial: "root/footer"

= render 'shared/password/new', object: @user, controller: 'users/activate', test_password_strength: @test_password_strength
