.sub-header
  .container
    .flex.justify-between.align-baseline
      .title-container
        %h1
          %span.icon.folder
          = dossier.procedure.libelle
        %h2
          Dossier nº #{dossier.id}

      = render partial: 'shared/dossiers/status', locals: { dossier: dossier }

    %ul.tabs
      %li.active
        = link_to "Résumé", dossier_path(dossier)
