= turbo_frame_tag "rdv-connection-info" do
  .card
    .card-title Compte RDV Service Public

    %p Votre compte Démarches Simplifiées avec l'adresse email <b>#{current_instructeur.email}</b> est connecté au compte RDV Service Public avec l'adresse email <b>#{@rdv_email}</b>.

    %p Si vous souhaitez connecter ce compte Démarches Simplifiées à un autre compte RDV Service Public, vous pouvez supprimer cette connexion.

    = link_to('Supprimer la connexion', instructeur_rdv_connections_path, class: 'fr-btn fr-btn--sm fr-btn--secondary', method: :delete)
