- content_for(:title, @subject)

%p
  Bonjour,

%p
  Une demande de création de compte a été réalisée sur le site #{SITE_NAME} pour l'email #{@user.email}.

%p
  Votre compte existe déjà. Si vous souhaitez changer votre mot de passe, veuillez suivre les instructions à l'adresse suivante
  #{link_to(new_password_url(@user), new_password_url(@user))}.

%p
  Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer ce mail.

= render partial: "layouts/mailers/signature"
