= form_with url: @action_path,
  class: @form_class,
  id: 'select-procedure-drop-down-list-component',
  data: { turbo: false, controller: 'autosubmit' } do

  .flex.align-center
    = label_tag :procedure_id, t('.label'), class: 'fr-label font-weight-bold fr-mr-2w', id: 'select-procedure-drop-down-list-label', for: 'select-procedure-drop-down-list'
    %react-fragment.flex-1
      = render ReactComponent.new "ComboBox/SingleComboBox", **react_props

    %input.hidden{
      type: 'submit',
      formmethod: 'get',
      formaction: @action_path,
      formnovalidate: 'true',
      data: { autosubmit_target: 'submitter' }
    }
