---
http_interactions:
- request:
    method: get
    uri: https://fcp.integ01.dev-franceconnect.fr/api/v1/userinfo
    headers:
      Authorization:
      - Bearer ca2b5f0d-ce03-430c-bb71-fbe73073ee33
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"given_name":"Angela Claire Louise","family_name":"DUBOIS","birthdate":"1962-08-24","gender":"female","preferred_username":"","email":"wossewodda-3728@yopmail.com","sub":"b6048e95bb134ec5b1d1e1fa69f287172e91722b9354d637a1bcf2ebb0fd2ef5v1"}
  recorded_at: Fri, 04 Jun 2021 15:15:16 GMT
recorded_with: VCR 6.0.0
