- content_for :footer do
  = render partial: "new_user/dossiers/footer", locals: { dossier: @dossier }

.dossier-edit
  .dossier-header
    .container
      %h1
        %span.icon.folder
        = @dossier.procedure.libelle

  = render partial: "shared/dossiers/edit", locals: { dossier: @dossier, apercu: false }
