#dossier-show
  = render partial: 'new_user/dossiers/show/header', locals: { dossier: @dossier }

  .container
    = render partial: 'new_user/dossiers/show/status_progress', locals: { dossier: @dossier }
