- content_for(:title, "Résumé · Dossier nº #{@dossier.id} (#{@dossier.procedure.libelle})")

#dossier-show
  = render partial: 'new_user/dossiers/show/header', locals: { dossier: @dossier }

  .container
    = render partial: 'new_user/dossiers/show/status_overview', locals: { dossier: @dossier }
