.fr-container
  %h1.text-center.mt-1 Renvoyer le lien de confirmation

  %p Bonjour #{@user.email}

  %p Cliquez sur le bouton ci-dessous pour recevoir un nouveau lien de confirmation à votre adresse email.

  = form_with url: france_connect_post_resend_confirmation_path, method: :post, local: true do |form|
    = form.hidden_field :token, value: @user.confirmation_token
    .form-group
      = form.submit "Renvoyer le lien de confirmation", class: 'fr-btn'
