$blue: #4393F3;
$light-blue: rgba(61, 149, 236, 0.8);
$black: #333333;
$grey: #999999;
$light-grey: #F8F8F8;
$border-grey: #CCCCCC;
$dark-red: #A94442;
$light-red: #EBCCD1;
$lighter-red: #F2DEDE;
$green: #35D49E;
$orange: #F59415;
