$blue: #0069cc;
$light-blue: #1C7EC9;
$lighter-blue: #C3D9FF;
$black: #333333;
$grey: #999999;
$light-grey: #F8F8F8;
$border-grey: #CCCCCC;
$dark-red: #A10005;
$medium-red: rgba(161, 0, 5, 0.9);
$red: #e11619;
$light-red: #ED1C24;
$lighter-red: #F52A2A;
$green: #15AD70;
$lighter-green: lighten($green, 30%);
$light-green: lighten($green, 25%);
$dark-green: darken($green, 20%);
$orange: #F28900;
$orange-bg: lighten($orange, 35%);
$light-yellow: #FFFFDE;
$yellow: #ffdb10;
$brown: #924e17;

$nav-bar-fg: #FFFFFF;
$nav-bar-bg: $red;
$nav-bar-link:$yellow;

