$blue: #0069CC;
$light-blue: #1C7EC9;
$lighter-blue: #C3D9FF;
$black: #333333;
$white: #FFFFFF;
$grey: #888888;
$light-grey: #F8F8F8;
$dark-grey: #666666;
$border-grey: #CCCCCC;
$darker-red: #530B0D;
$dark-red: #A10005;
$medium-red: rgba(161, 0, 5, 0.9);
$red: #E11619;
$light-red: #ED1C24;
$lighter-red: #F52A2A;
$background-red: #FFDFDF;
$green: darken(#169862, 5%);
$old-green: #15AD70;
$lighter-green: lighten($old-green, 30%);
$light-green: lighten($old-green, 25%);
$dark-green: darken($old-green, 20%);
$orange: #F28900;
$orange-bg: lighten($orange, 35%);
$light-yellow: #FFFFDE;
$yellow: #FFDB10;
$brown: #924E17;

$nav-bar-fg: #FFFFFF;
$nav-bar-bg: $red;
$nav-bar-link: $yellow;

