$blue: #0069CC;
$light-blue: #1C7EC9;
$black: #333333;
$grey: #999999;
$light-grey: #F8F8F8;
$border-grey: #CCCCCC;
$dark-red: #A10005;
$light-red: #ED1C24;
$lighter-red: #F52A2A;
$green: #15AD70;
$lighter-green: lighten($green, 30%);
$light-green: lighten($green, 25%);
$dark-green: darken($green, 20%);
$orange: #F28900;
$orange-bg: lighten($orange, 35%);
