$page-width: 1040px;
$small-page-width: 840px;

$default-spacer: 8px;
$default-padding: 2 * $default-spacer;

// layouts
$two-columns-padding: 60px;
$two-columns-breakpoint: $page-width + (2 * $two-columns-padding);
