$page-width: 1040px;
$small-page-width: 840px;

$default-spacer: 8px;
$default-padding: 2 * $default-spacer;
$default-fields-spacer: 5 * $default-spacer;

// layouts
$two-columns-padding: 60px;
$two-columns-breakpoint: 980px;
$sub-header-bottom-margin: 3 * $default-spacer;

// z-order
$alert-z-index: 100;
