@import "constants";
@import "mixins";

%horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0px;
  display: flex;
  flex-wrap: wrap;
}

%horizontal-list-item {
  display: inline-block;
}

%page-width-container {
  @include horizontal-padding($default-padding);
  max-width: $page-width + 2 * $default-padding;
  margin: 0 auto;
}

%animation {
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}
