@import "colors";
@import "mixins";

.tabs {
  li {
    display: inline-block;
    margin-right: 40px;
  }

  a {
    @include vertical-padding(14px);
    display: block;
    color: $black;
    font-size: 22px;

    &.selected,
    &:hover {
      border-bottom: 2px solid $blue;
      padding-bottom: 12px;
    }
  }
}
