$default-space: 15px;
$new-p-margin-bottom: 3 * $default-space;

.accessibilite {
  width: 1040px;
  margin: 0 auto;
  padding-top: $default-space * 2;
  padding-bottom: $default-space * 2;

  ul {
    list-style-type: disc;
    margin-top: -($default-space * 2);
  }
}

.new-p {
  margin-bottom: $new-p-margin-bottom;
}

// A class to make elements only accessible to screen-readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: none;
}
