@import "colors";
@import "constants";

#attestation-template-edit {
  .text-active {
    color: $green;
  }

  .text-inactive {
    color: $grey;
  }
}

#tags-table {
  margin-top: -20px;
  margin-bottom: 40px;

  .add-tag-title {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .head {
    padding: 10px 0px;
    font-weight: bold;
    display: flex;
  }

  .items {
    max-height: 210px;
    overflow-y: auto;
    border-bottom: 1px solid $border-grey;
  }

  .item {
    display: flex;
    padding: 10px 0;
    border-bottom: solid 1px $border-grey;

    .tag {
      font-weight: bold;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .tag {
    width: 35%;
  }

  .description {
    width: 65%;
  }
}
