@import "colors";
@import "placeholders";
@import "mixins";

$auth-breakpoint: 820px;

@media (max-width: $auth-breakpoint) {
  .preview {
    display: none;
  }

  .two-columns .column.auth-form {
    @include horizontal-padding(0);
    width: 100%;
  }
}

@media (max-width: $auth-breakpoint) {
  .two-columns.auth {
    background: #FFFFFF;
  }
}

.preview {
  font-size: 24px;

  .paperless-logo {
    width: 100%;
    margin-bottom: 60px;
  }

  h3 {
    color: $blue;
    font-weight: bold;
  }

  .close-procedure {
    font-size: 12px;
  }

  .procedure-title {
    font-size: 30px;
    margin: 50px 0 32px;
  }

  .procedure-description {
    font-size: 14px;
  }

  .procedure-logos {
    display: flex;
    justify-content: space-around;

    img {
      max-height: 130px;
      margin: 0 10px;
    }
  }
}

.auth-form {
  font-size: 14px;

  .reset-password {
    margin-top: 8px;
  }

  .separation {
    font-size: 14px;
    color: $grey;
    margin: 24px 0;
  }

  .login-with-fc {
    display: inline-block;
    height: 52px;
    width: 186px;
    margin: auto;
    margin-bottom: 8px;
    background-image: image-url("login-with-fc.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    &:hover {
      background-image: image-url("login-with-fc-hover.svg");
    }
  }

  hr {
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: $grey;
    border: none;
    height: 1px;
  }

  .register {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
