@import "colors";
@import "constants";
@import "placeholders";
@import "mixins";

$auth-breakpoint: $two-columns-breakpoint;

.preview {
  font-size: 24px;

  .paperless-logo {
    width: 100%;
    margin-bottom: 60px;

    @media (max-width: $auth-breakpoint) {
      display: none;
    }
  }

  h3 {
    color: $blue;
    font-weight: bold;
  }

  .close-procedure {
    font-size: 12px;
  }

  .procedure-title {
    font-size: 30px;
    margin: 20px 0 0;

    @media (min-width: $auth-breakpoint) {
      margin: 50px 0 32px;
    }
  }

  .procedure-description {
    font-size: 14px;

    p {
      margin-bottom: 2 * $default-spacer;
    }

    @media (max-width: $auth-breakpoint) {
      display: none; // TO FIX : make this description available for small devices
    }
  }

  .procedure-logos {
    display: flex;
    justify-content: space-around;

    img {
      max-height: 50px;
      max-width: 100%;
      margin: 0 10px;

      @media (min-width: $auth-breakpoint) {
        max-height: 130px;
        max-width: 500px;
      }
    }
  }
}

.auth-form {
  .reset-password {
    margin-top: - 3 * $default-spacer;
    margin-bottom: $default-spacer;
  }

  .remember-me {
    display: inline-block;
  }

  .separation {
    font-size: 14px;
    color: $grey;
    margin: 24px 0;
  }

  .login-with-fc {
    display: inline-block;
    height: 52px;
    width: 186px;
    margin: auto;
    margin-bottom: 8px;
    background-image: image-url("login-with-fc.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    &:hover {
      background-image: image-url("login-with-fc-hover.svg");
    }
  }

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: $grey;
    border: none;
    height: 1px;
  }

  .register {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .auth-signup-button {
    white-space: nowrap;
  }
}

.identity-form {
  @media (max-width: $two-columns-breakpoint) {
    input[type=submit] {
      margin-bottom: 2 * $default-padding;
    }
  }
}
