@import "colors";
@import "constants";
@import "placeholders";
@import "mixins";

.auth-form {
  .auth-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4 * $default-spacer;
  }

  .remember-me {
    display: inline-block;
    margin-bottom: 0;
  }

  .separation {
    font-size: 14px;
    color: $grey;
    margin: 24px 0;
  }

  .login-with-fc {
    display: inline-block;
    height: 52px;
    width: 186px;
    margin: auto;
    margin-bottom: 8px;
    background-image: image-url("login-with-fc.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    &:hover {
      background-image: image-url("login-with-fc-hover.svg");
    }
  }

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: $grey;
    border: none;
    height: 1px;
  }

  .register {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .auth-signup-button {
    white-space: nowrap;
  }
}

.sign-in-form .form {
  input[type="password"] {
    margin-bottom: $default-spacer;
  }

  input[type="checkbox"] {
    margin-bottom: 0;
  }
}
