@import "typography";
@import "colors";

.avis-sign-up {
  .left {
    p {
      margin: auto;
      max-width: 410px;
      text-align: center;
    }

    .description {
      font-size: 30px;
      line-height: 1.3;
    }

    .dossier {
      font-size: 18px;
      font-weight: bold;
      margin-top: 15px;
    }
  }
}
