@import "colors";
@import "constants";

.button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid $border-grey;
  font-size: 14px;
  background-color: #FFFFFF;
  color: $black;
  cursor: pointer;
  -webkit-appearance: none;

  &:hover {
    background: $light-grey;
    text-decoration: none;
  }

  &.primary {
    color: #FFFFFF;
    border-color: $blue;
    background-color: $blue;

    &:hover {
      background: $light-blue;
    }
  }

  &.secondary {
    color: $blue;
    border-color: $blue;
    background-color: #FFFFFF;

    &:hover {
      color: #FFFFFF;
      background: $light-blue;
    }
  }

  &.large {
    font-size: 18px;
    padding: 15px 32px;
  }

  &.expand {
    width: 100%;
  }

  > i {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    vertical-align: middle;
    margin-right: $default-spacer;
  }
}

.link {
  color: $blue;
}
