@import "constants";

.commencer {
  @media (min-width: $two-columns-breakpoint) {
    .button:first-of-type {
      margin-top: 4 * $default-spacer;
    }
  }

  .button {
    margin-bottom: 2 * $default-spacer;
  }

  @media (max-width: 450px) {
    .optional-on-small-screens {
      display: none;
    }
  }
}
