$default-space: 15px;
$contact-padding: $default-space * 2;

#contact-form {
  margin: 0 auto;
  padding-top: $contact-padding;

  .description {
    padding-bottom: $contact-padding;
  }

  .hidden {
    display: none;
  }
}
