@import "colors";

.page-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-header {
  color: $grey;
  font-weight: bold;
  margin-bottom: 10px;
}

.demarche-links {
  border-top: 1px solid $border-grey;
  margin-bottom: 30px;
}

.demarche-link {
  display: block;
  padding: 10px;
  border-bottom: 1px solid $border-grey;
  width: 100%;

  &:hover {
    background-color: $lighter-blue;
  }
}
