@import "colors";
@import "constants";

#dossier-show {
  .sub-header {
    .label {
      float: right;
      margin-left: $default-spacer;
    }

    .title-container {
      margin-bottom: $default-padding * 2;
      padding-left: 32px;

      .icon.folder {
        float: left;
        margin-left: -32px;
        margin-top: 3px;
      }
    }

    h1 {
      color: $black;
      font-size: 22px;
      margin-bottom: 0;
    }

    h2 {
      color: $grey;
      font-weight: bold;
    }
  }

  .button.edit-form {
    float: right;
  }

  .messagerie-explanation {
    margin-bottom: $default-padding * 2;
  }
}
