@import "colors";
@import "constants";

.table.dossiers-table {
  font-size: 14px;

  th {
    vertical-align: middle;
  }

  td {
    padding: 0;
  }

  thead a {
    color: #000000;
  }

  .caret-icon {
    vertical-align: top;
    margin-top: 9px;
    margin-left: 4px;
  }

  .cell-link {
    color: $black;
    padding: (3 * $default-spacer) 2px;
    display: block;
  }

  .icon.folder {
    margin-right: $default-spacer;
    position: relative;

    .notifications {
      top: 0px;
      right: -10px;
    }
  }

  .number-col {
    width: 110px;
  }

  .status-col {
    width: 110px;

    .label {
      width: 110px;
      text-align: center;
    }
  }

  .follow-col {
    width: 190px;
    text-align: right;
  }
}
