@import "colors";
@import "constants";

.table.dossier-champs {
  th,
  td {
    vertical-align: top;
  }

  .libelle {
    width: 325px;
  }

  td.updated-at {
    font-size: 13px;
    color: $dark-grey;
    text-align: right;
    width: 190px;

    > span {
      opacity: 0;

      &.highlighted {
        opacity: 1;
      }
    }
  }

  tr:hover .updated-at > span {
    opacity: 1;
  }
}
