@import "colors";
@import "constants";

.table.dossiers-table {
  td {
    padding: 0;
  }

  thead a {
    color: #000000;
  }

  .caret-icon {
    vertical-align: top;
    margin-top: 9px;
    margin-left: 4px;
  }

  .cell-link {
    color: $black;
    padding: (3 * $default-spacer) 2px;
    display: block;
  }

  i.folder {
    margin-right: $default-spacer;
    position: relative;

    .notifications {
      top: 0px;
      right: -10px;
    }
  }

  .number-col,
  .status-col {
    width: 130px;
  }

  .status-col span {
    width: 110px;
    text-align: center;
  }

  .follow-col {
    width: 200px;
    text-align: center;
  }
}
