@font-face {
  font-family: "Muli";
  src: asset-url("Muli-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: asset-url("Muli-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: asset-url("Muli-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
