@import "constants";

.mb-1 {
  margin-bottom: $default-spacer;
}

.mr-1 {
  margin-right: $default-spacer;
}

.mb-4 {
  margin-bottom: 4 * $default-spacer;
}

.numbers-delimiter {
  display: inline-block;
  width: 5px;
}
