@import "constants";

.mb-1 {
  margin-bottom: $default-spacer;
}

.mr-1 {
  margin-right: $default-spacer;
}

.mb-4 {
  margin-bottom: 4 * $default-spacer !important;
}

.ml-1 {
  margin-left: $default-spacer;
}

.pl-0 {
  padding-left: 0px !important;
}

.bold {
  font-weight: bold;
}

.numbers-delimiter {
  display: inline-block;
  width: 5px;
}
