@import "constants";

#invites-form {
  padding: $default-padding;
  text-align: left;

  form {
    display: flex;
    margin-top: $default-padding;
  }

  h4 {
    font-weight: bold;
    margin-bottom: $default-spacer;
  }

  p {
    margin-bottom: $default-spacer;
  }

  ul {
    list-style-position: inside;
    list-style-type: disc;
  }

  input[type=email] {
    width: auto;
    margin-bottom: 0;
  }

  .button {
    margin-left: $default-spacer;
  }
}
