@import "colors";
@import "common";
@import "constants";

.messagerie {
  ul {
    max-height: 350px;
    overflow-y: scroll;
    border: 1px solid $border-grey;
    padding: 2 * $default-spacer;
    margin-bottom: $default-spacer;
  }

  li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2 * $default-padding;
  }

  .person-icon {
    margin-right: $default-spacer;
  }

  h2 {
    margin-bottom: $default-spacer;
  }

  .mail {
    font-weight: bold;
  }

  .guest,
  .date {
    font-size: 12px;
    color: $grey;
  }

  .date {
    float: right;
  }

  .attachment-link {
    margin-top: $default-spacer;
  }
}
