@import "colors";
@import "common";
@import "constants";

.messages-list {
  max-height: 350px;
  overflow-y: scroll;
  border: 1px solid $border-grey;
  background: $light-grey;
  padding: 2 * $default-spacer;
  margin-bottom: $default-spacer;
  border-radius: 4px;
}

.messagerie {
  .message-textarea {
    margin-bottom: $default-spacer;
  }
}
