@import "colors";
@import "constants";

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: $default-padding;
  padding: $default-padding;
  background: #FFFFFF;
  border-radius: 3px;

  &.inverted-background {
    background: $light-grey;
  }

  .person-icon {
    margin-right: $default-spacer;
  }

  h2 {
    margin-bottom: $default-spacer;
  }

  .mail {
    font-weight: bold;
  }

  .guest,
  .date {
    font-size: 12px;
    color: $dark-grey;
  }

  .date {
    float: right;
  }

  .attachment-link {
    margin-top: $default-spacer;
  }

  .message-answer-button {
    margin-left: auto;
  }
}
