@import "colors";
@import "constants";

.motivation {
  display: none;
  padding: $default-padding;
  color: $black;
  width: 450px;

  h3 {
    font-size: 22px;
    margin-bottom: $default-spacer * 2;

    .icon {
      vertical-align: sub;
      margin-right: $default-spacer;
    }
  }

  textarea {
    margin-bottom: $default-spacer;
  }

  .help {
    color: $grey;
    font-size: 11px;
    margin-bottom: $default-spacer * 2;
  }
}
