@import "constants";
@import "colors";
@import "mixins";
@import "placeholders";

// FIXME: Rename when the header is generalized
.new-header {
  height: 72px;
  background-color: #FFFFFF;
}

.new-header-with-border {
  border-bottom: 1px solid $border-grey;
}

.header-inner-content {
  @extend %page-width-container;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin-top: 17px;
}

.header-right-content {
  display: flex;
  align-items: center;
  height: 100%;

  li {
    @include horizontal-padding(8px);

    &:last-child {
      padding-right: 0;
    }
  }
}

.header-search {
  position: relative;

  .form input[type=text] {
    padding: 9px;
    padding-right: 42px;
    float: right;
    width: 300px;
  }

  button {
    padding: 6px 9px;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 0;
  }
}

$header-login-button-height: 36px;
$header-login-button-border-size: 1px;

.header-login-button {
  @include horizontal-padding(16px);

  display: inline-block;
  height: $header-login-button-height;
  line-height: $header-login-button-height - (2 * $header-login-button-border-size);
  border-radius: $header-login-button-height;
  border: $header-login-button-border-size solid $blue;
  color: $blue;
  font-size: 14px;

  &:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: $light-blue;
  }

  &:focus {
    color: $blue;
    text-decoration: none;
  }

  &:hover:focus {
    color: #FFFFFF;
  }
}
