@import "colors";

.alert {
  padding: 15px;
  border: 1px solid transparent;
}

.alert-danger {
  background-color: $lighter-red;
  border-color: $light-red;
  color: #FFFFFF;
}

.alert-success {
  background-color: $lighter-green;
  border-color: $light-green;
  color: $dark-green;
}
