@import "colors";
@import "constants";

.alert {
  padding: 10px;
  border: 1px solid transparent;
  margin: 1em 1em 0em 1em;
}

.alert-danger {
  background-color: $darker-red;
  color: #FFFFFF;

  a {
    color: #FFFFFF;
    text-decoration: underline;
  }
}

.alert-success {
  background-color: $lighter-green;
  border-color: $light-green;
  color: $dark-green;
}

.alert-fixed {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  max-width: 700px;
  top: 10px;
  border-radius: 10px;
  // Ensure fixed flash messages are above `position: absolute` elements (like maps)
  z-index: $alert-z-index;
}
