@import "colors";

.alert {
  padding: 15px;
  border: 1px solid transparent;
}

.alert-danger {
  background-color: $medium-red;
  color: #FFFFFF;

  a {
    color: #FFFFFF;
    text-decoration: underline;
  }
}

.alert-success {
  background-color: $lighter-green;
  border-color: $light-green;
  color: $dark-green;
}

.alert-fixed {
  position: fixed;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  top: 10px;
  border-radius: 10px;
}
