@import "colors";
@import "constants";

#outdated-browser-banner {
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: $default-padding;
  color: $black;
  background-color: $yellow;
}

.outdater-browser-icon {
  margin-right: $default-padding;
  font-size: 30px;
  opacity: 0.7;
}
