@import "colors";
@import "fonts";

.new-header,
.backoffice-header,
footer {
  display: none;
}

.print-header {
  display: block;
  margin-top: 30px;
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
}

body {
  font-family: "Muli";
}

.subtitle {
  margin-top: -20px;
  color: $grey;
}

th,
td {
  vertical-align: top;
}

th {
  text-align: left;

  &.header-section {
    padding-top: 1.2em;
    font-size: 1.2em;
  }
}
