@import "colors";
@import "common";
@import "constants";

#procedure-show {
  h1 {
    color: $black;
    font-size: 22px;
    margin-bottom: 1 * $default-padding;
  }

  a.notifications {
    display: inline-block;
    margin-bottom: 1 * $default-padding;
  }

  .dossiers-table {
    margin-top: $default-spacer;
    margin-bottom: 3 * $default-spacer;
  }

  .procedure-actions {
    margin-left: auto;
    flex-shrink: 0;

    .dropdown-items li {
      min-width: 150px;
    }
  }

  .filter {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $light-blue;
    border-radius: 4px;
    color: #FFFFFF;
    height: 36px;
    line-height: 36px;
  }

  .close-icon {
    vertical-align: top;
    margin-top: 12px;
    margin-right: 6px;
    display: inline-block;
  }

  p.explication-onglet {
    margin-bottom: 3 * $default-spacer;
    text-align: center;
  }
}
