@import "colors";

#champs-editor {
  .spinner {
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
  }
}

.draggable-item {
  border: 1px solid $border-grey;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;

  .handle {
    cursor: ns-resize;
    margin-right: 10px;
    margin-top: 8px;
  }

  .error-message {
    text-align: center;
    flex-grow: 1;
    font-size: 14px;
    color: $light-grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    .content {
      background-color: $medium-red;
      border-radius: 8px;
      padding: 4px 10px;
    }
  }

  &.type-header-section {
    background-color: $blue;

    label {
      color: $light-grey;
    }
  }

  &:not(.type-header-section) {
    input.error {
      border: 1px solid $medium-red;
    }
  }

  .flex {
    &.section {
      padding: 10px 10px 0 10px;
      margin-bottom: 8px;
    }

    &.hr {
      border-bottom: 1px solid $border-grey;

      &.head {
        padding-bottom: 10px;
      }
    }

    &.shift-left {
      margin-left: 35px;
    }

    &.head {
      select {
        margin-bottom: 0px;
      }
    }

    &.delete {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
    }
  }

  .cell {
    margin-right: 20px;

    &.small {
      width: 90px;
    }

    &.libelle {
      width: 300px;

      input {
        font-weight: bold;
      }
    }

    label {
      margin-bottom: 8px;
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .carte-options {
    label {
      font-weight: initial;
    }
  }

  .inline {
    display: inline;
  }
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
