@import "colors";
@import "common";
@import "constants";

#procedure-show {
  .procedure-logo {
    margin-right: $default-padding;
  }

  h1 {
    color: $black;
    font-size: 22px;
    margin-bottom: 2 * $default-padding;
  }

  .dossiers-table {
    margin: (3 * $default-spacer) auto;
  }
}
