@import "colors";
@import "constants";

.procedure-logo {
  display: flex;
  background: #FFFFFF;
  border: 1px solid $border-grey;
  height: 84px;
  width: 84px;
  margin-right: 2 * $default-spacer;

  img {
    margin: auto;
    max-width: 80%;
    max-height: 80%;
  }
}
