@import "colors";
@import "constants";

$procedure-context-breakpoint: $two-columns-breakpoint;

.procedure-preview {
  font-size: 24px;

  .paperless-logo {
    width: 100%;
    margin-bottom: 60px;

    @media (max-width: $procedure-context-breakpoint) {
      display: none;
    }
  }

  h3 {
    color: $blue;
    font-weight: bold;
  }

  .close-procedure {
    font-size: 12px;
  }

  .procedure-title {
    font-size: 30px;
    margin: 20px 0 0;

    @media (min-width: $procedure-context-breakpoint) {
      margin: 50px 0 32px;
    }
  }

  .procedure-description {
    font-size: 16px;

    p {
      margin-bottom: 2 * $default-spacer;
    }

    @media (max-width: $procedure-context-breakpoint) {
      display: none; // TO FIX : make this description available for small devices
    }
  }

  .procedure-logos {
    display: flex;
    justify-content: space-around;

    img {
      max-height: 50px;
      max-width: 100%;
      margin: 0 10px;

      @media (min-width: $procedure-context-breakpoint) {
        max-height: 130px;
        max-width: 500px;
      }
    }
  }
}

.procedure-context-content {
  @media (max-width: $procedure-context-breakpoint) {
    input[type=submit] {
      margin-bottom: 2 * $default-padding;
    }
  }
}
