@import "constants";
@import "colors";
@import "mixins";

.rich-text {
  i {
    font-style: italic;
  }

  b {
    font-weight: bold;
  }

  small {
    font-size: 14px;
  }

  ol,
  ul {
    list-style: inside;
  }

  ol {
    list-style-type: decimal;
  }

  blockquote {
    margin: $default-padding 0 $default-padding $default-padding;
  }

  p {
    margin-bottom: $default-padding;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $default-padding;
    line-height: 1;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 16px;
  }

  table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    tbody tr {
      border-top: 1px solid $border-grey;
    }

    td {
      @include vertical-padding($default-spacer);
      vertical-align: middle;
    }

    th {
      text-align: left;
      font-weight: bold;
      padding: (3 * $default-spacer) 2px;
    }

    th.padded {
      padding-left: (2 * $default-spacer);
    }
  }

}
