@import "colors";
@import "constants";

#support-navigator-banner {
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: $default-padding;
  color: #FFFFFF;
  background-color: $medium-red;

  a {
    color: $lighter-blue;
    text-decoration: underline;
  }
}
