@import "colors";
@import "constants";

#support-navigator-banner {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: $default-padding;
  text-align: center;
  color: #FFFFFF;
  background-color: $medium-red;
  z-index: 1000;

  a {
    color: #C3D9FF;
    text-decoration: underline;
  }
}
