@import "colors";
@import "constants";
@import "mixins";

.table {
  width: 100%;

  th,
  td {
    @include vertical-padding($default-spacer)
  }

  &.vertical {
    font-size: 14px;
    line-height: 22px;

    th {
      text-align: left;

      &.header-section {
        color: $blue;
        font-weight: bold;
        font-size: 20px;
      }
    }

    td {
      font-weight: bold;
    }
  }
}
