- @columns.each do |column|
  %th{ aria_sort(column), scope: "col", class: column.classname }
    = link_to update_sort_instructeur_procedure_path(@procedure_presentation.procedure, column_id: column.id, order: @procedure_presentation.opposite_order_for(column.table, column.column)) do
      = label_and_arrow(column)
