%th{ aria_sort, scope: "col", class: column.classname }
  = link_to update_sort_instructeur_procedure_path(@procedure_presentation.procedure, column_id:, order: @procedure_presentation.opposite_order_for(column.table, column.column)) do
    - if sorted_by_current_column?
      - if sorted_ascending?
        #{column.label} ↑
      - else
        #{column.label} ↓
    - else
      #{column.label}
