- if id.present?
  - dossier = current_user&.dossiers&.find_by(id: id)
  - dossier ||= current_gestionnaire&.dossiers&.find_by(id: id)
  - dossier ||= current_administrateur&.dossiers&.find_by(id: id)
  - if dossier.blank?
    %p.text-warning
      Ce dossier est inconnu
  - else
    %p.text-info
      %span.dossier-text-summary= sanitize(dossier.text_summary)
