= content_tag(@wrapper, class: wrapper_class_names, data: { controller: 'menu-button' }) do

  %button{ class: button_class_names, id: button_id, data: { menu_button_target: 'button' }, "aria-expanded": "false", 'aria-haspopup': 'true', 'aria-controls': menu_id }
    = button_inner_html

  %div{ data: { menu_button_target: 'menu' }, id: menu_id, 'aria-labelledby': button_id, role: menu_role, 'tab-index': -1, class: menu_class_names }

    -# the dropdown can be a menu with a list of item
    - if items?
      %ul.dropdown-items.fr-pl-0{ role: 'none' }
        - items.each do |dropdown_item|
          = dropdown_item
    -# the dropdown can be a menu with forms
    - if forms?
      - forms.each do |form|
        = form
