= turbo_stream.replace 'breadcrumbs' , render(partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Configuration des champs']],
  preview: @procedure.draft_revision.valid? })

= turbo_stream.replace 'errors-summary', render(TypesDeChampEditor::ErrorsSummary.new(revision: @procedure.draft_revision))

- rendered = render @condition_component

- if rendered.present?
  = turbo_stream.replace dom_id(@tdc.stable_self, :condition) do
    - rendered
- else
  = turbo_stream.remove dom_id(@tdc.stable_self, :condition)
