- rendered = render @condition_component

- if rendered.present?
  = turbo_stream.morph "conditions_type_de_champ_#{@tdc.stable_id}" do
    - rendered
  end
- else
  = turbo_stream.remove "conditions_type_de_champ_#{@tdc.stable_id}"
