= turbo_stream.replace 'errors-summary', render(TypesDeChampEditor::ErrorsSummary.new(revision: @procedure.draft_revision))

- rendered = render @condition_component

- if rendered.present?
  = turbo_stream.morph dom_id(@tdc.stable_self, :conditions) do
    - rendered
  end
- else
  = turbo_stream.remove dom_id(@tdc.stable_self, :conditions)
