= render partial: 'new_gestionnaire/dossiers/champs/champ_label', locals: { champ: champ }

%input{ type: 'text',
  'data-address': 'true',
  name: "champs['#{champ.id}']",
  id: "champs_#{champ.id}",
  placeholder: champ.libelle,
  value: champ.value,
  required: champ.mandatory }
