= render partial: 'new_gestionnaire/dossiers/champs/champ_label', locals: { form: form, champ: champ, seen_at: seen_at }

= form.text_field :value,
  'data-address': 'true',
  placeholder: champ.libelle,
  required: champ.mandatory
