= render partial: 'new_gestionnaire/dossiers/champs/champ_label', locals: { form: form, champ: champ, seen_at: seen_at }

.radios
  %label
    = form.radio_button :value, 'M.'
    Monsieur

  %label
    = form.radio_button :value, 'Mme.'
    Madame
