= render partial: 'new_gestionnaire/dossiers/champs/champ_label', locals: { form: form, champ: champ, seen_at: seen_at }

= form.date_field :value,
  value: champ.value,
  placeholder: 'JJ/MM/AAAA',
  required: champ.mandatory
