= render partial: 'new_gestionnaire/dossiers/champs/champ_label', locals: { champ: champ }

%input{ name: "champs['#{champ.id}']",
  placeholder: "JJ/MM/AAAA",
  id: "champs_#{champ.id}",
  value: champ.value,
  type: "date",
  required: champ.mandatory }
