= render partial: 'new_gestionnaire/dossiers/champs/champ_label', locals: { form: form, champ: champ }

- if champ.drop_down_list && champ.drop_down_list.options.any?
  = form.select :value,
    champ.drop_down_list.options,
    disabled: champ.drop_down_list.disabled_options,
    required: champ.mandatory
