= render partial: 'new_gestionnaire/dossiers/champs/champ_label', locals: { form: form, champ: champ, seen_at: seen_at }

~ form.text_area :value,
  row: 6,
  placeholder: champ.description,
  required: champ.mandatory,
  value: html_to_string(champ.value)
