= render partial: 'new_gestionnaire/dossiers/champs/champ_label', locals: { form: form, champ: champ, seen_at: seen_at }

.radios
  %label
    = form.radio_button :value, true
    Oui

  %label
    = form.radio_button :value, false
    Non
