-# Allowed @formats:
-# very light validation is made client-side
-# stronger validation is made server-side
= @form.phone_field(:value, input_opts(id: @champ.focusable_input_id, autocomplete: @champ.dossier.for_tiers? ? "off" : "tel", aria: { **labelledby_id_attr, describedby: "#{@champ.describedby_id} #{@champ.error_id}" }, required: @champ.required?, pattern: "[^a-z^A-Z]+"))
