%template{ id: announce_template_id }
  %slot{ "name": "0" }= t("combo_search_component.result_slot_html", count: 0)
  %slot{ "name": "1" }= t("combo_search_component.result_slot_html", count: 1)
  %slot{ "name": "many" }= t("combo_search_component.result_slot_html", count: 2)
