#errors-summary
  - if invalid?
    .card.warning
      .card-title Le formulaire contient des erreurs

      - if condition_errors?
        %p.mb-2= t('.fix_conditional', count: errors_for(:condition).size)
        = error_message_for(:condition)

      - if header_section_errors?
        %p.mb-2= t('.fix_header_section', count: errors_for(:header_section).size)
        = error_message_for(:header_section)
