= form_for admin_procedure_groupe_instructeurs_path(@procedure),
  method: :get do
  #header-search.fr-search-bar.fr-mb-2w{ role: "search" }
    = label_tag :q, 'Rechercher par nom', class: 'fr-label'
    = text_field_tag :q, @query, class: 'fr-input', type: 'search', autocomplete: 'off', placeholder: 'Rechercher par nom'
    %button.fr-btn{ title: "Rechercher" } Rechercher

- if @to_configure_count > 0
  %span #{ @to_configure_count } à configurer
