#cgu
  %h2
    Condition d’utilisation du service « TPS » pour téléprocédure simplifiée
  %br
  %h3#editeur
    Editeur
  %p Ce service est proposé par le Secrétariat général pour la modernisation de l’action publique, un service interministériel du Premier Ministre, mis à disposition du ministère de la Réforme de l’Etat, de la Décentralisation et de la Fonction publique.
  %p Il est opéré par la Direction interministérielle du numérique et du système d'information et de communication de l'Etat (DINSIC).
  %p
  %p
    %strong Secrétariat Général pour la Modernisation de l’Action publique
    %br/
    64-70 allée de Bercy
    %br/
    75572 Paris Cedex 12
  %p
    %strong Directeur de la publication
  %p Laure de LA BRETECHE
  %p
    %strong Responsable éditorial
  %p Henri VERDIER
  %p
    %strong Responsable éditorial délégué
  %p Philippe VRIGNAUD
  %br
  %h3#ingenieurie_hebergement
    Ingénierie et hébergement informatique
  %p L'ingénierie du site est assurée par :
  %p
    %strong OVH
    %br/
    SAS au capital de 10 000 000 €
    %br/
    RCS Roubaix – Tourcoing 424 761 419 00045
    %br/
    Code APE 6202A
    %br/
    N° TVA : FR 22 424 761 419
    %br/
    Siège social : 2 rue Kellermann - 59100 Roubaix - France.
  %br
  %h3#object_website
    Object du site internet
    %a{:href => "https://tps.apientreprise.fr/"}
      %strong tps.apientreprise.fr
  %p
    Le site internet tps.apientreprise.fr a pour objet de faciliter la création de démarches administratives en ligne par les acteurs publics, et l’examen par plusieurs services des demandes formulées par les usagers auprès d’un ou organismes publics.
  %br
  %h3#acteurs
    Acteurs de
    %a{:href => "https://tps.apientreprise.fr/"}
      TPS
  %p Les acteurs de TPS sont les suivants :
  %ul
    %li Le SGMAP qui héberge le service TPS, le maintien en condition opérationnelle et gère les droits d’accès
    %li L’administrateur au sein d’une administration donnée qui crée la démarche en ligne
    %li Le ou les accompagnateurs au sein d’une administration donnée, qui reçoivent les démarches des usagers, les accompagnent le cas échéant dans le bouclage de leurs dossier, instruisent la demande et décident des suites à donner aux demandes
    %li Les Usagers qui formulent les demandes en ligne via le formulaire qui leur est mis à disposition
  %br
  %h3#CNIL
    Déclaration CNIL
  %p Le SGMAP a procédé à la déclaration CNIL de TPS. Celle-ci porte le numéro "1986658 v 0" à la date du 30 août 2016. Néanmoins les administrations devront procéder à une déclaration complémentaire auprès de la CNIL si les données du formulaire qu’elles ont produit comportent des données de la nature suivante :
  %ul
    %li N° de sécurité sociale,
    %li Infractions, condamnations, mesures de sécurité,
    %li
      %a{:href => "https://www.declaration.cnil.fr/declarations/declaration/donneesSensibles_DN.display.action"} Opinions philosophiques, politiques, religieuses, syndicales, vie sexuelle, données de santé, origine raciale.
  %br
  %h3#data_collects
    Données collectées et responsabilité des organismes publics à l’initiative de démarches en ligne avec TPS.
  %p Les données collectées par le service sont définis par les services publics utilisateurs du service qui arrêtent, sous leur responsabilité, la liste des informations qui seront demandées à l’usager.
  %p Les organismes publics s’engagent à créer des démarches pour collecter les informations strictement nécessaires à l’examen des demandes formulées auprès des acteurs publics, dans le cadre juridique prévu par chacune des démarches.
  %p Ces données sont collectées et traitées par les seuls services concernés par l’examen des demandes, et précisées dans la notice d’utilisation de chaque démarche publiée par l’organisme public.

  %br
  %h3#individual_data
    Traitement des données à caractère personnel
  %h4 Données personnelles :
  %p
    En application de la loi n°78-17 Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification, de modification et de suppression concernant les données qui vous concernent. Vous pouvez exercer ce droit à travers la rubrique
    %a{:href => "http://www.faire-simple.gouv.fr/contact"} Contact
  %h4 Données de connexion :
  %p Conformément à la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, certaines données de connexion sont conservées par le service aux fins de protection contre les intrusions et de poursuites judiciaires le cas échéant. Ces données sont conservées pendant un an.

  %br
  %h3#entreprise_information
    Règles relatives aux informations sur les entreprises mises à disposition par les partenaires publics du SGMAP.
  %p Le service « TPS », opéré par le SGMAP propose l’affichage aux internautes d’informations issues de deux bases de données distinctes gérées par quatre organismes qui sont :
  %br
  %h4 L’INSEE :
  %p
    %strong Insee (Institut national de la statistique et des études économiques)
    %br/
    18, boulevard Adolphe Pinard
    %br/
    75675 Paris cedex 14
    %br/
    Tél. : 01 41 17 50 50
  %p
    %a{:href => "http://www.insee.fr/fr/bases-de-donnees/default.asp?page=sirene.htm"} Informations de la base SIRENE
    %br/
    %a{:href => "http://www.sirene.fr/sirene/public/static/mentions-legales"} Condition légales d’utilisation de service SIRENE
  %br
  %h4 INFOGREFFE :
  %p
    %strong INFOGREFFE 
    %br/
    Immeuble Le Parisien
    %br/
    5-7, avenue de Paris
    %br/
    94300 VINCENNES
  %p
    Les informations transmises aux autorités publiques en charges de l’examen de dossiers de candidature sont définis par le service en ligne suivant proposé aux internautes :
    %a{:href => "https://www.infogreffe.fr/societes/documents-officiels/demande-kbis.html"} https://www.infogreffe.fr/societes/documents-officiels/demande-kbis.html
  %p
    %a{:href => "https://www.infogreffe.fr/societes/cgu-cgv.html"} Conditions générales d’utilisation des données d’infogreffe

  %br
  %h4 TPS fait appel à d’autres services opérés par le SGMAP afin de faciliter les démarches administratives :
  %br
  %p
    %strong> France CONNECT
    \ : informations complémentaires :
    %a{:href => "https://franceconnect.gouv.fr/"} https://franceconnect.gouv.fr/
  %p
    %strong La base d’adresse nationale :
    %a{:href => "https://adresse.data.gouv.fr/"} https://adresse.data.gouv.fr/
  %p
    %strong TPS est un service de l’Etat Plateforme :

    %a{:href => "http://etatplateforme.modernisation.gouv.fr/"} http://etatplateforme.modernisation.gouv.fr/
  %p
    %strong Il met en œuvre les principes définis par le programme « Dites-le nous une fois »
  %p
    %a{:href => "http://www.modernisation.gouv.fr/les-services-publics-se-simplifient-et-innovent/par-des-simplifications-pour-les-entreprises/dites-le-nous-une-fois-un-programme-pour-simplifier-la-vie-des-entreprises"} http://www.modernisation.gouv.fr/les-services-publics-se-simplifient-et-innovent/par-des-simplifications-pour-les-entreprises/dites-le-nous-une-fois-un-programme-pour-simplifier-la-vie-des-entreprises
  %br
  %h3#reproduction
    Droit de reproduction :
  %p Toute copie de pages du site doit avoir obtenu l’autorisation du directeur de la publication.
  %p La création de liens avec le site « tps.apientreprise.fr » est libre.
  %p Le SGMAP se réserve le droit de demander la suppression d’un lien qu’elle estime non conforme à l’objet du service « tps.apientreprise.fr » aux missions du SGMAP, ou plus généralement aux principes véhiculés par l’Administration.
  %p L’autorisation de création de liens est valable pour tout support, à l’exception de ceux diffusant des informations à caractère raciste, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.
  %p
    La rubrique
    %a{:href => "http://www.faire-simple.gouv.fr/contact"} Contactez-nous
    est à votre disposition pour nous faire part de vos remarques et suggestions.
  %br
  %h3#propriete_intellectuelle
    Propriété intellectuelle, droits d’auteur et copyright
  %p Ce service relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques.
  %p La reproduction de tout ou partie de ce site sur un support électronique quel qu'il soit est formellement interdite sauf autorisation expresse du Directeur de la publication (voir ci-après : Reproduction des contenus).
  %p Les marques citées sur ce site sont protégées par les organismes qui en sont propriétaires.

  %br
  %h3#navigateurs
    Logiciels nécessaires à la consultation
  %p Ce service est optimisé pour un affichage en 1024*768. Il est prévu pour :
  %ul
    %li les versions 10 ou supérieures d'Internet Explorer (sur windows 7 ou plus)
    %li toutes versions de Microsoft Edge
    %li les versions 19 ou supérieures d’Opera
    %li les versions 8 ou supérieures de Safari
    %li les versions 45.3.0 ou 48 ou supérieures de Firefox
    %li les versions 40 ou supérieures de Chrome
  %p
    La liste des versions compatibles a volontairement été réduite afin de garantir une meilleure sécurité sur nos services. Par ailleurs, le service TPS peut fonctionner sur des versions antérieures à celles évoquées ci-dessus mais sans garantie par le SGMAP.
  %p Certains navigateurs peuvent bloquer par défaut l'ouverture de fenêtres sur ce site. Afin de vous permettre d'afficher certaines pages, vous devez autoriser l'ouverture des fenêtres lorsque le navigateur vous le propose en cliquant sur le bandeau d'avertissement alors affiché en haut de la page. En cas d'absence de message d'avertissement de la part de votre navigateur, vous devez configurer celui-ci afin qu'il autorise l'ouverture des fenêtres pour le site "tps.apientreprise.fr".
  %br
  %h3#conception
    Conception & Réalisation
  %p SGMAP
  %p  
  %p  