- modal_content = capture do
  %button.fr-sr-only{ aria: { controls: 'modal-eligibilite-rules-dialog' }, data: { 'fr-opened': opened?.to_s } }
    show modal

  %dialog.fr-modal{ "aria-labelledby" => "fr-modal-title-modal-1", role: "dialog", id: 'modal-eligibilite-rules-dialog', data: { 'turbo-permanent' => true } }
    .fr-container.fr-container--fluid.fr-container-md
      .fr-grid-row.fr-grid-row--center
        .fr-col-12.fr-col-md-8.fr-col-lg-6
          .fr-modal__body
            .fr-modal__header
              %button.fr-btn--close.fr-btn{ aria: { controls: 'modal-eligibilite-rules-dialog' }, title: t('utils.modal_close_alt') }= t('utils.modal_close')
            .fr-modal__content
              %h1#fr-modal-title-modal-1.fr-modal__title
                %span.fr-icon-arrow-right-line.fr-icon--lg>
                = t('.modal.title')
              .fr-text--wrap= format_text_value(error_message)

- if wrapped?
  #ineligibilite_rules_modal
    = modal_content
- else
  = modal_content
