= render Dsfr::CalloutComponent.new(title: nil) do |c|
  - c.with_body do
    = t('.text_accuse_lecture')

    = form_for @dossier,
      method: :get,
      url: set_accuse_lecture_agreement_at_dossier_path(@dossier),
      data: { controller: 'autosubmit', turbo: 'true' } do |f|

      = f.submit t('.btn_accuse_lecture'), class: "fr-btn fr-mt-2w"
