.center
  %h2 Outil de changement d'état d'un dossier

  %h4.text-success
    Changement effectué

  = form_for @dossier, url: 'change_dossier_state', action: :put do |f|
    Dossier ID :
    = @dossier.id
    %br
    État :
    = @dossier.decorate.display_state

    %br
    %br
    = link_to 'Réaliser un autre dossier', 'change_dossier_state'
