%li{ role: 'none' }
  = mail_to CONTACT_EMAIL, role: 'menuitem' do
    %span.icon.mail
    .dropdown-description
      %span.help-dropdown-title
        = t('help_dropdown.technical_contact_title')
      %p
        = t('help_dropdown.technical_contact_description', contact_email: CONTACT_EMAIL)
