= link_to t("links.common.faq.url"), title: new_tab_suffix(t('help_dropdown.general_title')), **external_link_attributes, role: 'menuitem' do
  %span.fr-icon-question-fill.fr-text-action-high--blue-france{ "aria-hidden": "true" }
  .dropdown-description.fr-text--sm
    %span.help-dropdown-title
      = t('help_dropdown.problem_title')
    %p.fr-text--sm= t('help_dropdown.problem_description')
