%li
  = link_to FAQ_URL, target: "_blank", rel: "noopener" do
    %span.icon.help
    .dropdown-description
      %h4.help-dropdown-title Un problème avec le site ?
      %p Trouvez votre réponse dans l’aide en ligne.
