= link_to messagerie_dossier_path(dossier), role: 'menuitem' do
  %span.icon.mail
  .dropdown-description
  .dropdown-description.fr-text--sm
    %span.help-dropdown-title= title
    %p.fr-text--sm= t('help_dropdown.contact_instructeur')
