= link_to messagerie_dossier_path(dossier), role: 'menuitem' do
  %span.fr-icon-mail-fill.fr-text-action-high--blue-france{ "aria-hidden": "true" }
  .fr-pl-1w
    %h1.fr-text--sm= title
    %p.fr-text--sm= t('help_dropdown.contact_instructeur')
