= link_to messagerie_dossier_path(dossier), role: 'menuitem' do
  %span.fr-icon-mail-fill.fr-text-action-high--blue-france{ "aria-hidden": "true" }
  .dropdown-description.fr-text--sm
    %span.help-dropdown-title= title
    %p.fr-text--sm= t('help_dropdown.contact_instructeur')
