%span.fr-icon-question-fill.fr-text-action-high--blue-france{ "aria-hidden": "true" }
.fr-pl-1w
  %h1.fr-mb-1v
    = title
  = render Procedure::ServiceListContactComponent.new(service_or_contact_information: service, dossier: dossier)
