<header class="main-content__header">
  <h1 class="main-content__page-title">
    Export des administrateurs et instructeurs
  </h1>
</header>

<section class="main-content__body">
  <h2>Pour les invitations aux webinaires</h2>

  <ul>
    <li>
      <a href="/manager/exports/administrateurs/last_half_year">
        Export des administrateurs créés dans les 6 derniers mois
      </a>
    </li>
    <li>
      <a href="/manager/exports/instructeurs/last_half_year">Export des instructeurs créés dans les 6 derniers mois</a>
    </li>
  </ul>

  <h2>Pour les newsletters</h2>

  <ul>
    <li>
      <a href="/manager/exports/administrateurs/with_publiee_procedure">
        Export des administrateurs avec au moins une démarche publiée
      </a>
    </li>
    <li>
      <a href="/manager/exports/instructeurs/currently_active">
        Export des instructeurs qui se sont connectés dans les 6 derniers mois
      </a>
    </li>
  </ul>
</section>
