<div>
  <ul>
    <li><a href="/manager/exports/administrateurs/last_month">Export des administrateurs (6 mois)</a></li>
    <li><a href="/manager/exports/instructeurs/last_month">Export des instructeurs (6 mois)</a></li>
  </ul>
</div>
