<%= render Dsfr::AlertComponent.new(state: :error, title: t(".technical_issues"), extra_class_names: 'fr-mb-2w') do |c| %>
  <% c.with_body do %>
    <ul class="fr-mb-0">
      <li>
        Le
        <%= link_to "Jeton API Entreprise", admin_procedure_jetons_path(procedure), class: 'error-anchor' %>
        est expiré ou va expirer prochainement
      </li>
    </ul>
  <% end %>
<% end %>
