.card.no-list{ 'data-turbo': 'true', id: dom_id(current_administrateur, :profil_api_token) }
  .card-title
    = t('.tokens_title')
  %p
    = t('.first_paragraph_html', application_name: APPLICATION_NAME, api_doc_url: API_DOC_URL)

  %ul.fr-mt-4w
    =  render Profile::APITokenComponent.with_collection(api_tokens)
