%h3
  =t('dynamics.dossiers.followers.title')

%br
.row
  .col-md-4.col-lg-4
    - if @facade.followers.size > 0
      %ul
        - @facade.followers.each do |follower|
          %li
            = follower.email
    - else
      Aucune personne ne suit ce dossier


