#backoffice_index
  #pref_list_menu
    = render partial: 'pref_list'
  = render partial: 'onglets'

  = smart_listing_render :dossiers

  %br
  %br
  = render partial: 'state_description', locals: {dossiers_list_facade: @dossiers_list_facade}
