#backoffice_index
  #pref_list_menu
    = render partial: 'backoffice/dossiers/pref_list'

  %h1
    =t('dynamics.backoffice.title')

  = render partial: 'backoffice/dossiers/onglets'

  = smart_listing_render :dossiers

  %br
  %br
  - unless Features.opensimplif
    = render partial: 'backoffice/dossiers/state_description', locals: {dossiers_list_facade: @dossiers_list_facade}
