@media print {
  /* line 2, /Users/tchak/git/github/sgmap/tps/app/assets/stylesheets/print.scss */
  html,
  body {
    margin: 0;
  }

  /* line 7, /Users/tchak/git/github/sgmap/tps/app/assets/stylesheets/print.scss */
  #infos-dossiers .row:last-child {
    display: none;
  }

  /* line 11, /Users/tchak/git/github/sgmap/tps/app/assets/stylesheets/print.scss */
  #infos-dossiers {
    margin-bottom: -70px;
  }

  /* line 15, /Users/tchak/git/github/sgmap/tps/app/assets/stylesheets/print.scss */
  #left-panel {
    margin-top: 0;
    height: auto;
    position: relative;
    width: 100%;
  }

  /* line 22, /Users/tchak/git/github/sgmap/tps/app/assets/stylesheets/print.scss */
  #wrap {
    overflow: visible;
  }

  /* line 26, /Users/tchak/git/github/sgmap/tps/app/assets/stylesheets/print.scss */
  #main-container {
    width: 100%;
  }

  /* line 30, /Users/tchak/git/github/sgmap/tps/app/assets/stylesheets/print.scss */
  .copyright {
    width: 100%;
    left: 0;
  }

  /* line 35, /Users/tchak/git/github/sgmap/tps/app/assets/stylesheets/print.scss */
  .no-page-break-inside {
    page-break-inside: avoid;
  }

  /* line 39, /Users/tchak/git/github/sgmap/tps/app/assets/stylesheets/print.scss */
  .display-block-on-print {
    display: block !important;
  }
}
