- pj = champ.piece_justificative_file
- if champ.virus_scan.present?
  - if champ.virus_scan.safe?
    #FIXME : use url_for(pj) and remove download attribute when Riak content_disposition bug is solved https://github.com/betagouv/tps/issues/2180
    = link_to pj.filename.to_s, pj.service_url(expires_in: 1.hour), target: '_blank', download: pj.filename.to_s
  - else
    = pj.filename.to_s
    - if champ.virus_scan.pending?
      (analyse antivirus en cours
      = link_to "rafraichir", request.path
      )
    - elsif champ.virus_scan.infected?
      - if user_can_upload
        (virus détecté, merci d'envoyer un autre fichier)
      - else
        (virus détecté, le téléchargement de ce fichier est bloqué)
- else
  = link_to pj.filename.to_s, url_for(pj), target: '_blank'
  (ce fichier n'a pas été analysé par notre antivirus, téléchargez-le avec précaution)
