- pj = champ.piece_justificative_file
- if pj.attached?
  .fr-downloads-group
    %ul
      - pj.attachments.each do |attachment|
        %li= render Attachment::ShowComponent.new(attachment:)
- else
  Pièce justificative non fournie
