.fr-downloads-group
  - if profile == 'instructeur'
    - champ.piece_justificative_file.attachments.each do |attachment|
      = render Attachment::DemandeItemComponent.new(attachment:)
      = render Instructeurs::OCRViewerComponent.new(champ:)

  - else
    %ul
      - champ.piece_justificative_file.attachments.each do |attachment|
        %li= render Attachment::ShowComponent.new(attachment:, new_tab: true)
