.fr-col-6.fr-col-md-4.fr-col-lg-3
  = link_to simplify_admin_procedure_types_de_champ_path(@procedure, rule:), id: 'administrateurs', class: 'fr-tile fr-enlarge-link' do
    .fr-tile__body.flex.column.align-center.justify-between
      %p.fr-badge.fr-badge--warning À faire
      %div
        %h3.fr-h6
          Qualité du formulaire
        .fr-tile-subtitle
          %p Appliquez nos suggestions d'amélioration
      %p.fr-btn.fr-btn--tertiary= t('views.shared.actions.edit')
