#liste_champs
  -if @procedure.types_de_champs.size > 0
    - @procedure.types_de_champs.order(:order_place).each_with_index do |type_de_champs, index|
      =render partial: 'admin/procedures/types_de_champs/form', locals:{ type_de_champs: type_de_champs, index: index }

#new_type_de_champs
  =render partial: 'admin/procedures/types_de_champs/form', locals:{ type_de_champs: nil, index: @procedure.types_de_champs.size }

%script{ type:'text/javascript' }
  ="var types_de_champs_index = #{@procedure.types_de_champs.size}"