.row.white-back
  %h1 Emails personnalisables

  %table.table
    %tr
      %th{ colspan: 2 }
        Type d'email
    - @procedure.mail_templates.each do |mt|
      %tr
        %td
          = mt.type
        %td.text-right
          = link_to "Personnaliser l'email", edit_admin_procedure_mail_path(@procedure, mt)
