.fr-col-6.fr-col-md-4.fr-col-lg-3
  = link_to edit_attestation_path, class: 'fr-tile fr-enlarge-link' do
    .fr-tile__body.flex.column.align-center.justify-between
      - if @procedure.attestation_template&.activated?
        %div
          - if error_messages.present?
            %p.fr-badge.fr-badge--warning À modifier
          - else
            %p.fr-badge.fr-badge--success Activée
      - else
        %p.fr-badge Désactivée
      %div
        %h3.fr-h6.fr-mt-10v= t('.title')
        %p.fr-tile-subtitle Délivrance automatique pour les dossiers acceptés
      %p.fr-btn.fr-btn--tertiary= t('views.shared.actions.edit')
