#strength-label
  - if @length < 8
    Le mot de passe doit faire au moins 8 caractères.
  - else
    - case @score
      - when 0..1
        Mot de passe très vulnérable.
        - if @words.present?
          <br>Vulnérabilité(s): #{@words}
      - when 2..3
        Mot de passe suffisament complexe mais peut être amélioré.
        - if @words.present?
          <br>Vulnérabilité(s): #{@words}
      - else
        Félicitations ! Mot de passe suffisamment fort et sécurisé.
