.fr-col-6.fr-col-md-4.fr-col-lg-3
  = link_to service_link, class: 'fr-tile fr-enlarge-link', id: 'service' do
    .fr-tile__body.flex.column.align-center.justify-between
      - if @procedure.service_id.present?
        %p.fr-badge.fr-badge--success Validé
      - else
        %p.fr-badge.fr-badge--warning À faire
      %div
        %h3.fr-h6.fr-mt-10v= t('.title')
        %p.fr-tile-subtitle
          - if @procedure.service_id.present?
            = @procedure.service.nom
          - else
            Choix du service administratif
      %p.fr-btn.fr-btn--tertiary= service_button_text
