= link_to edit_admin_procedure_path(@procedure), id: 'presentation', class: 'fr-tile fr-enlarge-link' do
  .fr-tile__body.flex.justify-between
    %div
      %span.icon.accept
      %p.fr-tile-status-accept Validé
    %div
      %h3.fr-h6.fr-mt-10v= t('.title')
      %p.fr-tile-subtitle Logo, nom, description
    %p.fr-btn.fr-btn--tertiary= t('views.shared.actions.edit')
