- content_for(:title, 'Demande de suppression de dossier')

%h1 Bonjour

%p
  Une demande de suppression a été effectuée pour le dossier
  = @dossier.id
  par l'utilisateur
  = @dossier.user.email
  \.
%p
  Merci de le notifier quand cela est fait.
