- content_for :procedure_logo do
  = render 'layouts/mailers/logo', url: @logo_url

%p
  Bonjour,

%p
  Vous avez reçu un
  %strong nouveau message
  de la part du service en charge de votre dossier.

%p
  Pour consulter le message et y répondre, cliquez sur le bouton ci-dessous :

= round_button('Lire le message', messagerie_dossier_url(@dossier), :primary)

= render 'layouts/mailers/signature', service: @service

- content_for :footer do
  = render 'layouts/mailers/service_footer', service: @service, dossier: @dossier
