%p
  Bonjour,

%p
  Vous avez commencé à remplir un dossier pour la démarche « #{@dossier.procedure.libelle} ».

%p
  Vous pouvez
  %strong retrouver et compléter votre dossier
  à l’adresse suivante :
  = link_to dossier_url(@dossier), dossier_url(@dossier), target: '_blank', rel: 'noopener'

= render partial: "layouts/mailers/signature"
