- content_for(:title, "Suppression du dossier n° #{@deleted_dossier.dossier_id}")

%h1 Bonjour,

%p
  À la demande de l'usager le dossier n° #{@deleted_dossier.dossier_id} a été supprimé.

%p
  Bonne journée,

%p
  L'équipe demarches-simplifiees.fr
