- content_for(:title, "Suppression du dossier n° #{@deleted_dossier.dossier_id}")

%h1 Bonjour,

%p
  À la demande de l'usager, le dossier n° #{@deleted_dossier.dossier_id}
  (sur la démarche «&nbsp;#{@deleted_dossier.procedure.libelle}&nbsp;»)
  a été supprimé.

= render partial: "layouts/mailers/signature"
