%p
  Bonjour,

%p
  Vous pouvez retrouver et compléter le brouillon que vous avez créé pour la démarche
  %strong= @dossier.procedure.libelle
  à l'adresse suivante :
  = link_to dossier_url(@dossier), dossier_url(@dossier), target: '_blank', rel: 'noopener'

= render partial: "layouts/mailers/signature"
