%p
  Bonjour,

%p
  Un nouveau message est disponible dans votre espace demarches-simplifiees.fr.

%p
  Pour le consulter, merci de vous rendre sur
  = messagerie_dossier_url(@dossier)

%p
  Bonne journée,

%p
  L'équipe demarches-simplifiees.fr
