- content_for(:title, "Suppression du dossier n° #{@deleted_dossier.dossier_id}")

%p
  Bonjour,

%p
  Votre dossier n° #{@deleted_dossier.dossier_id}
  («&nbsp;#{@deleted_dossier.procedure.libelle}&nbsp;») a bien été supprimé.
  Une trace anonyme de ce traitement sera conservée pour l’administration.

= render partial: "layouts/mailers/signature"
