- content_for(:title, "Votre dossier n° #{@dossier.id} n'a pas pu être supprimé")

%h1 Bonjour,

%p
  L'instruction de votre dossier n° #{@dossier.id} («&nbsp;#{@dossier.procedure.libelle}&nbsp;»)
  ayant commencé, il n'a pas pu être supprimé.
  Le dossier a été rétabli dans votre tableau de bord.

= render partial: "layouts/mailers/signature"
