%p
  Bonjour,

%p
  Un nouveau message est disponible dans votre espace #{SITE_NAME}.

%p
  Pour le consulter, merci de vous rendre sur
  = link_to messagerie_dossier_url(@dossier), messagerie_dossier_url(@dossier), target: '_blank'

= render partial: "layouts/mailers/signature"
