- content_for(:title, "#{@subject}")

%p
  Bonjour,

%p
  = t('.body_html', dossier_id: @deleted_dossier.dossier_id, libelle_demarche: @deleted_dossier.procedure.libelle, deleted_dossiers_link: dossiers_url(statut: 'dossiers-supprimes'))

= render partial: "layouts/mailers/signature"
