- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  = t('.body', dossier_id: @hidden_dossier.id, procedure: @hidden_dossier.procedure.libelle)

= render partial: "layouts/mailers/signature"
