- content_for(:title, @subject)

%h1 Bonjour,

%p
  En raison d’un incident, votre
  = link_to("#{@dossier_kind} n° #{@dossier.id}", dossier_url(@dossier))
  sur la procédure «&nbsp;#{@dossier.procedure.libelle}&nbsp;» a été inaccessible pendant quelques jours.

  L’accès est à présent à nouveau possible. Nous vous présentons nos excuses pour toute gène occasionnée.
%p
  Bonne journée,

%p
  L'équipe demarches-simplifiees.fr
