%p
  Bonjour,

%p
  L’administration en charge de votre dossier vous a
  %strong envoyé un nouveau message.

%p
  Pour le consulter et y répondre, cliquez sur le bouton ci-dessous :

= round_button('Lire le message', messagerie_dossier_url(@dossier))

= render partial: "layouts/mailers/signature", locals: { service: @service }
