- content_for :procedure_logo do
  = render 'layouts/mailers/logo', url: @logo_url

%p
  Bonjour,

%p
  L’administration en charge de votre dossier vous a
  %strong envoyé un nouveau message.

%p
  Pour le consulter et y répondre, cliquez sur le bouton ci-dessous :

= round_button('Lire le message', messagerie_dossier_url(@dossier))

= render 'layouts/mailers/signature', service: @service

- content_for :footer do
  = render 'layouts/mailers/service_footer', service: @service, dossier: @dossier
