- content_for(:title, "Votre dossier n° #{@dossier.id} n'a pas pu être supprimé")

%h1 Bonjour,

%p
  L'instruction de votre dossier n° #{@dossier.id} ayant commencé, il n'a pas pu être supprimé.
  Le dossier a été rétabli dans votre tableau de bord.

%p
  Bonne journée,

%p
  L'équipe demarches-simplifiees.fr
