Cordialement,
%br
%br
= author_name
%br
%br
Équipe #{SITE_NAME}
%br
Téléphone (standard) :
= CONTACT_PHONE
%br
Service Informatique de la Polynésie Française / SIPf
%br
Rue Dumont D'Urville, Papeete
%br
Ce site a été créé par l'Incubateur de Services Numériques / beta.gouv.fr
%br
Services du Premier Ministre, 20 avenue de Ségur, 75007 Paris
