Cordialement,
%br
%br
= author_name
%br
%br
Équipe demarches-simplifiees.fr
%br
Téléphone (standard) : 01 76 42 02 87
%br
Incubateur de Services Numériques / beta.gouv.fr
%br
Services du Premier Ministre, 20 avenue de Ségur, 75007 Paris
