Cordialement,
%br
%br
= author_name
%br
%br
Équipe #{SITE_NAME}
%br
Téléphone (standard) :
= CONTACT_PHONE
%br
Service Informatique de la Polynésie Française / SIPf
%br
Rue Dumont D'Urville, Papeete
%br
Ce site est créé par l'Incubateur de Services Numériques / beta.gouv.fr
et adapté par le Service Informatique de la Polynésie française
