Cordialement,
%br
%br
= author_name
%br
%br
Équipe #{SITE_NAME}
%br
Téléphone (standard) :
= CONTACT_PHONE
%br
Direction de la Modernisation et des Réformes de l'Administration / DMRA
%br
Avenue Pouvanaa a Oopa, Papeete
%br
Ce site est créé par l'Incubateur de Services Numériques / beta.gouv.fr
et adapté/géré par le Service Informatique de la Polynésie française / SIPf
