= vertical_margin(50)

%div{ align: "center" }
  %p
    %strong Aidez-nous à améliorer ce service !
    %br
    Donnez-nous votre avis, cela ne prend que 2 minutes.
  != @jdma_html

= vertical_margin(20)
