= vertical_margin(50)

%div{ align: "center" }
  %p
    %strong Aidez-nous à améliorer ce service !
    %br
    Donnez-nous votre avis, cela ne prend que 2 minutes.
  != @jdma_html.gsub('nd_source=button', 'nd_source=email').gsub('<a ', '<a target="_blank" rel="noopener noreferrer" ')

= vertical_margin(20)
