%p{ style: 'background-color: #F5F5FE; padding: 25px; ' }
  J'aide les services publics à s'améliorer :
  = link_to 'je donne mon avis avec services publics +', 'https://www.plus.transformation.gouv.fr/experience/step_1?pk_campaign=demarches-simplifiees', target: '_blank', rel: 'noopener'
