%p
  = t(:best_regards, scope: [:views, :shared, :greetings])
  %br
  - if defined?(service) && service && service.nom.present?
    = service.nom
  - else
    -# The WORD JOINER unicode entity (&#8288;) prevents email clients from auto-linking the signature
    = t('.team')
    #{Current.application_name.gsub(".","&#8288;.").html_safe}
