%p
  Bonne journée,
  %br
  - if defined?(service) && service && service.nom.present?
    = service.nom
  - else
    -# The WORD JOINER unicode entity prevents email clients from auto-linking the signature
    L’équipe demarches-simplifiees&#8288;.fr
