%p
  = t(:best_regards, scope: [:views, :shared, :greetings])
  %br
  - if defined?(service) && service && service.nom.present?
    = service.nom
  - else
    = t('.team')
    = application_name_without_link
