%p
  Bonne journée,
  %br
  - if defined?(service) && service && service.nom.present?
    = service.nom
  - else
    %img{ :src => image_url('mailer/equipe-ds.png'), alt: "L'équipe démarches simplifiées" }
