%p
  Bonne journée,
  %br
  - if defined?(service) && service && service.nom.present?
    = service.nom
  - else
    -# The WORD JOINER unicode entity prevents email clients from auto-linking the signature
    L’équipe #{APPLICATION_NAME.gsub(".","&#8288;.").html_safe}
    %br
    Direction de la Modernisation et des Réformes de l'Administration / DMRA
    Service Informatique de la Polynésie Française / SIPf
