- if @logo_url.present?
  - content_for :procedure_logo do
    %table{ width: "100%", border: "0", cellspacing: "0", cellpadding: "0" }
      %tr
        %td{ align: "center" }
          = image_tag @logo_url, style: "height: 150px;"

- content_for :footer do
  - if @dossier.present?
    - messagerie_url = messagerie_dossier_url(@dossier)
  - else
    - messagerie_url = "#"
  %strong
    Merci de ne pas répondre à cet email. Pour vous adresser à votre administration, passez directement par votre
    = succeed '.' do
      = link_to 'messagerie', messagerie_url, target: '_blank', rel: 'noopener'

= render template: 'layouts/mailers/notifications_layout'
