= yield

%p ---

%p.footer
  %strong
    Merci de ne pas répondre à cet email. Pour vous adresser à votre administration, passez directement par votre
    = succeed '.' do
      = link_to 'messagerie', messagerie_dossier_url(@dossier), target: '_blank'
