= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Attestation']] }

= render NestedForms::FormOwnerComponent.new

= render partial: "form", locals: { procedure: @procedure, attestation_template: @attestation_template, buttons: @buttons, attestation_kind: @attestation_kind }
