.header
  .left
    %p.issuer
      Service Hébergement et Accès au Logement<br />
      Bureau de l'Accès au Logement

  .right
    %p.direction
      Direction Régionale et Interdépartementale<br />
      de l'Hébergement et du Logement<br />
      DRIHL Val-de-Marne

    %p.date Créteil, le 20 mars 2023

%h1.title Attestation

.main
  %p La situation de Monsieur Je_suis_un_test dont la demande de logement social porte le NUR je_sui_un_nur est reconnue prioritaire au titre du plan départemental d'actions pour le logement et l'hébergement des personnes défavorisées.


.notice
  %p
    Informations :
    Cette reconnaissance de priorité rend le dossier du requérant éligible au contingent préfectoral de logements sociaux réservé aux publics prioriatires.
    Dans ce cadre, une proposition de logement sera faites par les services de la DRIHL dès lors qu'ils disposeront d'un logement vacant correspondant aux besoins et aux capacités de la famille.
    Dans l'attente, IL EST INUTILE DE CONTACTER LA DRIHL
    Par ailleurs, en vertu des dispositions de la loi Egalité et Citoyenneté, les réservataires autres que l'État (villes. Action Logement, bailleurs sociaux sur leur contingent propre, etc) doivent également contribuer au relogement des publics prioritaires, à hauteur de 25% de leurs attributions.

%p.footer
  12/14 rue des Archives, 94000 Créteil
  www.drihl.ile-de-france.developpement-durable.gouv.fr
