- hidden_field_id = SecureRandom.uuid
= form.hidden_field :value, { data: { id: hidden_field_id, name: 'value' } }
= form.hidden_field :external_id, { data: { id: hidden_field_id, name: 'external_id' } }
= react_component("ComboAnnuaireEducationSearch", mandatory: champ.mandatory?, hiddenFieldId: hidden_field_id )
