.toolbar
  %button.button.primary.new-area Ajouter une zone
  %input.address{ data: { address: true, autocomplete: 'address' }, placeholder: 'Saissisez une adresse ou positionner la carte' }

.carte.edit{ data: { geo: geo_data(champ) }, class: "carte-#{form.index}" }

.geo-areas
  = render partial: 'shared/champs/carte/geo_areas', locals: { champ: champ, error: false }

= form.hidden_field :value,
  data: { remote: true, url: champs_carte_path(form.index), params: champ_carte_params(champ).to_query, method: 'post' }
