#{champ.libelle}
- if champ.type_de_champ.mandatory?
  %span.mandatory *

- if champ.updated_at.present? && seen_at.present?
  %span.updated-at{ class: highlight_if_unseen_class(seen_at, champ.updated_at) }
    = "modifié le #{try_format_datetime(champ.updated_at)}"

- if champ.rebased_at.present? && champ.rebased_at > (seen_at || champ.updated_at) && current_user.owns_or_invite?(champ.dossier)
  %span.updated-at.highlighted
    Le type de ce champ où sa description a été modifiée par l'administration. Vérifier son contenu.
