#{champ.libelle}
- if champ.mandatory?
  %span.mandatory *

- if champ.updated_at.present? && seen_at.present?
  %span.updated-at{ class: highlight_if_unseen_class(seen_at, champ.updated_at) }
    = "modifié le #{try_format_datetime(champ.updated_at)}"
