- parsed_value = champ.value.present? ? Time.zone.parse(champ.value) : nil

.datetime
  = form.datetime_select(:value, selected: parsed_value, start_year: datetime_start_year(parsed_value), end_year: Date.today.year + 50, minute_step: 5, include_blank: true)
