- parsed_value = champ.value.present? ? Time.zone.parse(champ.value) : nil

.datetime
  = form.datetime_select(:value, selected: parsed_value, start_year: 1950, end_year: 2100, minute_step: 5, include_blank: true)
