.dossier-link
  = form.number_field :value,
    id: champ.input_id,
    aria: { describedby: champ.describedby_id },
    placeholder: "Numéro de dossier",
    autocomplete: 'off',
    required: champ.mandatory?,
    data: { controller: 'turbo-input', turbo_input_url_value: champs_dossier_link_path(champ.id) },
    class: "width-33-desktop"

  .help-block{ id: dom_id(champ, :help_block) }
    = render partial: 'shared/champs/dossier_link/help_block', locals: { id: champ.value }
