- if champ.drop_down_list && champ.drop_down_list.options.any?
  - enabled_non_empty_options = champ.drop_down_list.enabled_non_empty_options
  - if enabled_non_empty_options.size > Champs::DropDownListChamp::THRESHOLD_NB_OPTIONS_AS_RADIO
    = form.select :value,
      champ.drop_down_list.options,
      disabled: champ.drop_down_list.disabled_options,
      required: champ.mandatory?
  - else
    %fieldset.radios
      %legend.mandatory-explanation
        Sélectionnez une des valeurs
      - enabled_non_empty_options.each do |option|
        %label
          = form.radio_button :value, option
          = option
