- if champ.options?
  - if champ.render_as_radios?
    %fieldset.radios
      %legend.mandatory-explanation
        Sélectionnez une des valeurs
      - champ.enabled_non_empty_options.each do |option|
        %label
          = form.radio_button :value, option
          = option
  - else
    = form.select :value,
      champ.options,
      disabled: champ.disabled_options,
      required: champ.mandatory?
