.editable-champ{ class: "editable-champ-#{champ.type_champ}" }
  - if has_label?(champ)
    = render partial: 'shared/dossiers/editable_champs/champ_label', locals: { form: form, champ: champ, seen_at: defined?(seen_at) ? seen_at : nil }

  = render partial: "shared/dossiers/editable_champs/#{champ.type_champ}",
    locals: { champ: champ, form: form }
