.explication
  = raison_sociale_or_name(etablissement)
  = etablissement.entreprise_forme_juridique
  - if etablissement.entreprise_capital_social.present?
    au capital social de
    = pretty_currency(etablissement.entreprise_capital_social)
