- level = champ.type_de_champ.level.present? ? champ.type_de_champ.level.to_i : 1
- level = 1 if level < 1
- level = 3 if level > 3
- haml_tag "h" + (1+level).to_s, {class: 'header-section'} do
  - libelle_starts_with_number = (champ.libelle =~ /^\d/)
  - if !libelle_starts_with_number
    = "#{champ.section_index}."
  = champ.libelle
