- if champ.drop_down_list && champ.drop_down_list.options.any?
  = form.select :primary_value,
    champ.primary_options,
    { required: champ.mandatory? },
    { data: { secondary_options: champ.secondary_options } }
  = form.select :secondary_value,
    champ.secondary_options[champ.primary_value],
    { required: champ.mandatory? },
    { data: { secondary: true } }
