- if champ.options?
  - if champ.render_as_checkboxes?
    - champ.enabled_non_empty_options.each do |option|
      .editable-champ.editable-champ-checkbox
        %label
          = form.check_box :value, { multiple: true, checked: champ&.value&.include?(option) }, option, nil
          = option
  - else
    = form.select :value,
        champ.options,
        { selected: champ.selected_options,
          disabled: champ.disabled_options },
        multiple: true,
        class: 'select2'

