- if champ.drop_down_list && champ.drop_down_list.options.any?
  = form.select :value,
      champ.drop_down_list.options,
      { selected: champ.selected_options,
        disabled: champ.drop_down_list.disabled_options },
      multiple: true,
      class: 'select2'
