- if champ.drop_down_list && champ.drop_down_list.options.any?
  - enabled_non_empty_options = champ.drop_down_list.enabled_non_empty_options
  - if enabled_non_empty_options.size > Champs::MultipleDropDownListChamp::THRESHOLD_NB_OPTIONS_AS_CHECKBOX
    = form.select :value,
        champ.drop_down_list.options,
        { selected: champ.selected_options,
          disabled: champ.drop_down_list.disabled_options },
        multiple: true,
        class: 'select2'
  - else
    - enabled_non_empty_options.each do |option|
      .editable-champ.editable-champ-checkbox
        %label
          = form.check_box :value, { multiple: true, checked: champ&.value&.include?(option) }, option, nil
          = option
