-# Allowed formats:
-# very light validation is made client-side
-# stronger validation is made server-side
= form.phone_field :value,
  placeholder: champ.libelle,
  required: champ.mandatory?,
  pattern: "[^a-zA-Z]+"
