.repetition{ id: dom_id(champ, :rows) }
  - champ.rows.each do |champs|
    = render partial: 'shared/dossiers/editable_champs/repetition_row', locals: { form: form, champ: champ, row: champs }

.actions{ 'data-turbo': 'true' }
  = button_tag type: :submit, form: :turbo_form, formaction: champs_repetition_path(champ.id), formmethod: :post, class: 'button add-row' do
    %span.icon.add
    Ajouter un élément pour « #{champ.libelle} »
