= form.text_field :value,
  placeholder: champ.libelle,
  class: 'small-margin',
  data: { remote: true, debounce: true, url: champs_siret_path(form.index), params: { champ_id: champ&.id }.to_query, spinner: true },
  required: champ.mandatory?,
  pattern: "[A-Z0-9][0-9]{5}",
  title: "Le numéro TAHITI doit comporter exactement 6 caractères"
.spinner.right-spinner.hidden
%div{ class: "siret-info-#{form.index}" }
  - if champ.etablissement.present?
    = render partial: 'shared/dossiers/editable_champs/etablissement_titre', locals: { etablissement: champ.etablissement }
