.row
  = form.check_box :value,
    { required: champ.mandatory?,
      id: champ.input_id,
      disabled: !champ.user_accredited?(current_user),
      checked: champ.value.present?,
      aria: { describedby: champ.describedby_id },
      data: { visa: "true" } },
    champ.value.presence || current_user&.email || '1',
    ''
  .visa-info
    - if champ.value.present?
      validé par
      = champ.value
    - else
      cochez la case pour valider.
