Bonjour,
%br
%br
Votre dossier nº --numéro du dossier-- a été accepté le --date de décision--.
%br
%br
Vous pouvez télécharger votre attestation à l'adresse suivante : --lien attestation--
%br
%br
A tout moment, vous pouvez consulter le contenu de vos dossiers et les éventuels commentaires de l'administration à cette adresse : --lien dossier--
%br
%br
Bonne journée,
%br
%br
L'équipe demarches-simplifiees.fr (anciennement Téléprocédures Simplifiées)
%br
%br
—
%br
%br
Merci de ne pas répondre à cet email. Postez directement vos questions dans votre dossier sur la plateforme.
