Bonjour
%br
%br
Votre dossier nº--numero_dossier-- a été accepté.
%br
%br
A tout moment, vous pouvez consulter le contenu de vos dossiers et les éventuels commentaires de l'administration à cette adresse : --lien_dossier--
%br
%br
Bonne journée
%br
%br
\---
%br
Merci de ne pas répondre à ce mail. Postez directement vos questions dans votre dossier sur la plateforme.
%br
\---
