Bonjour
%br
%br
Votre administration vous confirme la bonne réception de votre dossier nº--numero_dossier--. Celui-ci sera instruit dans le délai légal déclaré par votre interlocuteur.
%br
%br
Bonne journée
%br
%br
\---
%br
Merci de ne pas répondre à ce mail. Postez directement vos questions dans votre dossier sur la plateforme.
%br
\---
