Bonjour
%br
%br
Votre dossier Nº--numero_dossier-- a été refusé.
%br
%br
Pour en savoir plus sur le motif du refus, vous pouvez consulter le contenu de vos dossiers et les éventuels commentaires de l'administration à cette adresse : --lien_dossier--
%br
%br
Bonne journée
%br
%br
\---
%br
Merci de ne pas répondre à ce mail. Postez directement vos questions dans votre dossier sur la plateforme.
%br
\---
