Bonjour
%br
%br
Votre dossier nº --numero_dossier-- a été classé sans suite le --date_de_decision--.
%br
%br
Pour en savoir plus sur les raisons de ce classement sans suite, vous pouvez consulter le contenu de vos dossiers et les éventuels commentaires de l'administration à cette adresse : --lien_dossier--
%br
%br
Bonne journée,
%br
%br
L'équipe Téléprocédures Simplifiées
%br
%br
—
%br
%br
Merci de ne pas répondre à ce mail. Postez directement vos questions dans votre dossier sur la plateforme.
