#liste_piece_justificative
  -if @procedure.types_de_piece_justificative.size > 0
    - @procedure.types_de_piece_justificative.order(:libelle).each_with_index do |type_de_piece_justificative, index|
      =render partial: 'admin/procedures/types_de_piece_justificative/form', locals:{ type_de_piece_justificative: type_de_piece_justificative, index: index }

#liste_delete_piece_justificative

#new_type_de_piece_justificative
  =render partial: 'admin/procedures/types_de_piece_justificative/form', locals:{ type_de_piece_justificative: nil, index: @procedure.types_de_piece_justificative.size }

%script{ type:'text/javascript' }
  ="var types_de_piece_justificative_index = #{@procedure.types_de_piece_justificative.size}"