= fields_for @champ.input_name, @champ do |form|
  = turbo_stream.replace @champ.input_group_id, partial: "shared/dossiers/editable_champs/editable_champ", locals: { champ: @champ, form: form }

- if @champ.piece_justificative_file.attached?
  - attachment = @champ.piece_justificative_file.attachment
  = turbo_stream.focus_all "button[data-toggle-target=\".attachment-input-#{attachment.id}\"]"
