- if dossier.en_construction_ou_instruction?
  - if dossier_is_followed
    = link_to unfollow_gestionnaire_dossier_path(procedure, dossier), method: :patch, class: 'button' do
      %span.icon.unfollow>
      Ne plus suivre
  - else
    = link_to follow_gestionnaire_dossier_path(procedure, dossier), method: :patch, class: 'button' do
      %span.icon.follow>
      Suivre le dossier

- elsif dossier.termine?
  - if dossier.archived
    = link_to unarchive_gestionnaire_dossier_path(procedure, dossier), method: :patch, class: 'button' do
      %span.icon.unarchive>
      Désarchiver le dossier
  - else
    = link_to archive_gestionnaire_dossier_path(procedure, dossier), method: :patch, class: 'button' do
      %span.icon.archive>
      Archiver le dossier
