.fr-fieldset__element
  = @form.label :code_departement, for: focusable_departement_input_id, class: 'fr-label', id: input_label_id(@champ, :code_departement) do
    - "Le département de l’EPCI"
  = @form.select :code_departement, departement_options, departement_select_options, required: @champ.required?, id: focusable_departement_input_id, class: "width-33-desktop width-100-mobile fr-select", aria: labelledby_id_attr(input_label_id(@champ, :code_departement))

- if @champ.departement?
  .fr-fieldset__element
    .fr-select-group
      = @form.label :value, for: focusable_epci_input_id, class: 'fr-label', id: input_label_id(@champ, :value) do
        - "EPCI"
      = @form.select :value, epci_options, epci_select_options, required: @champ.required?, id: focusable_epci_input_id, class: "width-33-desktop width-100-mobile fr-select", aria: labelledby_id_attr(input_label_id(@champ, :value))
