%p
  Bonjour,

%p
  Votre dossier nº --numéro du dossier-- a été accepté le --date de décision--.

%p
  Vous pouvez télécharger votre attestation à l'adresse suivante : --lien attestation--

%p
  À tout moment, vous pouvez consulter votre dossier et les éventuels messages de l'administration à cette adresse : --lien dossier--

%p
  Bonne journée,

%p
  L'équipe demarches-simplifiees.fr

%p
  —

%p
  Merci de ne pas répondre à cet email. Postez directement vos questions dans votre dossier sur la plateforme.
