%p
  Bonjour,

%p
  Votre dossier nº --numéro du dossier-- a été accepté le --date de décision--.

%p
  À tout moment, vous pouvez consulter votre dossier et les éventuels messages de l'administration à cette adresse : --lien dossier--

= render partial: "layouts/mailers/signature"
