%p
  Bonjour,

%p
  Votre administration vous confirme la bonne réception de votre dossier nº --numéro du dossier--.

%p
  À tout moment, vous pouvez consulter votre dossier et les éventuels messages de l'administration à cette adresse : --lien dossier--

= render partial: "layouts/mailers/signature"
