%p
  Bonjour,

%p
  Votre administration vous confirme la bonne réception de votre dossier nº --numéro du dossier--. Celui-ci sera instruit dans le délai légal déclaré par votre interlocuteur.

= render partial: "notification_mailer/signature"
