%p
  Bonjour,

%p
  Votre dossier nº --numéro du dossier-- a été refusé le --date de décision--.

%p
  Le motif de refus est le suivant : --motivation--.

%p
  Pour en savoir plus sur le motif du refus, vous pouvez consulter votre dossier et les éventuels messages de l'administration à cette adresse : --lien dossier--

= render partial: "notification_mailer/signature"
