%p
  Bonjour,

%p
  Votre dossier nº --numéro du dossier-- a été classé sans suite le --date de décision--.

%p
  Le motif est le suivant : --motivation--.

%p
  Pour en savoir plus sur les raisons de ce classement sans suite, vous pouvez consulter votre dossier et les éventuels messages de l'administration à cette adresse : --lien dossier--

= render partial: "notification_mailer/signature"
