.container.center
  %h1.cover-heading TPS
  %h4.cover-heading Téléprocédures simplifiées
  .row{style:'margin-top:10%'}
    -if !user_signed_in?
      .col-lg-6.col-md-6
        = render partial: '/start/pro'
      .col-lg-6.col-md-6.vr
        = render partial: '/start/admin'
    -else
      .col-lg-12.col-md-12
        = render partial: '/start/admin'