.container.center
  %h1.cover-heading <b>T</b>élé<b>P</b>rocédure administrative <b>S</b>implifiée
  %br
  %p{style: 'width:67%; margin-left:auto; margin-right:auto'}
    Site de démonstration d’un service public de saisie d’un projet ou de dépôt d’une démarche administrative, auprès d’un ou plusieurs organismes publics, simplifié des informations déjà connues des administrations, grâce à la fourniture du numéro SIRET.

  .row
    = render partial: '/start/pro'

