%nav.fr-breadcrumb.fr-mt-0.fr-mb-1w{ role: "navigation", aria: { label: t('you_are_here', scope: [:layouts, :breadcrumb]) } }
  %button.fr-breadcrumb__button{ aria: { expanded: "false", controls: "breadcrumb-1" } }
    = t('show', scope: [:layouts, :breadcrumb])

  .fr-collapse#breadcrumb-1
    %ol.fr-breadcrumb__list
      %li= link_to t('root', scope: [:layouts, :breadcrumb]), instructeur_procedures_path, class: 'fr-breadcrumb__link'

      - steps.each.with_index do |step, i|
        - if i == steps.size - 1
          %li= link_to step[0], '', { aria: { current: "page" } , class: 'fr-breadcrumb__link' }
        - else
          %li= link_to step[0], step[1], class: 'fr-breadcrumb__link'
