- if export_template.tabular?
  = render partial: 'form_tabular', locals: { procedure:, export_template:, groupe_instructeurs: }
- else
  = render partial: 'form_zip', locals: { procedure:, export_template:, groupe_instructeurs: }
