= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [[@procedure.libelle.truncate_words(10), instructeur_procedure_path(@procedure)],
                    [t('.title')]] }
.fr-container
  %h1 Nouveau modèle d'export
  - if params[:kind] == 'tabular'
    = render partial: 'form_tabular', locals: { export_template: @export_template, groupe_instructeurs: @groupe_instructeurs }
  - else
    = render partial: 'form', locals: { export_template: @export_template, groupe_instructeurs: @groupe_instructeurs }
