.etape.etapes_menu.col-md-3.col-lg-3
  %h3
    Mes informations
  %br

.etape.etapes_informations.col-md-9.col-lg-9
  .row
    #recap_info_entreprise
      %h3.text-warning
        INSEE Indisponible

      %p
        %b
          Notre partenaire l'INSEE est actuellement indisponible. Nous ne pouvons donc pas récupérer les informations de votre entreprise. Une fois de retour, vos informations seront automatiquement ajoutées à votre dossier.

      %br
      = form_for @facade.dossier, url: { controller: '/users/dossiers', action: :update } do |f|
        = f.hidden_field :id
        %label{ style:'font-weight:normal' }
          = f.check_box :autorisation_donnees
          J'autorise les décideurs publics à vérifier les informations de mon organisation auprès des administrations concernées. Ces informations resteront strictement confidentielles.
        %br
        = f.submit 'Etape suivante', class: "btn btn btn-info", style: 'float:right', id: 'etape_suivante', disabled: :disabled
