- if @can_download_dossiers
  = turbo_stream.update_all '.procedure-actions' do
    = render Dossiers::ExportComponent.new(procedure: @procedure, exports: @exports, count: @dossiers_count, export_url: method(:admin_procedure_exports_path))
