%input.form-control{ name: "champs['#{champ.id}']",
  placeholder: "JJ/MM/AAAA",
  id: "champs_#{champ.id}",
  value: champ.value,
  type: champ.type_champ,
  "data-provide": champ.data_provide,
  "data-date-format": champ.data_date_format }
