.default_data_block.default_visible
  %div.row.show-block.infos
    %div.header
      %div.col-lg-12.col-md-12.col-sm-12.col-xs-12.title
        %div.carret-right
        %div.carret-down
        =libelle
    %div.body
      = render partial: 'users/description/champs/render_list_champs', locals: {champs: champs, order_place: order_place}