.default_data_block.default_visible
  .row.show-block.infos
    .header
      .col-xs-12.title
        .carret-right
        .carret-down
        =libelle
    .body
      = render partial: 'users/description/champs/render_list_champs', locals: {champs: champs, order_place: order_place}
