.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    %br
    %h3.text-info
      = libelle
    = render partial: 'users/description/champs/render_list_champs', locals: { champs: champs, order_place: order_place }
