%h3.text-primary.page-header
  =champ.libelle
  %span.mask_section{style:'float: right'}
    %a.mask_section_button.btn.btn-xs.btn-info{id: "mask_button_"+champ.id.to_s}
      Masquer la section
      %i.fa.fa-chevron-up