%textarea.form-control.wysihtml5{ name: "champs['#{champ.id}']",
                  placeholder: champ.description,
                  id: "champs_#{champ.id}",
                  row: '6' }
  = champ.value
