%div
  %label.radio-inline
    = radio_button_tag "champs['#{champ.id}']", "true", champ.object.value == 'true'
    Oui

  %label.radio-inline
    = radio_button_tag "champs['#{champ.id}']", "false", champ.object.value == 'false'
    Non
