%div
  %label.radio-inline
    = radio_button_tag "champs['#{champ.id}']", "true", champ.yes?
    Oui

  %label.radio-inline
    = radio_button_tag "champs['#{champ.id}']", "false", champ.no?
    Non
