%table.table
  %tr
    %th{colspan: 3}
      %h4 Lien vers les procédures TPS
  %tr
    %td
    %th Titre
    %th Description
  - Procedure.all.each do |procedure|
    %tr
      %td.col-md-1.col-lg-1
      %td.col-md-4.col-lg-4
        = link_to procedure.libelle, "/users/procedure/#{procedure.id}"
      %td
        = procedure.description