%ul.fr-footer__bottom-list
  %li.fr-footer__bottom-item
    = link_to t("links.footer.accessibilite.label"), ACCESSIBILITE_URL, title: t("links.footer.accessibilite.title"), class: "fr-footer__bottom-link", rel: "noopener noreferrer"
  %li.fr-footer__bottom-item
    = link_to t("links.footer.mentions_legales.label"), MENTIONS_LEGALES_URL, title: t("links.footer.mentions_legales.title"), class: "fr-footer__bottom-link", rel: "noopener noreferrer"
  %li.fr-footer__bottom-item
    = link_to t("links.footer.cookies.label"), suivi_path, title: t("links.footer.cookies.title"), class: "fr-footer__bottom-link"
