%ul.footer-row.footer-bottom-line.footer-site-links
  %li>= link_to "Accessibilité", accessibilite_path
  %li>= link_to "CGU", CGU_URL, target: "_blank", rel: "noopener noreferrer"
  %li>= link_to "Mentions légales", MENTIONS_LEGALES_URL, target: "_blank", rel: "noopener noreferrer"
  %li>= link_to 'Documentation', DOC_URL
  %li>= contact_link "Contact technique", dossier_id: dossier&.id
  %li>= link_to 'Aide', FAQ_URL
