= render "main_navigation", action: :edit

.fr-container.fr-my-5w
  .fr-grid-row.fr-grid-row--center
    .fr-col-lg-10
      %h1.fr-h2 Annonce
      = render ReleaseNote::FormComponent.new(release_note: @release_note)
