= link_to admin_procedure_experts_path(@procedure), class: 'fr-tile fr-enlarge-link' do
  .fr-tile__body.flex.justify-between
    %div
      %span.icon.preview
      %p.fr-tile-status-todo À configurer
    %div
      %h3.fr-h6.fr-mt-10v= t('.title')
      %p.fr-tile-subtitle Gérer les avis des experts invités
    %p.fr-btn.fr-btn--tertiary= t('views.shared.actions.edit')
