= link_to admin_procedure_experts_path(@procedure), class: 'card-admin' do
  %div
    %span.icon.preview
    %p.card-admin-status-todo À configurer
  %div
    %p.card-admin-title= t('.title')
    %p.card-admin-subtitle Gérer les avis des experts invités
  %p.button= t('views.shared.actions.edit')
