= form_for [:admin, @procedure], url: admin_procedure_types_de_champ_private_path(@procedure) , remote: true do |f|
  = render partial: 'fields', locals: { types_de_champ_private: @procedure.types_de_champ_private_ordered.decorate, f: f }
  = f.submit "Enregistrer", class: 'btn btn-success', id: :save
  %hr
  #new_type_de_champ
    = render partial: 'fields', locals: { types_de_champ_private: TypeDeChampPrivate.new.decorate, f: f }
