= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [[@procedure.libelle.truncate_words(10), instructeur_procedure_path(@procedure)],
    ['Groupes d’instructeurs', instructeur_groupes_path(@procedure)],
      [@groupe_instructeur.label, instructeur_groupe_path(@groupe_instructeur, procedure_id: @procedure.id) ],
      ['Service']]}
.container
  %h1 Informations de contact

  = render partial: 'form',
    locals: { contact_information: @contact_information, procedure_id: @procedure.id }
