.fr-footer__bottom-copy
  %p= t("links.footer.copy_html", link: link_to(t("links.footer.license"), "https://github.com/etalab/licence-ouverte/blob/master/LO.md", title: new_tab_suffix(t("links.footer.license")), hreflang: "fr", **external_link_attributes))
