.fr-footer__bottom-copy
  %p
    Sauf mention contraire, tous les contenus de ce site sont sous
    %a{ href: "https://github.com/etalab/licence-ouverte/blob/master/LO.md", target:"_blank", class: "fr-underlined" } licence etalab-2.0
