.france-connect-login
  .france-connect-login-separator
    ou
  .france-connect-login-buttons
    = link_to "S’identifier avec FranceConnect", url, class: "france-connect-login-button"
  .france-connect-help-link
    = link_to "Qu’est-ce que FranceConnect ?", "https://franceconnect.gouv.fr/", target: "_blank", rel: "noopener", class: "link"
