.france-connect-login
  %h2
    Avec FranceConnect
  %p
    France connect est la solution proposée par l'État pour sécuriser et simplifier la connexion aux services en ligne.
  .france-connect-login-buttons
    = link_to "S’identifier avec FranceConnect", url, class: "france-connect-login-button"
  .france-connect-help-link
    = link_to "Qu’est-ce que FranceConnect ?", "https://franceconnect.gouv.fr/", target: "_blank", rel: "noopener", class: "link"
  .france-connect-login-separator
    ou
