.keycloak-login
  .keycloak-login-separator
    ou
  .keycloak-login-buttons
    = link_to "S’identifier avec KeyCloak", url, class: "keycloak-login-button"
  .keycloak-help-link
    Membre de l'administration
