/# From https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design
%table{ width: "100%", border: "0", cellspacing:"0", cellpadding:"5" }
  %tr
    %td{ align: "center" }
      %table{ border:"0", cellspacing:"0", cellpadding:"0" }
        %tr
          %td{ align:"center", color: theme[:color], bgcolor: theme[:bg_color] }
            %a{ href: url, target:"_blank", rel: "noopener", style:"font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #{theme[:color]}; text-decoration: none; text-decoration: none; padding: 8px 24px; border: 1px solid #{theme[:border_color]}; display: inline-block; min-width: 200px; min-height: 32px; line-height: 32px;" }
              = text
