%li{ class: "relative #{(active ? 'active' : nil)}" }
  - if notification
    %span.notifications{ 'aria-label': 'notifications' }
  = link_to(url, 'aria-current': active ? 'page' : nil, class: class_names("fr-tabs__tab", html_class) ) do
    - if badge.present?
      %span.fr-badge.fr-badge--blue-ecume.fr-mr-1w= badge
    = label
