%li{ class: (active ? 'active' : nil) }
  - if notification
    %span.notifications{ 'aria-label': 'notifications' }
  = link_to(url, 'aria-selected': active ? true : nil, class: 'fr-tabs__tab' ) do
    - if badge.present?
      %span.badge.fr-mr-1w= badge
    = label
