%li{ class: "relative #{(active ? 'active' : nil)}", role: 'presentation' }
  - if notification
    %span.notifications{ 'aria-label': 'notifications' }
  = link_to(url, 'aria-selected': active ? true : nil, class: class_names("fr-tabs__tab", html_class), role: 'tab' ) do
    - if badge.present?
      %span.fr-badge.fr-badge--blue-ecume.fr-mr-1w= badge
    = label
