.fr-col-6.fr-col-md-4.fr-col-lg-3
  = link_to  [:admin, @procedure, :labels], class: 'fr-tile fr-enlarge-link' do
    .fr-tile__body.flex.column.align-center.justify-between
      - if @procedure.labels.present?
        %p.fr-badge.fr-badge--success
          Configuré
        %div
          .line-count.fr-my-1w
            %p.fr-tag= @procedure.labels.size
      - else
        %p.fr-badge--info
          À configurer

      %h3.fr-h6
        = t('.title')
      %p.fr-tile-subtitle Gérer les labels utilisables par les instructeurs
      %p.fr-btn.fr-btn--tertiary= t('views.shared.actions.edit')
