.tab-title Décisions rendues
- if traitements.any?
  %ul.tab-list
    - traitements.each do |traitement|
      %li
        - processed_at = l(traitement.processed_at, format: '%d %B %Y à %R')
        - if traitement.instructeur_email.present?
          = t(".with_email.#{traitement.state}", processed_at: processed_at, email: traitement.instructeur_email)
        - else
          = t(".without_email.#{traitement.state}", processed_at: processed_at)
- else
  %p.tab-paragraph Aucune décision n’a été rendue
