- if unspecified_attestation_champs.present?
  .warning
    Attention, les valeurs suivantes n’ont pas été renseignées mais sont nécessaires pour pouvoir envoyer une attestation valide :
    - unspecified_annotations_privees, unspecified_champs = unspecified_attestation_champs.partition(&:private?)

    - if unspecified_champs.present?
      %h4 Champs de la demande
      %ul
        - unspecified_attestation_champs.each do |unspecified_champ|
          %li= unspecified_champ.libelle

    - if unspecified_annotations_privees.present?
      %h4 Annotations privées
      %ul
        - unspecified_annotations_privees.each do |unspecified_annotations_privee|
          %li= unspecified_annotations_privee.libelle
