- content_for(:title, "Pièces jointes")

= render partial: "header", locals: { dossier: @dossier, gallery_attachments: @gallery_attachments, procedure_presentation: @procedure_presentation }

.fr-container
  .gallery.gallery-pieces-jointes{ "data-controller": "lightbox" }
    - @gallery_attachments.each do |attachment|
      = render Attachment::GalleryItemComponent.new(attachment:, seen_at: @pieces_jointes_seen_at)
