= turbo_stream.replace dom_id(@attachment, :edit) do
  - if @user_can_edit
    = render Attachment::EditComponent.new(attachment: @attachment, attached_file: @attachment.record.public_send(@attachment.name), auto_attach_url: @auto_attach_url)
  - else
    = render Attachment::ShowComponent.new(attachment: @attachment)
