<div class="fr-mt-1w">
  <p class="fr-mb-0">Ce module est une assistance à la bonne création de votre formulaire.</p>
  <p class="fr-mb-0">Nous analysons l’intégralité des champs du formulaire afin de suggérer automatiquement des améliorations.</p>
  <p class="fr-mb-0">Les suggestions d’amélioration peuvent porter sur :</p>
  <ul>
    <li>Les <strong>libellés des champs</strong> : mise à jour des libellés de champs détectés comme trop longs, en majuscules ou difficiles à comprendre.</li>
    <li>La <strong>structure du formulaire</strong> : amélioration de la structure du formulaire en réorganisant les champs et en ajoutant des sections.</li>
    <li>La <strong>demande unique d’information (« Dites-le nous une fois »)</strong> : suppression des champs détectés comme redondants ou en doublon.</li>
    <li>La <strong>bonne utilisation des types de champs</strong> : transformation de certains champs en d’autres types de champs, plus adaptés au regard de l’information attendue.</li>
  </ul>
  <p>Vous êtes libre de choisir les suggestions que vous souhaitez appliquer.</p>
</div>
