- content_for(:title, 'Activez votre compte')

%p
  Bonjour,

%p
  Pour activer votre compte sur demarches-simplifiees.fr, veuillez cliquer sur le lien suivant :
  = link_to(confirmation_url(@user, confirmation_token: @token), confirmation_url(@user, confirmation_token: @token))

= render partial: "layouts/mailers/signature"
