-# ugly hack to know if the mail is creation confirmation or a password change confirmation
- if @user.unconfirmed_email.nil?
  - content_for(:title, 'Activez votre compte')

  %p
    Bonjour,

  %p
    Pour activer votre compte sur demarches-simplifiees.fr, veuillez cliquer sur le lien suivant :
    = link_to(confirmation_url(@user, confirmation_token: @token), confirmation_url(@user, confirmation_token: @token))

- else
  - content_for(:title, "Changement d'adresse email")

  %p
    Bonjour,

  %p
    Pour confirmer votre changement d'adresse email, veuillez cliquer sur le lien suivant :
    = link_to(confirmation_url(@user, confirmation_token: @token), confirmation_url(@user, confirmation_token: @token))

= render partial: "layouts/mailers/signature"
