- content_for(:title, 'Votre nouveau mot de passe')

%p
  Bonjour,

%p
  La demande de changement de mot de passe pour votre compte #{@resource.email} sur
  #{SITE_NAME} a bien été prise en compte.

= render partial: "layouts/mailers/signature"
