- content_for(:title, 'New password')

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  A request to change your password on #{Current.application_name} for the account #{@resource.email} was successfully processed.

= render partial: "layouts/mailers/signature"
