- content_for(:title, 'Votre nouveau mot de passe')

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  La demande de changement de mot de passe pour votre compte #{@resource.email} sur
  #{Current.application_name} a bien été prise en compte.

= render partial: "layouts/mailers/signature"
