- content_for(:title, 'New password')

%p
  Dear Sir or Madam,

%p
  A request to change your password on #{APPLICATION_NAME} for the account #{@resource.email} was successfully processed.

= render partial: "layouts/mailers/signature"
