%p
  Bonjour,

%p
  Vous avez demandé à regénérer votre mot de passe sur demarches-simplifiees.fr. Pour ceci, merci de suivre le lien suivant :
  %br
  = link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token)

%p
  Si vous n'avez pas effectué une telle demande, merci d'ignorer cet email. Votre mot de passe ne sera pas changé.

%p
  Bonne journée,

%p
  L'équipe demarches-simplifiees.fr
