%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  Someone has requested to change your account password on #{APPLICATION_NAME}. To define a new password, select the following link:

= round_button 'Change the password', edit_password_url(@resource, reset_password_token: @token), :primary

%p This email invalidate similar previous emails.

%p
  If you didn't request this, please ignore this email. Your password won't change.

= render partial: "layouts/mailers/signature"
