%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  Vous avez demandé à changer votre mot de passe sur #{Current.application_name}. Pour ceci, merci de cliquer sur le lien suivant :

= round_button 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token), :primary

%p Cet email invalide les emails similaires que vous avez pu demander précédemment.

%p
  Si vous n’avez pas effectué une telle demande, merci d’ignorer cet email. Votre mot de passe ne sera pas changé.

= render partial: "layouts/mailers/signature"
