%p
  Bonjour,

%p
  Vous avez demandé à changer votre mot de passe sur #{APPLICATION_NAME}. Pour ceci, merci de cliquer sur le lien suivant :

= round_button 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token), :primary

%p
  Si vous n’avez pas effectué une telle demande, merci d’ignorer cet email. Votre mot de passe ne sera pas changé.

= render partial: "layouts/mailers/signature"
