- content_for(:title, 'Réactivez votre compte')

%p
  Bonjour,

%p
  Quelqu’un a tenté de se connecter un grand nombre de fois sans succès à votre
  compte #{@resource.email} sur demarches-simplifiees.fr. Par mesure de précaution,
  nous avons temporairement désactivé l’accès à votre compte.

%p
  Pour rétablir l’accès à votre compte, veuillez utiliser le lien ci-dessous.

%p= link_to 'Déverrouiller mon compte', unlock_url(@resource, unlock_token: @token)

= render partial: "layouts/mailers/signature"
