#backoffice


  %table.table
    %thead
      %th Procédure
      %th Dossier
      %th etat
      %th Date de mise à jour
    %row
      %td Demande de subventions
      %td dossier n°34 Demande de subvention
      %td Mise à jour
      %td 24/12/2015