#backoffice


  %table.table
    %thead
      %th Procédure
      %th Dossier
      %th etat
      %th Date de mise à jour
    - @dossiers.each do |dossier|
      %tr
        %td= dossier.procedure.libelle
        %td= dossier.nom_projet
        %td Mise à jour
        %td= dossier.last_update