- case siret
- when :invalid
  Le numéro de SIRET doit comporter exactement 14 chiffres.

- when :not_found
  Nous n’avons pas trouvé d’établissement correspondant à ce numéro de SIRET.
  = link_to('Plus d’informations', "https://faq.demarches-simplifiees.fr/article/4-erreur-siret", target: '_blank', rel: 'noopener')

- else
  - if siret.present? && siret == etablissement&.siret
    = render partial: 'shared/dossiers/editable_champs/etablissement_titre', locals: { etablissement: etablissement }
