- case siret
- when :invalid
  Le numéro de SIRET doit comporter exactement 14 chiffres.

- when :not_found
  Nous n’avons pas trouvé d’établissement correspondant à ce numéro de SIRET.
  = link_to('Plus d’informations', FAQ_ERREUR_SIRET_URL, target: '_blank', rel: 'noopener')

- when :network_error
  = t('errors.messages.siret_network_error')

- when :api_entreprise_down
  = t('errors.messages.api_entreprise_down')

- else
  - if siret.present?
    - if siret == etablissement&.siret && raison_sociale_or_name(etablissement).present?
      = render EditableChamp::EtablissementTitreComponent.new(etablissement: etablissement)
    - else
      Ce SIRET existe, nous en récupérons les informations.
