- case siret
- when :invalid
  Le numéro TAHITI doit comporter exactement #{SIRET_LENGTH} caractères.

- when :not_found
  Nous n’avons pas trouvé d’établissement correspondant à ce numéro TAHITI.
  = link_to('Plus d’informations', FAQ_ERREUR_SIRET_URL, target: '_blank', rel: 'noopener')

- when :network_error
  = t('errors.messages.siret_network_error')
  -# i18n-tasks-use t('errors.messages.siret_network_error')

- else
  - if siret.present? && siret == etablissement&.siret
    = render partial: 'shared/dossiers/editable_champs/etablissement_titre', locals: { etablissement: etablissement }
