.content{id: ('commentaires_flux' + (@facade.champ_id.nil? ? '' : "_#{@facade.champ_id}")),style:'width:100%;'}
  -@facade.commentaires.each do |com|
    %span.text-info#email_contact{style: 'font-weight:bold'}
      =com.email
    %span#created_at
      \-
      =com.created_at_fr
    - unless com.piece_justificative.nil?
      \-
      %span#piece_justificative
        %b
          = link_to com.piece_justificative.original_filename, com.piece_justificative.content_url, style:'color: green', target: '_blank'

    %br
    .description#body
      =com.body.html_safe


    %br
