.content#commentaires_flux{style:'width:100%;'}
  %div#commentaire_new{style: 'width:80%; margin-left:auto; margin-right:auto'}
    = form_tag(url_for({ controller: 'commentaires', action: :create, dossier_id: @facade.dossier.id }), class: 'form-inline', method: 'POST') do
      %textarea.form-control{id: 'texte_commentaire', name: 'texte_commentaire', style: 'width: 100%; margin-bottom:2%', rows: '5', placeholder:"Dialoguer avec votre interlocuteur privilégié en charge de votre dossier."}
      %input.form-control.btn.btn-success{:type => 'submit', :value => 'Poster', style: 'float:right'}
  %br
  %br

  -@facade.commentaires.each do |com|
    %span.text-info#email_contact{style: 'font-weight:bold'}
      =com.email
    %span#created_at
      \-
      =com.created_at_fr
    %br
    .description#body
      =com.body
    %br
