#UploadPJmodal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      - @dossier = @facade.dossier
      = form_tag(url_for({controller: '/users/description', action: :pieces_justificatives, dossier_id: @dossier.id}), class: 'form-inline', method: 'PATCH', multipart: true) do

        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title
            Modification des documents

        .modal-body
          = render partial: 'users/description/pieces_justificatives'

        .modal-footer
          = submit_tag 'Modification terminée', class: %w(btn btn btn-info), id: 'modification_terminee', data: { disable_with: 'Modification terminée', submit: true}
