%button#button-speech-to-text.microphoneButton{ type: :button, data: { action: 'speech-to-text#onClick' }}
  %span#stop-speech-to-text.icon.small.stop{ class: 'stop-recording-hidden stop-speech-to-text' } 
  %span#microphone-speech-to-text.icon.small.microphone{ class: 'microphone-speech-to-text' } 