= render Dsfr::CalloutComponent.new(title: @champ.libelle, extra_class_names: ['fr-mb-2w', 'fr-callout--blue-cumulus']) do |c|
  - c.with_body do

    = string_to_html(@champ.description)

    - if @champ.collapsible_explanation_enabled? && @champ.collapsible_explanation_text.present?
      %div
        %p.fr-my-2w
          %button{type: "button", "aria-controls": dom_id(@champ, :explanation), "aria-expanded": "false", href: dom_id(@champ, :explanation)} Lire plus
        %p.fr-collapse{ id: dom_id(@champ, :explanation)}
          = @champ.collapsible_explanation_text
