
%nav.fr-sidemenu{ class: sticky ? 'sticky' : '', "aria-labelledby" => "fr-sidemenu-title" }
  .fr-sidemenu__inner
    %button.fr-sidemenu__btn{ "aria-controls" => "fr-sidemenu-wrapper", "aria-expanded" => "false", hidden: "" }= t('.btn_collapse_text')
    #fr-sidemenu-wrapper.fr-collapse
      %ul.fr-sidemenu__list
        - links.each do |link|
          %li{ class: "fr-sidemenu__item fr-sidemenu__item#{active?(link.url) ? '--active' : ''}" }
            = link_to link.url, class: 'fr-sidemenu__link ', 'aria-current': active?(link.url) ? 'page' : nil, target: "_self" do
              - capture do
                - if link.icon.present?
                  %span{ class: link.icon } 
                = link.name
