= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Connecteur Chorus']] }


.container
  %h1.fr-h1
    Cadre budgétaire

  = render Dsfr::CalloutComponent.new(title: "Cas d'usage") do |c|
    - c.with_body do
      %p Vous traitez une démarche liées a des subventions qui seront payées au travers de Chorus ?
      %p Les agent traitants les dossiers seront ammenés a suivre la planification budgetaire des dossiers traités ?
      %p En renseignant le cadre budgetaire de la subvention, vous donnez les moyens de rapprocher les dossiers traités sur Mes-Démarches avec les données extraites de Chorus
      %p Ce cadre budgetaire sera automatiquement ajouté aux exports des dossiers

  = render Procedure::ChorusFormComponent.new(procedure: @procedure)
