- if replacement_procedure.present?
  %p
    #{t('users.dossiers.header.banner.new_procedure_content')} #{link_to t('users.dossiers.header.banner.new_procedure_link'), commencer_path(replacement_procedure.path)}
