- content_for(:title, t(".title", scope: :metas, number: @dossier.id.to_s, procedure_label: @dossier.procedure.libelle))

- content_for :footer do
  = render partial: "users/procedure_footer", locals: { procedure: @dossier.procedure, dossier: @dossier }

.dossier-container.mb-4
  = render partial: 'users/dossiers/show/header', locals: { dossier: @dossier }

  = render partial: 'shared/dossiers/demande', locals: { dossier: @dossier, demande_seen_at: nil, profile: 'usager' }

  .container
    - if !@dossier.read_only?
      = link_to t('views.users.dossiers.demande.edit_dossier'), modifier_dossier_path(@dossier), class: 'button accepted edit-form', 'title'=> "Vous pouvez modifier votre dossier tant qu'il n'est passé en instruction"
      .clearfix
