#users_index
  %h1 Mes dossiers

  -unless Features.opensimplif
    = render partial: 'onglets'

  = smart_listing_render :dossiers

  %br
  %br
  - unless Features.opensimplif
    = render partial: 'state_description', locals: {dossiers_list_facade: @dossiers_list_facade}
