%h1 Vos dossiers :

%table.table
  %thead
    %th Nom du Projet
    %th Mise à jour
  - @dossiers.each do |dossier|
    %tr
      %td
        = link_to(dossier.nom_projet, users_dossier_recapitulatif_path(dossier))
      %td= dossier.last_update