#users-index
  .default-data-block.default_visible
    .row.show-block#new_dossiers
      .header
        .col-lg-10.col-md-10.col-sm-10.col-xs-10.title
          .carret-right
          .carret-down
          Dossiers
        .col-lg-2.col-md-2.col-sm-2.col-xs-2.count
          -# 0
          -# dossiers
      .body
        = smart_listing_render :dossiers

  = render partial: 'state_description', locals: { liste: @liste }
