#users_index
  .default_data_block.default_visible
    %div.row.show-block#new_dossiers
      %div.header
        %div.col-lg-10.col-md-10.col-sm-10.col-xs-10.title
          %div.carret-right
          %div.carret-down
          Dossiers
        %div.col-lg-2.col-md-2.col-sm-2.col-xs-2.count
          -#0
          -#dossiers
      %div.body
        = smart_listing_render :dossiers

  = render partial: 'state_description', locals: {dossiers_list_facade: @dossiers_list_facade}
