- content_for(:title, "Dossier bien envoyé (#{@dossier.procedure.libelle})")

- content_for :footer do
  = render partial: "users/procedure_footer", locals: { procedure: @dossier.procedure, dossier: @dossier }

= render partial: 'users/dossiers/merci', locals: { dossier: @dossier, procedure: @dossier.procedure}
