- content_for(:title, t(".title", scope: :metas, number: @dossier.id.to_s, procedure_label: @dossier.procedure.libelle))

- content_for :footer do
  = render partial: "users/procedure_footer", locals: { procedure: @dossier.procedure, dossier: @dossier }

.dossier-container.mb-4
  = render partial: 'users/dossiers/show/header', locals: { dossier: @dossier }

  .container
    %p.messagerie-explanation
      = t('views.users.dossiers.messagerie.mailbox')

  = render partial: "shared/dossiers/messagerie", locals: { dossier: @dossier, connected_user: current_user, messagerie_seen_at: nil, new_commentaire: @commentaire, form_url: commentaire_dossier_path(@dossier) }
