= render partial: 'shared/dossiers/update_champs', locals: { to_show: @to_show, to_hide: @to_hide, to_update: @to_update, dossier: @dossier }

- if !params.key?(:validate)
  - if @can_passer_en_construction_was && !@can_passer_en_construction_is
    = turbo_stream.append('contenu', render(Dossiers::InvalidIneligibiliteRulesComponent.new(dossier: @dossier)))
  - else @ineligibilite_rules_is_computable
    = turbo_stream.remove(dom_id(@dossier, :ineligibilite_rules_broken))
