- @dossier.champs.filter(&:conditional_logic_enabled_and_valid?).each do |champ|
  - if champ.visible_under_current_conditions?
    = turbo_stream.show champ.input_group_id
  - else
    = turbo_stream.hide champ.input_group_id
