- case error
- when :invalid
  %p.fr-pt-1.fr-pb-0
    Le numéro RNA doit commencer par un W majuscule suivi de 9 chiffres
- when :not_found
  %p.fr-pt-1.fr-pb-0= t('.not_found')
- when :network_error
  %p.fr-pt-1.fr-pb-0= t('.network_error')
- else
  - if champ.value.present?
    %p.fr-pt-1.fr-pb-0= t('.data_fetched', title: champ.title)
