- case error
- when :invalid
  %p.fr-error-text
    Le numéro RNA doit commencer par un W majuscule suivi de 9 chiffres ou lettres
- when :not_found
  %p.fr-error-text= t('.not_found')
- when :network_error
  %p.fr-error-text= t('.network_error')
- else
  - if champ.value.present?
    %p.fr-info-text= t('.data_fetched', title: champ.title, address: champ.full_address)
