= link_to jeton_admin_procedure_path(@procedure), class: 'fr-tile fr-enlarge-link' do
  .fr-tile__body.flex.justify-between
    - if @procedure.api_entreprise_token.present?
      %div
        %span.icon.accept
        %p.fr-tile-status-accept Validé
    - else
      %div
        %span.icon.clock
        %p.fr-tile-status-todo À configurer
    %div
      %h3.fr-h6.fr-mt-10v= t('.title')
      %p.fr-tile-subtitle Configurer le jeton API entreprise
    %p.fr-btn.fr-btn--tertiary= t('views.shared.actions.edit')
