= link_to jeton_admin_procedure_path(@procedure), class: 'card-admin' do
  - if @procedure.api_entreprise_token.present?
    %div
      %span.icon.accept
      %p.card-admin-status-accept Validé
  - else
    %div
      %span.icon.clock
      %p.card-admin-status-todo À configurer
  %div
    %p.card-admin-title= t('.title')
    %p.card-admin-subtitle Configurer le jeton API entreprise
  %p.button= t('views.shared.actions.edit')
