-{email: 'Email*'}.each do |key, value|
  .form-group{class: ('has-error' if @gestionnaire.errors.messages[key])}
    %h4
      =value
    =f.text_field key, class: 'form-control', placeholder: value
