- unless smart_listing.empty?
  %table.table
    %thead
      %th#libelle= smart_listing.sortable 'Email', 'email'

    - @gestionnaires.each do |gestionnaire|
      %tr
        %td= gestionnaire.email

  = smart_listing.paginate
  = smart_listing.pagination_per_page_links

- else
  %h4.center
    Aucun gestionnaire
