.fr-col-6.fr-col-md-4.fr-col-lg-3.chorus-component
  = link_to edit_admin_procedure_chorus_path(@procedure), class: 'fr-tile fr-enlarge-link', title: 'Configurer le cadre budgetaire Chorus' do
    .fr-tile__body.flex.column.align-center.justify-between
      - if !@procedure.chorus_configuration.complete?
        %p.fr-badge.fr-badge--warning À compléter
      - else
        %p.fr-badge.fr-badge--success Configuré
      %div
        %h3.fr-h6.fr-mt-10v
          Connecteur Chorus
        %p.fr-tile-subtitle Vous traitez des données de subvention d'état ?
      %p.fr-btn.fr-btn--tertiary Configurer
