- revision = page.resource.is_a?(Procedure) ? page.resource.active_revision : page.resource.revision

- if field.data.any?
  %table.collection-data{ "aria-labelledby": "page-title" }
    %thead
      %tr
        %td.cell-label Libelle
        %td.cell-label Type de champ
        %td.cell-label Modifier le modèle
    %tbody
      - field.data.each do |type_de_champ|
        = render partial: 'fields/types_de_champ_collection_field/type_champ_line',
          locals: { type_de_champ: type_de_champ }

        - if type_de_champ.type_champ == 'repetition'
          - revision.children_of(type_de_champ).each do |sub_champ|
            = render partial: 'fields/types_de_champ_collection_field/type_champ_line',
              locals: { type_de_champ: sub_champ }
- else
  Aucun
