%table{ style: 'width: 80%;', align: 'center' }
  %thead
    %tr
      %th{ style: 'border: 1px solid #0069CC;padding: 5px' }
        Champ
      %th{ style: 'border: 1px solid #0069CC;padding: 5px' }
        Champ
      %th{ style: 'border: 1px solid #0069CC;padding: 5px' }
        Description
  %tbody
    - champs.each do |champ|
      = render partial: "field_description", locals: { champ: champ }
      - if champ.types_de_champ.present? # only one level of recursion
        - champ.types_de_champ.each do |subchamp|
          = render partial: "field_description", locals: { champ: subchamp }

