- content_for(:title, @procedure.libelle)

%p
  Une nouvelle procédure a été publiée sur #{SITE_NAME}.

%p
  Commencer la démarche :
  = link_to commencer_url(@procedure), commencer_url(@procedure)

= render partial: "field_description", locals: { procedure: @procedure }
= render partial: "layouts/mailers/signature"
