= @form.select :value, options, select_options, required: @champ.required?, id: @champ.input_id, autocomplete: @champ.dossier.for_tiers? ? "off" : "country-name", aria: { describedby: "#{@champ.describedby_id} #{@champ.error_id}" }, class: "width-33-desktop width-100-mobile fr-select"
