%div{ "aria-hidden":"true", class: complexity_classes }

#password_hint{ class: alert_classes }
  %h3.fr-alert__title.fr-mt-5w{ "aria-live": "polite", "aria-atomic": "true" }
    = title
  - if !success?
    = t(".hint_html")
