%div{ "aria-hidden":"true", class: complexity_classes }

#password_hint{ class: alert_classes }
  = tag.send(heading_level, title, class: 'fr-alert__title', aria: { live: :polite, atomic: true})
    = title
  - if !success?
    = t(".hint_html")
