---
http_interactions:
- request:
    method: get
    uri: https://particulier.api.gouv.fr/api/v2/composition-familiale?codePostal=92110&numeroAllocataire=5843972
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 29eb50b65f64e8e00c0847a8bbcbd150e1f847
      Content-Type:
      - text/html; charset=utf-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"183-5m9o/ng+PfdMOPeC0VBn5lqbziQ"
    body:
      encoding: UTF-8
      string: '
  {
  "adresse": {
    "codePostalVille": "92110 Clichy",
    "identite": "Mr SNOW Eric",
    "complementIdentite": "ne connait rien",
    "numeroRue": "109  rue La Boétie",
    "pays": "FRANCE",
    "complementIdentiteGeo": "au nord de paris",
    "lieuDit": "glagla"
  },
  "allocataires": [
    {
      "nomPrenom": "ERIC SNOW",
      "dateDeNaissance": "07011991",
      "sexe": "M"
    },
    {
      "nomPrenom": "SANSA SNOW",
      "dateDeNaissance": "15011992",
      "sexe": "F"
    }
  ],
  "enfants": [
    {
      "nomPrenom": "PAUL SNOW",
      "dateDeNaissance": "04012018",
      "sexe": "M"
    }
  ],
  "quotientFamilial": 1856,
  "annee": 2021,
  "mois": 6
}
'
  recorded_at: Mon, 20 Sep 2021 20:01:39 GMT
recorded_with: VCR 6.0.0
