---
http_interactions:
- request:
    method: get
    uri: https://particulier-test.api.gouv.fr/api/v2/etudiants?ine=0906018155T
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - d7e9c9f4c3ca00caadde31f50fd4521a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Gravitee-Request-Id:
      - 4163abd8-c79b-4d11-a3ab-d8c79bfd115e
      X-Gravitee-Transaction-Id:
      - '04134962-52de-4d2f-9349-6252de4d2f86'
    body:
      encoding: UTF-8
      string: '{"ine": "0906018155T", "nom": "Dupont", "prenom": "Ga\u00ebtan", "dateNaissance":
        "1999-10-12T00:00:00", "inscriptions": [{"dateDebutInscription": "2019-09-01T00:00:00",
        "dateFinInscription": "2020-08-31T00:00:00", "statut": "admis", "regime":
        "formation initiale", "codeCommune": "44000", "etablissement": {"uai": "0011402U",
        "nom": "EGC AIN BOURG EN BRESSE EC GESTION ET COMMERCE (01000)"}}]}

'
  recorded_at: Tue, 16 Mar 2021 15:46:49 GMT
recorded_with: VCR 6.0.0
