= form_tag update_sort_instructeur_procedure_path(procedure_id: @procedure.id, column_id: 'notifications/notifications', order: opposite_order), method: :get, data: { controller: 'autosubmit' } do
  .fr-fieldset__element.fr-m-0
    .fr-checkbox-group.fr-checkbox-group--sm
      = check_box_tag :order, opposite_order, active?
      = label_tag :order, t('.show_notified_first'), class: 'fr-label'
      = submit_tag t('.show_notified_first'), data: {"checkbox-target": 'submit' }, class: 'visually-hidden'
