= form_tag update_sort_instructeur_procedure_path(procedure_id: @procedure.id, table: 'notifications', column: 'notifications', order: opposite_order), method: 'GET', data: {controller: 'checkbox'} do
  .fr-form-group
    .fr-fieldset__content
      .fr-checkbox-group.fix-dsfr-notified-toggle-component
        = check_box_tag :order, opposite_order, active?, data: {action: 'change->checkbox#onChange'}
        = label_tag :order, t('.show_notified_first'), class: 'fr-label'
        = submit_tag t('.show_notified_first'), data: {"checkbox-target": 'submit' }, class: 'visually-hidden'
