- case commentaire.email
- when current_gestionnaire.email
  = image_tag('icons/account-circle.svg', class: 'person-icon')
- when OLD_CONTACT_EMAIL
- when CONTACT_EMAIL
  = image_tag('icons/mail.svg', class: 'person-icon')
- else
  = image_tag('icons/blue-person.svg', class: 'person-icon')
