.drop_down_other{ class: @champ.other_value_present? ? '' : 'hidden' }
  .notice
    %label{ for: dom_id(@champ, :value_other) } Veuillez saisir votre autre choix
  = @form.text_field :value_other, maxlength: 200, size: nil, id: dom_id(@champ, :value_other), disabled: !@champ.other_value_present?
