.drop_down_other{ class: @champ.other_value_present? ? '' : 'hidden' }
  .notice
    %p Veuillez saisir votre autre choix
  = @form.text_field :value_other, maxlength: 200, size: nil, disabled: !@champ.other_value_present?, data: data_dependent_conditions
