- siblings.filter(&:conditional_logic_enabled?).each do |type_de_champ|
  = turbo_stream.replace dom_id(type_de_champ.stable_self, :types_de_champ_editor_conditional_logic) do
    = render TypesDeChampEditor::ConditionalLogicComponent.new(type_de_champ: type_de_champ)
