- content_for :title, "Amélioration des champs de la démarche « #{@procedure.libelle} »"

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Amélioration des champs']] }
.fr-container
  %h1.fr-h2.mt-2 Amélioration de la qualité de la démarche “#{@procedure.libelle}“

  = render @component if @component
