- content_for :title, "Amélioration de la qualité du formulaire « #{@procedure.libelle} »"

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Amélioration des champs']] }

= render LLM::StepperComponent.new(step_component: LLM::SuggestionFormComponent.new(llm_rule_suggestion: @llm_rule_suggestion))
