- if @coordinate&.type_de_champ&.valid?
  = turbo_stream.morph dom_id(@coordinate, :type_de_champ_editor) do
    = render TypesDeChampEditor::ChampComponent.new(coordinate: @coordinate)
  = turbo_stream.morph dom_id(@coordinate.revision, :estimated_fill_duration) do
    = render TypesDeChampEditor::EstimatedFillDurationComponent.new(revision: @coordinate.revision, is_annotation: @coordinate.private?)
