<% content_for(:title) { "Emails vers #{@user.email}" } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <dl>

  </dl>
</section>
