.fr-notice.fr-notice--info{ **notice_data_attributes }
  .fr-container
    .fr-notice__body
      %p.fr-notice__title
        = title

      - if closable?
        %button.fr-btn--close.fr-btn{ title: t('.close_notice'), data: { action: "dsfr-header#closeNotice" } }
          = t('.close_notice')
