%h2.text-primary Filtre des procédures
%h4 Sélectionnez les procédures que vous souhaitez suivre.

= form_for @gestionnaire, url:{controller: 'backoffice/procedure_filter', action: :update } do |f|
  .input-group
    - @procedures.each do |procedure|
      .checkbox
        %label
          = check_box_tag 'procedure_filter[]', procedure.id, (true if @gestionnaire.procedure_filter.include?(procedure.id))
          = procedure.libelle
    %br
    = submit_tag 'Valider', class: 'btn btn-primary'

%br
%b
  Aucune sélection = voir tout