.container
  %h1 Liste des Services

  %table.table
    %thead
      %tr
        %th
          nom
        %th
          = link_to('Nouveau service', new_service_path, class: 'button')

    %tbody
      - @services.each do |service|
        %tr
          %td
            = service.nom
          %td
