.container
  %h1 Liste des Services

  %table.table.table-service.hoverable
    %thead
      %tr
        %th
          nom
        %th.change
          = link_to('Nouveau service', new_service_path, class: 'button')

    %tbody
      - @services.each do |service|
        %tr
          %td
            = service.nom
          %td.change
            = link_to('modifier', edit_service_path(service))
