= render partial: 'new_administrateur/breadcrumbs',
  locals: { steps: [link_to('Démarches', admin_procedures_path),
                    link_to(@procedure.libelle, admin_procedure_path(@procedure)),
                    link_to('choix du service', services_path(procedure_id: @procedure.id)),
                    'nouveau service'] }

.container
  %h1 Nouveau Service

  = render partial: 'form',
    locals: { service: @service, procedure_id: @procedure.id }
