APP_NAME="tps_local"
APP_HOST="localhost:3000"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

FC_PARTICULIER_ID=""
FC_PARTICULIER_SECRET=""
FC_PARTICULIER_BASE_URL=""

API_ENTREPRISE_KEY=""

PIPEDRIVE_KEY=""
