APP_NAME="tps_local"
APP_HOST="localhost:3000"
SOURCE="tps_local"

SECRET_KEY_BASE="05a2d479d8e412198dabd08ef0eee9d6e180f5cbb48661a35fd1cae287f0a93d40b5f1da08f06780d698bbd458a0ea97f730f83ee780de5d4e31f649a0130cf0"
SIGNING_KEY="aef3153a9829fa4ba10acb02927ac855df6b92795b1ad265d654443c4b14a017"

DB_DATABASE="tps_development"
DB_HOST="localhost"
DB_POOL=""
DB_USERNAME="tps_development"
DB_PASSWORD="tps_development"

BASIC_AUTH_ENABLED="disabled"
BASIC_AUTH_USERNAME=""
BASIC_AUTH_PASSWORD=""

FOG_OPENSTACK_TENANT=""
FOG_OPENSTACK_API_KEY=""
FOG_OPENSTACK_USERNAME=""
FOG_OPENSTACK_URL=""
FOG_OPENSTACK_IDENTITY_API_VERSION=""
FOG_OPENSTACK_REGION=""
FOG_DIRECTORY=""
FOG_ENABLED=""
CARRIERWAVE_CACHE_DIR="/tmp/tps-local-cache"

FC_PARTICULIER_ID=""
FC_PARTICULIER_SECRET=""
FC_PARTICULIER_BASE_URL=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

HELPSCOUT_MAILBOX_ID=""
HELPSCOUT_CLIENT_ID=""
HELPSCOUT_CLIENT_SECRET=""
HELPSCOUT_WEBHOOK_SECRET=""

SENTRY_ENABLED="disabled"
SENTRY_CURRENT_ENV="development"
SENTRY_DSN_RAILS=""
SENTRY_DSN_JS=""

MATOMO_ENABLED="disabled"
MATOMO_ID="73"

SENDINBLUE_ENABLED="disabled"
SENDINBLUE_CLIENT_KEY=""
CRISP_ENABLED="disabled"
CRISP_CLIENT_KEY=""

MAILTRAP_ENABLED="disabled"
MAILTRAP_USERNAME=""
MAILTRAP_PASSWORD=""

MAILJET_API_KEY=""
MAILJET_SECRET_KEY=""

API_ENTREPRISE_KEY=""

PIPEDRIVE_KEY=""

TRUSTED_NETWORKS=""

SKYLIGHT_AUTHENTICATION_KEY=""

LOGRAGE_ENABLED="disabled"

API_ISPF_USER=
API_ISPF_PASSWORD=

UNIVERSIGN_USERPWD=""
