# Optional environment variables

# Application name, for display and generating links
APPLICATION_NAME="demarches-simplifiees.fr"
APPLICATION_BASE_URL="https://www.demarches-simplifiees.fr"

# When migrating app to a new domain, configure APP_HOST to the new domain
# and APP_HOST_LEGACY to the legacy domain.
# The app will be able to answer to boths during the transition.
# APP_HOST_LEGACY=""

# If defined to "staging", tell the app that it's running on a staging instance
DS_ENV="staging"

# Protect access to the instance with a static login/password (useful for staging environments)
BASIC_AUTH_ENABLED="disabled"
BASIC_AUTH_USERNAME=""
BASIC_AUTH_PASSWORD=""

# You know, we are a french team
# TEAM_ON_STRIKE='pas content.'

# RNF auth
RNF_TOKEN=""

# France Connect usage
# FRANCE_CONNECT_ENABLED="disabled" # "enabled" by default
# FC_PARTICULIER_ID=""
# FC_PARTICULIER_SECRET=""
# FC_PARTICULIER_BASE_URL=""

# For migration to v2
# FC_PARTICULIER_ID_V2=""
# FC_PARTICULIER_SECRET_V2=""
# FC_PARTICULIER_BASE_URL_V2=""


# External service: authentication through Pro Connect
# PRO_CONNECT_ID=""
# PRO_CONNECT_SECRET=""
# PRO_CONNECT_BASE_URL=""
# PRO_CONNECT_REDIRECT=""

# Certigna usage
# CERTIGNA_ENABLED="disabled" # "enabled" by default

# Configure the maximum number of times a job is retried
# MAX_ATTEMPTS_JOBS=25
# MAX_ATTEMPTS_API_ENTREPRISE_JOBS=5

# Instance customization: URLs for GTS and legal mentions
# CGU_URL=""
# MENTIONS_LEGALES_URL=""

# Instance customization: support emails addresses and phone
# CONTACT_EMAIL=""
# NO_REPLY_EMAIL=""
# OLD_CONTACT_EMAIL=""
# CONTACT_PHONE=""

# Instance customization: postal address of the instance operator
# CONTACT_ADDRESS="Incubateur de Services Numériques / beta.gouv.fr\nServices du Premier Ministre, 20 avenue de Ségur, 75007 Paris"

# Instance customization: URL for creating an admin account on the instance
# DEMANDE_INSCRIPTION_ADMIN_PAGE_URL=""

# Instance customization: URL of the documentation website
# DOC_URL="https://doc.demarches-simplifiees.fr"

# Instance customization: URL of the Routage documentation
# ROUTAGE_URL=""
#
# Instance customization: URL of the EligibiliteDossier documentation
# ELIGIBILITE_URL=""
#
# Instance customization: URL of the accessibility statement
# ACCESSIBILITE_URL=""

# Instance customization: URL of the availability/status webpage
# STATUS_PAGE_URL=""

# Instance customization: Favicons ---> to be put in "app/assets/images"
# Search "real favicon generator" to find websites generating all these formats from a single image source.
# An empty string disable the icon if you don't care.
# FAVICON_16PX_SRC="favicons/16x16.png"
# FAVICON_32PX_SRC="favicons/32x32.png"
# FAVICON_96PX_SRC="favicons/96x96.png"
# FAVICON_APPLE_TOUCH_152PX_SRC="favicons/apple-touch-icon.png"

# Instance customization: Application logo ---> to be put in "app/assets/images"
# HEADER_LOGO_SRC="marianne.png"
# HEADER_LOGO_ALT=""
# HEADER_LOGO_WIDTH="65"
# HEADER_LOGO_HEIGHT="56"

# Instance customization: Emails header logo ---> to be put in "app/assets/images"
# MAILER_LOGO_SRC="mailer/republique-francaise-logo.png"

# Instance customization: Procedure default logo  ---> to be put in "app/assets/images"
# PROCEDURE_DEFAULT_LOGO_SRC="republique-francaise-logo.svg"

# Instance customization: PDF export logo ---> relative path to project root path (Rails.root), and to be put in "app/assets/images"
# DOSSIER_PDF_EXPORT_LOGO_SRC="app/assets/images/header/logo-ds-wide.png"

# Enabling maintenance mode
# MAINTENANCE_MODE="true"

# Enabling localization
# LOCALIZATION_ENABLED="true"

# Disabling 2FA for Super-Admins
# SUPER_ADMIN_OTP_ENABLED = "disabled" # "enabled" par défaut

# API ENTREPRISE
# You can make some tests with the staging environment
# More info at https://entreprise.api.gouv.fr/developpeurs#tester-api-preproduction
# API_ENTREPRISE_URL = "https://staging.entreprise.api.gouv.fr"

# API Particulier
# https://api.gouv.fr/les-api/api-particulier
# API_PARTICULIER_URL="https://particulier.api.gouv.fr/api"

# Admins and instructeurs can freely change their email to these domains
# LEGIT_ADMIN_DOMAINS = "example.org;example.net"

# External service: Matomo web analytics
MATOMO_IFRAME_URL="https://matomo.example.org/index.php?module=CoreAdminHome&action=optOut&language=fr&&fontColor=333333&fontSize=16px&fontFamily=Muli"

# Landing page sections
# LANDING_TESTIMONIALS_ENABLED="enabled"
# LANDING_USERS_ENABLED="enabled"

# Archive creation options
# when we create an archive of a Procedure, the worker uses this directory as a root in order to build our archives (archive are build within a tmp_dir in this dir)
# ARCHIVE_CREATION_DIR='/tmp'
# max parallel download when creating an archive
# ARCHIVE_DOWNLOAD_MAX_PARALLEL=10

# Archive when encryption of massive file options
# depending on your object storage backend (ie: aws::s3/ovh::object_storage), it may requires a custom upload strategy for big file if you encrypt your files in case of data breach
# suggested value is 4.gigabytes (4294967296)
# ACTIVE_STORAGE_FILE_SIZE_THRESHOLD_BEFORE_CUSTOM_UPLOAD=4294967296
# a custom script handling upload of big file
# ACTIVE_STORAGE_BIG_FILE_UPLOADER_WITH_ENCRYPTION_PATH='/usr/local/bin/swift'

# ******* MAILERS *******
# Different mailer strategies are available for development, pre-production, and production environments.
# Enable what you want when you want: e.g., SendInBlue, sendmail, or classic SMTP in production;
# Mailtrap or Mailcatcher in development or pre-production.


# ******* SMTP PROVIDER: SENDINBLUE (BREVO) *******
SENDINBLUE_CLIENT_KEY=""
SENDINBLUE_SMTP_KEY=""
SENDINBLUE_USER_NAME=""
# SENDINBLUE_SMTP_ADDRESS="smtp-relay.brevo.com"
# SENDINBLUE_SMTP_PORT="587"
# SENDINBLUE_LOGIN_URL="https://app.sendinblue.com/account/saml/login/truc"

# Ratio of emails sent using SendInBlue
# When present, N% of emails will be sent using SendInBlue
# (and the others using the default SMTP provider)
# You must configure the variables above when the balancing value is > 0
# SENDINBLUE_BALANCING_VALUE="0"

# ******* CLASSIC SMTP *******
CLASSIC_SMTP_ENABLED="disabled"
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
SMTP_TLS=""
SMTP_AUTHENTICATION="plain"

# ******* SENDMAIL *******
SENDMAIL_ENABLED="disabled"
SENDMAIL_LOCATION="/usr/sbin/sendmail"
SENDMAIL_ARGUMENTS="-i"

# ******* ALTERNATIVE SMTP PROVIDER: MAILTRAP *******
# Mail catcher for staging environments
# When enabled, all emails will be sent using this provider
MAILTRAP_ENABLED="disabled"
MAILTRAP_USERNAME=""
MAILTRAP_PASSWORD=""

# ******* ALTERNATIVE SMTP PROVIDER: MAILCATCHER *******
# Catches mail and serves it through a web interface
# When enabled, all emails will be sent using this provider
MAILCATCHER_ENABLED="disabled"
MAILCATCHER_HOST=""
MAILCATCHER_PORT=""


# External service: Matomo web analytics
MATOMO_ENABLED="disabled"
MATOMO_COOKIE_DOMAIN="*.www.demarches-simplifiees.fr"
MATOMO_DOMAIN="*.www.demarches-simplifiees.fr"
MATOMO_ID=""
MATOMO_HOST="matomo.example.org"

# Used only by a migration to choose your default regarding procedure archive dossiers after duree_conservation_dossiers_dans_ds
# DEFAULT_PROCEDURE_EXPIRES_WHEN_TERMINE_ENABLED=true

# around july 2022, we changed the duree_conservation_dossiers_dans_ds, allow instances to choose their own duration
NEW_MAX_DUREE_CONSERVATION=12

#number of months after which DS considere an administrateur useless (if no service and no procedure)
#UNUSED_ADMIN_THRESHOLD=6

# Open data
OPENDATA_ENABLED="enabled" # disabled by default if `OPENDATA_ENABLED` not set

# Open data, publish to data.gouv.fr
DATAGOUV_API_KEY="thisisasecret"

# Zonage
ZONAGE_ENABLED='enabled' # zonage disabled by default if `ZONAGE_ENABLED` not set

# Configuration for the S3 storage service (if enabled)
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_REGION=""
S3_BUCKET=""

# SAML
SAML_IDP_CERTIFICATE="idpcertificate"
SAML_IDP_SECRET_KEY="-----BEGIN RSA PRIVATE KEY-----\nblabla+blabla\n-----END RSA PRIVATE KEY-----\n"

# rappel web du support
SUPPORT_WEBHOOK_URL=""
# rappel web de sendinblue
SIB_WEBHOOK_URL=""

# ServicesPublics+ tracking url shown to user when dossier is terminated.
SERVICES_PUBLICS_PLUS_URL=""

# Various banner for important messages
# for all users
BANNER_MESSAGE=""
# for instructeurs and admins only
ADMINISTRATION_BANNER_MESSAGE=""
# for usager only
USAGER_BANNER_MESSAGE=""

# RSA private key to generate JWT tokens for communication with COJO services
COJO_JWT_RSA_PRIVATE_KEY=""
COJO_JWT_ISS=""

API_COJO_URL=""

# Set to `disabled` if you want to diable postgis
POSTGIS_EXTENSION_DISABLED=""

# Use redis as primary rails cache store, file system otherwise
REDIS_CACHE_URL=""
REDIS_CACHE_SSL="enabled"
REDIS_CACHE_SSL_VERIFY_NONE="enabled"

# configuration for sidekiq's redis
# simple mode
# that's all you need to do to conf your sidekiq on a local redis
REDIS_URL="redis://localhost:6379"
# or sentinels mode
REDIS_SIDEKIQ_SENTINELS='sentinel://host-1:26379,sentinel://host-2:26379'
REDIS_SIDEKIQ_MASTER='master_name'
REDIS_SIDEKIQ_PASSWORD='sentinel_and_redis_password'
REDIS_SIDEKIQ_USERNAME='sentinel_and_redis_username'

# configuration for prometheus metrics web server on /metrics
# launched with sidekiq
# adjust according to your prometheus probe, 127.0.0.1 or your local/admin net address
# it's advised to avoid 0.0.0.0 or if you do, please configure ACL elsewhere (webserver, reverse proxy, ...)
PROMETHEUS_EXPORTER_BIND="127.0.0.1"
PROMETHEUS_EXPORTER_PORT="9394"
PROMETHEUS_EXPORTER_ENABLED="disabled"

# Setup log level, info if nil
# can be debug, info, warn, error, fatal, and unknown
DS_LOG_LEVEL='info'

# GroupeGestionnaire
# can be removed if needed when EVERY PARTS of the feature will be merged / only used in routes.rb
ADMINS_GROUP_ENABLED="disabled"

# Do you want to isolate bulk email (notifications) from transactional ones (ex: reset password).
# BULK_EMAIL_QUEUE will host bulk email (notifications)
BULK_EMAIL_QUEUE="low_priority"

# Use this env var customize the max number of deleted user per day
EXPIRE_USER_DELETION_JOB_LIMIT=10000

# Maximum daily emails sent notifying users about brouillons deletion.
# Set to 0 to disable (temporarily) the deletion.
BROUILLON_DELETION_EMAILS_LIMIT_PER_DAY=10000

# write anything to disable cron jobs
CRON_JOBS_DISABLED=""

# disable SIDEKIQ_RELIABLE_FETCH
# SKIP_RELIABLE_FETCH="true"

# optional license key for lightgallery
VITE_LIGHTGALLERY_LICENSE_KEY = ""

# Email used to find the Instructeur who fixes data on production.
# This email will be visible to users whom dossier had been fixed by our maintenance_tasks
# By default we use CONTACT_EMAIL, but you can customize it
MAINTENANCE_INSTRUCTEUR_EMAIL=""

# want to stay on delayed job ? set as 'delayed_job'
RAILS_QUEUE_ADAPTER="

# RDV Service Public
RDV_SERVICE_PUBLIC_OAUTH_APP_ID=""
RDV_SERVICE_PUBLIC_OAUTH_APP_SECRET=""
RDV_SERVICE_PUBLIC_URL=https://demo.rdv.anct.gouv.fr

# allows to soft delete blobs 7 days after their purge_later call
PURGE_LATER_DELAY_IN_DAY="7"

# A list of url separated by commma allowed by your front|back,end
ALLOWED_API_DOMAINS_FROM_FRONTEND=""

# where to join la taupe, see https://github.com/demarches-simplifiees/la_taupe
# for exemple: http://localhost:8080/analyze
OCR_SERVICE_URL=""

# External service: live chat for admins (specific to démarches-simplifiées.fr)
CRISP_ENABLED="disabled"
CRISP_CLIENT_IDENTIFIER=""
CRISP_CLIENT_KEY=""
CRISP_WEBSITE_ID=""
CRISP_WEBHOOK_SECRET=""
CRISP_INBOX_ID_DEV="" # inbox id hosting dev/technical conversations
