
# Variables d'environnement optionnelles

# Les paramètres pour l'affichage du nom l'application, et pour la génération des liens
APPLICATION_NAME="demarches-simplifiees.fr"
APPLICATION_SHORTNAME="d-s.fr"
APPLICATION_BASE_URL="https://www.demarches-simplifiees.fr"

DS_ENV="staging"

# Utilisation de France Connect
# FRANCE_CONNECT_ENABLED="disabled" # "enabled" par défaut

# Personnalisation d'instance - URLs des CGU et des mentions légales
# CGU_URL=""
# MENTIONS_LEGALES_URL=""

# Personnalisation d'instance - Adresses Email de l'application et téléphone
# CONTACT_EMAIL=""
# EQUIPE_EMAIL=""
# TECH_EMAIL=""
# NO_REPLY_EMAIL=""
# OLD_CONTACT_EMAIL=""
# CONTACT_PHONE=""

# Personnalisation d'instance - Adresses postale de l'opérateur de l'instance
# CONTACT_ADDRESS="Incubateur de Services Numériques / beta.gouv.fr\nServices du Premier Ministre, 20 avenue de Ségur, 75007 Paris"

# Personnalisation d'instance - URL pour la création de compte administrateur sur l'instance
# DEMANDE_INSCRIPTION_ADMIN_PAGE_URL=""

# Personnalisation d'instance - URL du site web de documentation
# DOC_URL="https://doc.demarches-simplifiees.fr"

# Personnalisation d'instance - URL du site web FAQ
# FAQ_URL="https://faq.demarches-simplifiees.fr"

# Personnalisation d'instance - URL de la déclaration d'accessibilité
# ACCESSIBILITE_URL=""

# Personnalisation d'instance - Page externe "Disponibilité" (status page)
# STATUS_PAGE_URL=""

# Personnalisation d'instance - Favicons ---> à placer dans "app/assets/images"
# FAVICON_16PX_SRC="favicons/16x16.png"
# FAVICON_32PX_SRC="favicons/32x32.png"
# FAVICON_96PX_SRC="favicons/96x96.png"

# Personnalisation d'instance - Logo de l'application ---> à placer dans "app/assets/images"
# HEADER_LOGO_SRC="marianne.png"
# HEADER_LOGO_ALT=""
# HEADER_LOGO_WIDTH="65"
# HEADER_LOGO_HEIGHT="56"

# Personnalisation d'instance - Logo dans l'entête des emails ---> à placer dans "app/assets/images"
# MAILER_LOGO_SRC="mailer/instructeur_mailer/logo.png"

# Personnalisation d'instance - Logo dans le pied de page des emails ---> à placer dans "app/assets/images"
# MAILER_FOOTER_LOGO_SRC="mailer/instructeur_mailer/logo-beta-gouv-fr.png"

# Personnalisation d'instance - Logo par défaut d'une procédure  ---> à placer dans "app/assets/images"
# PROCEDURE_DEFAULT_LOGO_SRC="republique-francaise-logo.svg"

# Personnalisation d'instance - Logo dans le PDF d'export d'un dossier  ---> à placer dans "app/assets/images"
# DOSSIER_PDF_EXPORT_LOGO_SRC="app/assets/images/header/logo-ds-wide.svg"

# Personnalisation d'instance - fichier utilisé pour poser un filigrane sur les pièces d'identité
# WATERMARK_FILE=""

# Active le mode maintenance
# MAINTENANCE_MODE="true"

# Active la localisation
# LOCALIZATION_ENABLED="true"

# Désactivé l'OTP pour SuperAdmin
# SUPER_ADMIN_OTP_ENABLED = "disabled" # "enabled" par défaut

# API Particulier https://api.gouv.fr/les-api/api-particulier
# API_PARTICULIER_URL="https://particulier.api.gouv.fr/api"

# Les instructeurs et administrateurs peuvent changer leur email vers ces domaines
# LEGIT_ADMIN_DOMAINS = "domaine_1.com;domaine_2.com"
