
# Variables d'environnement optionnelles

# Les paramètres pour l'affichage du nom l'application, et pour la génération des liens
APPLICATION_NAME="demarches-simplifiees.fr"
APPLICATION_SHORTNAME="d-s.fr"
APPLICATION_BASE_URL="https://www.demarches-simplifiees.fr"

# Utilisation de France Connect
# FRANCE_CONNECT_ENABLED="disabled" # "enabled" par défaut

# Personnalisation d'instance - Adresses Email de l'application et téléphone
# CONTACT_EMAIL=""
# EQUIPE_EMAIL=""
# TECH_EMAIL=""
# NO_REPLY_EMAIL=""
# OLD_CONTACT_EMAIL=""
# CONTACT_PHONE=""

# Personnalisation d'instance - Page externe "Disponibilité" (status page)
# STATUS_PAGE_URL=""
