# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.
defaults: &defaults
  encryption_service_salt: <%= ENV["ENCRYPTION_SERVICE_SALT"] %>
  otp_secret_key: <%= ENV["OTP_SECRET_KEY"] %>
  active_record_encryption:
    primary_key: <%= ENV["AR_ENCRYPTION_PRIMARY_KEY"] %>
    key_derivation_salt: <%= ENV["AR_ENCRYPTION_KEY_DERIVATION_SALT"] %>
  basic_auth:
    username: <%= ENV['BASIC_AUTH_USERNAME'] %>
    password: <%= ENV['BASIC_AUTH_PASSWORD'] %>
  france_connect_particulier: &france_connect_particulier
    identifier: <%= ENV['FC_PARTICULIER_ID'] %>
    secret: <%= ENV['FC_PARTICULIER_SECRET'] %>
    redirect_uri: https://<%= ENV['APP_HOST'] %>/france_connect/particulier/callback
    authorization_endpoint: <%= ENV['FC_PARTICULIER_BASE_URL'] %>/api/v2/authorize
    token_endpoint: <%= ENV['FC_PARTICULIER_BASE_URL'] %>/api/v2/token
    userinfo_endpoint: <%= ENV['FC_PARTICULIER_BASE_URL'] %>/api/v2/userinfo
    logout_endpoint: <%= ENV['FC_PARTICULIER_BASE_URL'] %>/api/v2/session/end
  dolist:
    username: <%= ENV['DOLIST_USERNAME'] %>
    password: <%= ENV['DOLIST_PASSWORD'] %>
    account_id: <%= ENV['DOLIST_ACCOUNT_ID'] %>
    api_key: <%= ENV['DOLIST_API_KEY'] %>
    default_sender_id: <%= ENV['DOLIST_DEFAULT_SENDER_ID'] || 1 %>
    gouv_sender_id: <%= ENV['DOLIST_GOUV_SENDER_ID'] || 1 %>
  api_entreprise:
    key: <%= ENV['API_ENTREPRISE_KEY'] %>
  mailtrap:
    username: <%= ENV['MAILTRAP_USERNAME'] %>
    password: <%= ENV['MAILTRAP_PASSWORD'] %>
  helpscout:
    mailbox_id: <%= ENV['HELPSCOUT_MAILBOX_ID'] %>
    client_id: <%= ENV['HELPSCOUT_CLIENT_ID'] %>
    client_secret: <%= ENV['HELPSCOUT_CLIENT_SECRET'] %>
    webhook_secret: <%= ENV['HELPSCOUT_WEBHOOK_SECRET'] %>
  sendinblue:
    enabled: <%= ENV.key?('SENDINBLUE_BALANCING_VALUE') %>
    username: <%= ENV['SENDINBLUE_USER_NAME'] %>
    client_key: <%= ENV['SENDINBLUE_CLIENT_KEY'] %>
    smtp_key: <%= ENV['SENDINBLUE_SMTP_KEY'] %>
    api_v3_key: <%= ENV['SENDINBLUE_API_V3_KEY'] %>
  mattermost:
    send_in_blue_outage_webhook_url: <%= ENV['SEND_IN_BLUE_OUTAGE_WEBHOOK_URL'] %>
    support_webhook_url: <%= ENV['SUPPORT_WEBHOOK_URL'] %>
  matomo:
    cookie_domain: "<%= ENV['MATOMO_COOKIE_DOMAIN'] %>"
    domain: "<%= ENV['MATOMO_DOMAIN'] %>"
    enabled: <%= ENV['MATOMO_ENABLED'] == 'enabled' %>
    host: <%= ENV['MATOMO_HOST'] %>
    client_key: <%= ENV['MATOMO_ID'] %>
  sentry:
    enabled: <%= ENV['SENTRY_ENABLED'] == 'enabled' %>
    js_client_key: <%= ENV['SENTRY_DSN_JS'] %>
    rails_client_key: <%= ENV['SENTRY_DSN_RAILS'] %>
    environment: <%= ENV['SENTRY_CURRENT_ENV'] %>
  crisp:
    enabled: <%= ENV['CRISP_ENABLED'] == 'enabled' %>
    client_key: <%= ENV['CRISP_CLIENT_KEY'] %>
  universign:
    userpwd: <%= ENV['UNIVERSIGN_USERPWD'] %>
  certigna:
    userpwd: <%= ENV['CERTIGNA_USERPWD'] %>
  datagouv:
    api_key: <%= ENV['DATAGOUV_API_KEY'] %>

development:
  <<: *defaults
  france_connect_particulier:
    <<: *france_connect_particulier
    redirect_uri: http://<%= ENV['APP_HOST'] %>/france_connect/particulier/callback

test:
  <<: *defaults
  encryption_service_salt: QUDyMoXyw2YXU8pHnpts3w9MyMpsMQ6BgP62obgCf7PQv # ggignore
  otp_secret_key: 78ddda3679dc0ba2c99f50bcff04f49d862358dbeb7ead50368fdd6de14392be884ee10a204a0375b4b382e1a842fafe40d7858b7ab4796ec3a67c518d31112b # ggignore
  active_record_encryption:
    primary_key: test-RgUyzplf0kehB5fyZpmCd37uvgb # ggignore
    key_derivation_salt: test-yyMmzM9cTSD1rs3Fq3hwt3hMNg4 # ggignore
  api_entreprise:
    key: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Ik9oIHllYWgiLCJpYXQiOjE1MTYyMzkwMjJ9.f06sBo3q2Yxnw_TYPFUEs0CozBmcV-XniH_DeKNWzKE' # ggignore

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *defaults
