- if account_signed_in?
  #sign-out.col-xs-2.no-padding
    = link_to "/users/sign_out", method: :delete do
      %span.fa.fa-sign-out
      Se déconnecter
    .dropdown-menu#credentials
      .description= t("utils.deconnexion")
      = current_account.email
- else
  #sign-in.col-xs-2
    = link_to "Connexion", new_user_session_path, class: 'btn btn-lg btn-primary'
