%div.col-lg-7.col-md-7.main-info
  Start UP region ile de france (8 dossiers en cours)
%div.col-lg-3.col-md-3.options
  %div.row
    %div.col-lg-12.col-md-12
      = render partial: "dossiers/download_dossiers"
%div.col-lg-1.col-md-1.log-options
  %span.fa.fa-sign-out
