
%p.fr-mb-0.copy-zone= champ.to_s
- if champ.full_address?
  - if champ.france?
    %p.fr-text--sm.fr-mb-0.copy-zone
      Code INSEE :
      %span{ data: { to_copy: true } }= champ.city_code
    %p.fr-text--sm.fr-mb-0.fr-text--secondary.copy-zone
      Département :
      %span{ data: { to_copy: true } }= champ.departement_code_and_name

    - if champ.ban?
      %p.fr-text--sm.fr-mt-1w
        = content_tag :span, class: "fr-tag fr-fi-information-line fr-tag--icon-left fr-tag--sm font-weight-normal" do
          L’adresse est connue de la&nbsp;
          %acronym{ title: "Base Adresse Nationale" } BAN
  - else
    %p.fr-text--sm.fr-mb-0
      Pays :
      %span.copy-zone= champ.country_name
