
.fr-fieldset__element.fr-fieldset__element--inline
  .fr-radio-group
    = @form.radio_button :value, 0, id: @champ.female_input_id, checked: @champ.female?
    %label.fr-label{ for: @champ.female_input_id }
      = Individual.human_attribute_name('gender.female')
.fr-fieldset__element.fr-fieldset__element--inline
  .fr-radio-group
    = @form.radio_button :value, 1, id: @champ.male_input_id, checked: @champ.male?
    %label.fr-label{ for: @champ.male_input_id }
      = Individual.human_attribute_name('gender.male')
