= form_with(url: dossiers_path, method: :get, data: { controller: 'autosubmit' } ) do |f|
  .fr-input-group
    = f.select :procedure_id, options_for_select(@procedures_for_select, params[:procedure_id]), { prompt: t('.procedures.prompt') }, class: 'fr-select'
