- row_to_render = champ.rows.last
- if row_to_render.present?
  - row_to_render_id = row_to_render.first.row

  = fields_for attribute, champ, include_id: false do |champ_fields|
    -# Enumerate all rows
    - champ.rows.each do |row_champs|
      -# If the row is the one we want, render its champs
      - if row_champs.present? && row_champs.first.row == row_to_render_id
        = render 'shared/dossiers/editable_champs/repetition_row', form: champ_fields, champs: row_champs
      - else
        -# consume the value, to advance the `champ_fields` form builder internal index
        - champ_fields.fields_for :champs, row_champs do |_| end
