- if @row_id.present?
  = fields_for @champ.input_name, @champ do |form|
    = turbo_stream.append dom_id(@champ, :rows), render(EditableChamp::RepetitionRowComponent.new(form: form, dossier: @champ.dossier, champ: @champ, row_id: @row_id, row_number: @row_number))
    - if @first_champ_id
      = turbo_stream.focus(@first_champ_id)
