%p
  Bonjour,

%p
  L'utilisateur
  = @invite.email_sender
  souhaite que vous participiez à l'élaboration d'un dossier sur demarches-simplifiees.fr.

%p
  Pour le consulter, merci de suivre ce lien :
  = invite_url(@invite)

%p
  Bonne journée,

%p
  L'équipe demarches-simplifiees.fr
