%p
  Bonjour,

%p
  L'utilisateur
  = @invite.email_sender
  souhaite que vous participiez à l'élaboration d'un dossier sur demarches-simplifiees.fr.

%p
  Cette plateforme permet à ses utilisateurs d'établir des dossiers 100 % en ligne et de dialoguer avec plusieurs interlocuteurs privilégiés avant d'instruire un dépot.

%p
  Afin de répondre à cette invitation, merci de vous inscrire avec l'adresse email
  = @invite.email
  sur
  = invite_url(@invite, params: { email: @invite.email })

= render partial: "layouts/mailers/signature"
