%p
  Bonjour,

%p
  L'utilisateur
  = @invite.email_sender
  souhaite que vous participiez à l'élaboration d'un dossier sur #{SITE_NAME}.

%p
  Pour le consulter, merci de suivre ce lien :
  - url_for_link = invite_url(@invite)
  = link_to url_for_link, url_for_link

= render partial: "layouts/mailers/signature"
