%h2
  ='Localisation de votre demande'
%br

=render partial: 'carte_sources_CSS'

.content
  #map_qp{style: 'height:600px; width: 100%;'}

= form_tag(url_for({controller: :carte, action: :save_ref_api_carto}), class: 'form-inline', method: 'POST') do
  %br
  %input{type: 'hidden', value: '', name: 'ref_dossier', id: 'ref_dossier'}
  %input{type: 'hidden', value: request.parameters[:back_url], name: 'back_url', id: 'back_url'}

  -if request.parameters[:back_url] == 'recapitulatif'
    =render partial: '/layouts/modifications_terminees'
  -else
    =render partial: '/layouts/etape_suivante'

=render partial: 'carte_sources_JS'