~ @form.text_area(:value, input_opts(id: @champ.input_id, aria: { labelledby: labelledby_id, describedby: "#{@champ.describedby_id} #{@champ.error_id}" }, rows: 6, required: @champ.required?, value: html_escape(@champ.value), data: { controller: 'autoresize' }))

%div{ role: 'status' }
  - if @champ.character_limit_info?
    %p.fr-info-text
      = t('.remaining_characters', remaining_words: @champ.remaining_characters)

  - if @champ.character_limit_warning?
    %p.fr-icon--sm.fr-mt-4v.fr-mb-0.fr-hint-text.fr-icon-warning-fill.fr-text-default--warning
      = t('.excess_characters', excess_words: @champ.excess_characters)
