- content_for(:title, "Choix du mot de passe")

- content_for :footer do
  = render partial: "root/footer"

= render 'shared/password/new', object: @administrateur, controller: 'administrateurs/activate', test_password_strength: administrateurs_password_test_strength_path
