- content_for(:title, "Choix du mot de passe")

- content_for :footer do
  = render partial: "root/footer"

= render 'shared/password/new', object: @administrateur, controller: 'administrateurs/activate', test_password_strength: test_password_strength_path(PASSWORD_COMPLEXITY_FOR_ADMIN)
