= render partial: 'admin/closed_mail_template_attestation_inconsistency_alert'
#custom-mails
  .wrapper
    %h1 E-mails personnalisables
    %table.table
      %tr
        %th{ colspan: 2 }
          Type d'email
      - @mail_templates.each do |mail_template|
        %tr
          %td
            = mail_template.class.const_get(:DISPLAYED_NAME)
          %td.text-right
            = link_to "Personnaliser l'e-mail", edit_procedure_mail_template_path(@procedure, mail_template.class.const_get(:SLUG))
