  <div class='page-wrapper'>
    <div class='container'>
      <h1 class='new-h1'>Une erreur est survenue</h1>
      <div class='description'>
        Nos équipes ont été averties. Si le problème persiste ou si vous voulez nous donner des détails concernant l'erreur qui vient de se produire, vous pouvez nous contacter à l'adresse <a href="mailto:contact@demarches-simplifiees.fr" target="_blank" rel="noopener">contact@demarches-simplifiees.fr</a>.
      </div>
    </div>
  </div>
