  <div class='page-wrapper'>
    <div class='container'>
      <h1 class='new-h1'>La page que vous cherchez n’existe pas<br/>(erreur 404).</h1>
      <div class='description'>La page que vous cherchez a sans doute changé d’adresse, ou vous n’avez pas les droits nécessaires pour y accéder.</div>
    </div>
  </div>
