%main#content{ role: "main" }
  .fr-container
    .fr-my-7w.fr-mt-md-12w.fr-mb-md-10w.fr-grid-row.fr-grid-row--gutters.fr-grid-row--middle.fr-grid-row--center
      .fr-py-0.fr-col-12.fr-col-md-6
        %h1 Page non trouvée
        %p.fr-text--sm.fr-mb-3w Erreur 404
        %p.fr-text--lead.fr-mb-3w La page que vous cherchez est introuvable. Excusez-nous pour la gène occasionnée.
        %p.fr-text--sm.fr-mb-3w
          Si vous avez tapé l’adresse web dans le navigateur, vérifiez qu’elle est correcte. La page n’est peut-être plus disponible.
          %br
          Dans ce cas, pour continuer votre visite vous pouvez consulter notre page d’accueil.
          %br
          Sinon contactez-nous pour que l’on puisse vous rediriger vers la bonne information.
        %p.fr-text--sm.fr-mb-5w
          Pour le laissez-passer A-38, relatif à l’enregistrement d'une galère, veuillez vous adresser à la capitainerie au port.
        %ul.fr-btns-group.fr-btns-group--inline-md
          %li
            = link_to("Page d’accueil", root_path, class: "fr-btn")
          %li
            = link_to("Contactez-nous", contact_path, class: "fr-btn fr-btn--secondary")

      = render partial: "artwork"
