= render partial: 'admins_group_managers/breadcrumbs',
  locals: { steps: [['Groupes d\'administrateurs', admins_group_manager_admins_groups_path]] }

#admins_groups-index.container
  %h1.fr-h1 Liste des groupes d'administrateurs

  %table.fr-table.width-100.mt-3
    %thead
      %tr
        %th{ scope: "col" }
          Nom

    %tbody
      - @admins_groups.each do |admins_group|
        %tr
          %td
            = admins_group.name
