%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  = t(".email_body.html",
      count: @group.procedure.groupe_instructeurs.count,
      groupe: @group.label,
      email: @current_instructeur_email,
      procedure: @group.procedure.libelle,
      procedure_url: instructeur_procedure_url(@group.procedure))

= render partial: "layouts/mailers/signature"
