= render partial: 'new_administrateur/breadcrumbs',
  locals: { steps: [link_to('Démarches', admin_procedures_path),
                    link_to(@procedure.libelle, admin_procedure_path(@procedure)),
                    'Configuration des champs'], preview: true }

.container
  %h1 Configuration des champs
  %br

  = react_component("TypesDeChampEditor", types_de_champ_data(@procedure))
