#breadcrumbs.sub-header
  .fr-container.flex.justify-between.align-baseline.column
    %nav.fr-breadcrumb.mt-0{ role: "navigation", aria: { label: t('you_are_here', scope: [:layouts, :breadcrumb]) } }
      %button.fr-breadcrumb__button{ aria: { expanded: "false", controls: "breadcrumb-1" } }
        = t('show', scope: [:layouts, :breadcrumb])
      .fr-collapse#breadcrumb-1
        %ol.fr-breadcrumb__list
          - steps.each.with_index do |step, i|
            - if i == steps.size - 1
              %li= link_to step[0], '', { aria: { current: "page" } , class: 'fr-breadcrumb__link' }
            - else
              %li= link_to step[0], step[1], class: 'fr-breadcrumb__link'
    - if defined?(metadatas)
      .metadatas.pb-3
        %h1.fr-h6.fr-mb-1w
          = @groupe_gestionnaire.name
