.attachment-multiple{ class: class_names("fr-downloads-group": view_as == :download, "destroyable": user_can_destroy?), **replace_controller_attributes }
  = template

  - if @attachments.size >= 1
    %ul.fr-my-1v
      - each_attachment do |attachment, index|
        %li{ id: dom_id(attachment) }
          = render Attachment::EditComponent.new(champ:, attached_file:, attachment:, index:, view_as:, user_can_destroy:, user_can_replace:, form_object_name:)

  %div{ id: empty_component_id, class: class_names("hidden": !can_attach_next?), data: { turbo_force: :server } }
    = render Attachment::EditComponent.new(champ:, as_multiple: champ.present? ? champ.allow_multiple_attachments? : true, attached_file:, attachment: nil, index: attachments_count, user_can_destroy:, user_can_replace:, form_object_name:)

  // single poll and refresh message for all attachments
  = render Attachment::PendingPollComponent.new(attachments: attachments, poll_url:, context: poll_context)
