  <div class="fr-connect-group fr-my-2w">
    <%= link_to pro_connect_login_path, class: "fr-btn fr-connect fr-proconnect" do %>
      <span class="fr-connect__login">
        <%= t('.login_button') %>
      </span>
      <span class="fr-connect__brand">ProConnect</span>
    <% end %>
    <p>
      <%= link_to t('.help_link'), "https://www.proconnect.gouv.fr/", target: "_blank", rel: "noopener" %>
    </p>
  </div>
