.fr-col-6.fr-col-md-4.fr-col-lg-3
  = link_to @path, id: 'administrateurs', class: 'fr-tile fr-enlarge-link' do
    .fr-tile__body.flex.column.align-center.justify-between
      %p.fr-badge.fr-badge--success Validé
      %div
        .line-count.fr-my-1w
          %p.fr-tag= @groupe_gestionnaire.administrateurs.size
        %h3.fr-h6
          = t('.title', count: @groupe_gestionnaire.administrateurs.size)
      %p.fr-btn.fr-btn--tertiary= @is_gestionnaire ? t('views.shared.actions.edit') : t('views.shared.actions.see')
