- content_for(:title, @subject)

%p
  Bonjour,

%p
  Vous avez fait la demande d’un compte administrateur sur demarches-simplifiees.fr.
  Votre compte a été créé mais reste inactif, il arrivera à expiration le #{try_format_date(@expiration_date)}

%p
  Afin d’activer votre compte, veuillez cliquer sur le lien ci-dessous :
  = link_to(admin_activate_url(token: @reset_password_token), admin_activate_url(token: @reset_password_token))

%p
  Nous restons à votre disposition si vous avez besoin d’accompagnement.

%p
  = render partial: "layouts/mailers/bizdev_signature", locals: { author_name: "Benjamin Doberset" }
