- content_for(:title, "Suppression des dossiers automatique activée")

%p
  Bonjour,

%p
  Le règlement général sur la protection des données (RGPD) responsabilise les organismes publics et privés qui traitent leurs données.

%p
  Dans le cadre du respect du RGPD, nous (la plateforme #{Current.application_name}) venons d'activer la suppression automatique des dossiers sur la démarche : "#{@procedure.libelle}".

%p
  Vous pouvez d’ores et déjà archiver ces données en accédant à
  = link_to("notre systeme d'archivage pour les admnistrateurs de démarche",admin_procedures_archived_url(@procedure) )
  \.

= render partial: "layouts/mailers/signature"
