- content_for(:title, "Service avec Siret manquant")

%p
  Bonjour,

%p
  Vous êtes administrateur sur la plateforme
  = Current.application_name
  et au moins un de vos services n'a pas son siret renseigné.

%p
  Afin d'éviter tout dysfonctionnement sur la plateforme, nous vous invitons à le remplir au plus vite à cette adresse :
  = link_to admin_procedures_url, admin_procedures_url

= render partial: "layouts/mailers/signature"
