- if procedure.api_entreprise_token.valid? && procedure.api_entreprise_token.expires_at.present?
  - if procedure.api_entreprise_token.expired?
    = render Dsfr::AlertComponent.new(state: :error, size: :sm, extra_class_names: 'fr-mb-2w') do |c|
      - c.with_body do
        %p
          Votre jeton API Entreprise est expiré.
          Merci de le renouveler.
  - elsif procedure.api_entreprise_token.expired_or_expires_soon?
    = render Dsfr::AlertComponent.new(state: :warning, size: :sm, extra_class_names: 'fr-mb-2w') do |c|
      - c.with_body do
        %p
          Votre jeton API Entreprise expirera le
          = "#{I18n.l(procedure.api_entreprise_token.expires_at, format: :long_with_time)}."
          Merci de le renouveler avant cette date.
