- if procedure.api_entreprise_token_expires_at.present?
  - if procedure.api_entreprise_token_expires_at < Time.zone.now
    = render Dsfr::AlertComponent.new(state: :error, size: :sm, extra_class_names: 'fr-mb-2w') do |c|
      - c.with_body do
        %p
          Votre jeton API Entreprise est expiré.
          Merci de le renouveler.
  - elsif procedure.api_entreprise_token.expired_or_expires_soon?
    = render Dsfr::AlertComponent.new(state: :warning, size: :sm, extra_class_names: 'fr-mb-2w') do |c|
      - c.with_body do
        %p
          Votre jeton API Entreprise expirera le
          = procedure.api_entreprise_token_expires_at.strftime('%d/%m/%Y à %H:%M.')
          Merci de le renouveler avant cette date.
