= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(4), admin_procedure_path(@procedure)],
                    ['Configuration des champs']], preview: @procedure.draft_revision.valid? }

.container
  %h1 Configuration des champs
  %br

  = render TypesDeChampEditor::EditorComponent.new(revision: @procedure.draft_revision)
