= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle, admin_procedure_path(@procedure)],
                    ['Modifications']] }
.container
  %h1.page-title
    Historique des modifications du formulaire

.container
  - previous_revision = nil
  - @procedure.revisions.each do |revision|
    - if previous_revision.present? && !revision.draft?
      - changes = previous_revision.compare(revision)
      - if changes.present?
        .card.mb-4
          %h2.card-title= "Modifications publiées le #{l(revision.published_at, format: '%d %B %Y à %R')}"
          = render partial: 'revision_changes', locals: { changes: changes }
    - previous_revision = revision
