= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_back_path(@procedure)],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Je Donne Mon Avis']] }

.fr-container
  %h1.fr-h2
    Bouton « Je Donne Mon Avis »

= form_for @procedure, url: url_for({ controller: 'administrateurs/procedures', action: :update_monavis }), html: { class: 'form', multipart: true } do |f|
  .fr-container
    = render partial: 'monavis', locals: { f: f }

  = render Procedure::FixedFooterComponent.new(procedure: @procedure, form: f)
