.col-md-3.col-sm-3.col-xs-3.col-lg-3.center
  %h3 Ma procédure

  #logos.center{class: (@facade.entreprise.nil? ? '' : 'mask')}
    - if @facade.procedure.euro_flag
      #euro_flag.flag
        =image_tag('drapeau_europe.png')

    #logo_procedure.flag
      =image_tag( @facade.procedure.decorate.logo_img )

.etape.etapes_informations.col-md-9.col-sm-9.col-xs-9.col-lg-9
  .row
    .col-md-12.col-sm-12.col-xs-12.col-lg-12.padding-left-30
      %h2#titre_procedure.text-info
        = @facade.procedure.libelle

      %p#description_procedure{style:'width: 95%;', class: (@facade.entreprise.nil? ? '' : 'mask')}
        = h @facade.procedure.description.html_safe

        - unless @facade.procedure.lien_site_web.blank?
          .center
            %a{href: "#{@facade.procedure.lien_site_web.html_safe}", target: '_blank'}
              En savoir plus ...
