%p
  Bonjour,

%p
  Votre dossier n° --numéro du dossier--
  %strong a été accepté
  le --date de décision--.

%p
  Vous pouvez télécharger votre attestation à l'adresse suivante : --lien attestation--

= render partial: "notification_mailer/default_templates/signature"
