%p
  Bonjour,

%p
  Votre dossier n° --numéro du dossier--
  = succeed '.' do
    %strong a bien été déposé
  Si besoin est, vous pouvez encore y apporter des modifications.

= render partial: "notification_mailer/default_templates/signature"
