%p
  Bonjour,

%p
  Votre dossier n° --numéro du dossier--
  va être réexaminé, la précédente décision sur ce dossier est caduque.
  Vous pouvez retrouver le dossier que vous avez créé pour la démarche --libellé démarche-- à l’adresse suivante : --lien dossier--

  Pour obtenir le détail de cette modification de la décision, vous pouvez contacter le service : --nom du service--.

= render partial: "notification_mailer/default_templates/signature"
