%p
  Bonjour,

%p
  Votre dossier n° --numéro du dossier--
  a bien été reçu et
  = succeed '.' do
    %strong pris en charge
  Il va maintenant être examiné par le service.

= render partial: "notification_mailer/default_templates/signature"
