%p
  Bonjour,

%p
  Votre dossier n° --numéro du dossier--
  %strong a été refusé
  le --date de décision--.

<p>Le motif de refus est le suivant :</p>
<blockquote>--motivation--</blockquote>

%p
  Pour en savoir plus sur le motif du refus, vous pouvez consulter votre dossier et les éventuels messages de l'administration à cette adresse : --lien dossier--

= render partial: "notification_mailer/default_templates/signature"
