%p
  Bonjour,

%p
  Votre dossier nº --numéro du dossier--
  est repassé en instruction et
  = succeed '.' do
    %strong pris en charge
  Il va maintenant être réexaminé par le service.

= render partial: "notification_mailer/default_templates/signature"
