- content_for :title, "Nouveau label"

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['gestion des labels', [:admin, @procedure, :procedure_labels]],
                    ['Nouveau label']] }


.fr-container
  .fr-mb-3w
    = link_to "Liste de tous les labels",
      [:admin, @procedure, :procedure_labels],
      class: "fr-link fr-icon-arrow-left-line fr-link--icon-left"

  %h1.fr-h2
    Créer un nouveau label

  = render partial: 'form',
    locals: { label: @label, procedure_id: @procedure.id }
