- if dossier.en_instruction?
  %span.label.instruction en instruction
- elsif dossier.en_construction?
  %span.label.construction en construction
- elsif dossier.accepte?
  %span.label.accepted accepté
- elsif dossier.refused?
  %span.label.refused refusé
- elsif dossier.without_continuation?
  %span.label.without-continuation sans suite
