= link_to champs_admin_procedure_path(@procedure), class: 'fr-tile fr-enlarge-link', title: error_messages do
  .fr-tile__body.flex.justify-between
    - if error_messages.present?
      %div
        %span.icon.refuse
        %p.fr-tile-status-error À modifier
    - elsif @count == 0
      %div
        %span.icon.clock
        %p.fr-tile-status-todo À faire
    - else
      %div
        %span.icon.accept
        %p.fr-tile-status-accept Validé
    %div
      .line-count.fr-my-1w
        %p.fr-tag= @count

      %h3.fr-h6
        = t('.title')
      %p.fr-tile-subtitle À remplir par les usagers
    %p.fr-btn.fr-btn--tertiary= t('views.shared.actions.edit')
