.no-procedure
  = image_tag "landing/hero/dematerialiser.svg", class: "paperless-logo", alt: "moins de papier"
  .baseline.center
    %p
      %span.simple Un outil simple
      %br
      pour gérer les formulaires
      %br
      administratifs dématérialisés.
