.no-procedure
  = image_tag "landing/hero/dematerialiser.svg", class: "paperless-logo", alt: "moins de papier"
  .baseline.center
    %p
      %span.simple= t('views.layouts.commencer.no_procedure.line1')
      %br
      = t('views.layouts.commencer.no_procedure.line2')
      %br
      = t('views.layouts.commencer.no_procedure.line3')
