.no-procedure
  = image_tag "landing/hero/dematerialiser.svg", class: "paperless-logo", alt: "moins de papier"
  .baseline.center
    %p
      %span.simple= t('views.commencer.no_procedure.ligne1')
      %br
      = t('views.commencer.no_procedure.ligne2')
      %br
      = t('views.commencer.no_procedure.ligne3')
