.no-procedure
  = image_tag "landing/hero/dematerialiser.svg", class: "paperless-logo", alt: "moins de papier"
  .baseline.center
    %h3 Un outil simple
    %p
      pour gérer les formulaires
      %br
      administratifs dématérialisés.
