.procedure-logos
  = image_tag logo_img(procedure)
  - if procedure.euro_flag
    = image_tag "flag_of_europe.svg"
%h2.procedure-title
  = procedure.libelle
.procedure-description
  = h string_to_html(procedure.description)
