%nav.fr-sidemenu{ "aria-labelledby" => "fr-sidemenu-title" }
  .fr-sidemenu__inner
    %button.fr-sidemenu__btn{ "aria-controls" => "fr-sidemenu-wrapper", "aria-expanded" => "false", hidden: "" } Dans cette rubrique
    #fr-sidemenu-wrapper.fr-collapse
      %ul.fr-sidemenu__list
        - url = avis_instructeur_dossier_path(@dossier.procedure, @dossier)
        - current_page = current_page?(url)
        %li{ class: "fr-sidemenu__item fr-sidemenu__item#{current_page ? '--active' : ''}" }
          %a.fr-sidemenu__link{ 'aria-current': current_page ? 'page' : nil,href: url, target: "_self" } Voir les avis

        - url = avis_new_instructeur_dossier_path(@dossier.procedure, @dossier)
        - current_page = current_page?(url)
        %li{ class: "fr-sidemenu__item fr-sidemenu__item#{current_page ? '--active' : ''}" }
          %a.fr-sidemenu__link{ 'aria-current': current_page ? 'page' : nil, href: url, target: "_self" } Demander un avis
