= link_to admin_procedure_administrateurs_path(@procedure), id: 'administrateurs', class: 'fr-tile fr-enlarge-link' do
  .fr-tile__body.flex.justify-between
    %div
      %span.icon.accept
      %p.fr-tile-status-accept Validé
    %div
      .line-count.fr-my-1w
        %p.fr-tag= @procedure.administrateurs.size
      %h3.fr-h6
        = t('.title', count: @procedure.administrateurs.size)
      %p.fr-tile-subtitle Gestion de la démarche
    %p.fr-btn.fr-btn--tertiary= t('views.shared.actions.edit')
