- if pj.attached?
  .pj-link
    - if pj.virus_scanner.safe? || !pj.virus_scanner.analyzed?
      = link_to url_for(pj), target: '_blank', rel: 'noopener',  title: "Télécharger la pièce jointe" do
        %span.icon.attachment
        = pj.filename.to_s
      - if !pj.virus_scanner.analyzed?
        (ce fichier n’a pas été analysé par notre antivirus, téléchargez-le avec précaution)

    - else
      = pj.filename.to_s
      - if pj.virus_scanner.pending?
        (analyse antivirus en cours
        = link_to "rafraichir", request.path
        )
      - elsif pj.virus_scanner.infected?
        - if user_can_upload
          (virus détecté, merci d’envoyer un autre fichier)
        - else
          (virus détecté, le téléchargement de ce fichier est bloqué)
