%dialog{ aria: { labelledby: "fr-modal-title-modal-1" }, role: "dialog", id: "routing-mode-modal", class: "fr-modal fr-modal--opened" }
  .fr-container.fr-container--fluid.fr-container-md
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-8.fr-col-lg-6
        .fr-modal__body
          .fr-modal__header
            %button.fr-btn.fr-btn--close{ title: "Fermer la fenêtre modale", aria: { controls: "routing-mode-modal" } } Fermer
          .fr-modal__content
            %h1#fr-modal-title-modal-1.fr-modal__title
              %span.fr-icon-arrow-right-line.fr-icon--lg
              Configuration manuelle du routage
            .fr-alert.fr-alert--success
              %h2.fr-alert__title
                Deux groupes par défaut ont été créés
              %p
                Vous devez maintenant les renommer et leur attribuer des règles de routage à partir du ou des champs « routables » de votre formulaire, soit des champs de type :
              %ul
                - TypeDeChamp.humanized_conditionable_types_by_category.each do |category|
                  %li
                    = category.join(', ')
