.card.mt-2
  = render NestedForms::FormOwnerComponent.new
  = form_with url: { action: :add_signature }, method: :post, html: { multipart: true } do |f|
    .card-title Tampon de l'attestation
    = f.submit 'Ajouter signature', class: 'fr-btn'

    .fr-upload-group.fr-mb-4w
      %p.fr-text--sm.fr-text-mention--grey.fr-mb-1w
        Dimensions conseillées : au minimum 500 px de largeur ou de hauteur.
      = render Attachment::EditComponent.new(attached_file: groupe_instructeur.signature, direct_upload: false)
