= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [[t('.procedures'), admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    [(@procedure.groupe_instructeurs.many? ? 'Groupes' : 'Instructeurs'), admin_procedure_groupe_instructeurs_path(@procedure)],
                    ['Ajout']] }

.container
  .fr-grid-row
    .fr-col.fr-col-12.fr-col-md-3
      .fr-container
        %ul.fr-btns-group.fr-btns-group--inline-md.fr-ml-0.fr-sidemenu__inner
          %li
            = link_to options_admin_procedure_groupe_instructeurs_path, class: 'fr-link fr-icon-arrow-left-line fr-link--icon-left fr-mb-2w fr-mr-2w' do
              Revenir à la liste
    .fr-col
      = render Procedure::GroupesAjoutComponent.new(procedure: @procedure, groupe_instructeurs: @groupes_instructeurs)
