= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [link_to('Démarches', admin_procedures_path),
                    link_to(@procedure.libelle, admin_procedure_path(@procedure)),
                    link_to('Groupes d’instructeurs', admin_procedure_groupe_instructeurs_path(@procedure)),
                    @groupe_instructeur.label] }

.container.groupe-instructeur
  = render partial: 'administrateurs/groups_header'
  = render partial: 'administrateurs/groupe_instructeurs/instructeurs',
    locals: { procedure: @procedure,
      groupe_instructeur: @groupe_instructeur,
      instructeurs: @instructeurs,
      available_instructeur_emails: @available_instructeur_emails,
      disabled_as_super_admin: @disabled_as_super_admin }
