= @form.text_field :value,
  id: @champ.input_id,
  aria: { describedby: @champ.describedby_id },
  placeholder: t(".placeholder"),
  data: { controller: 'turbo-input', turbo_input_url_value: champs_rna_path(@champ.id) },
  required: @champ.mandatory?,
  pattern: "W[0-9]{9}",
  title: t(".title"),
  class: "width-33-desktop",
  maxlength: 10
.rna-info{ id: dom_id(@champ, :rna_info) }
  = render 'shared/champs/rna/association', champ: @champ
