= @form.date_field :value,
  input_opts(id: @champ.focusable_input_id,
  aria: { **labelledby_id_attr, describedby: "#{@champ.describedby_id} #{@champ.error_id}" },
  value: @champ.value,
  min: min_date,
  max: max_date,
  required: @champ.required?)
