.dropdown.help-dropdown{ data: { controller: 'menu-button' } }
  %button.fr-btn.dropdown-button{ data: { menu_button_target: 'button' } }
    = t('help')
  #help-menu.dropdown-content.fade-in-down{ data: { menu_button_target: 'menu' } }
    %ul.dropdown-items
      - if procedure.service.present?
        = render partial: 'shared/help/dropdown_items/service_item',
          locals: { service: procedure.service, title: "Une question sur cette démarche ?" }

      = render partial: 'shared/help/dropdown_items/faq_item'
