#help_dropdown_dossier
  .fr-translate.fr-nav
    .fr-nav__item
      %button.help-btn.fr-translate__btn.fr-btn{ "aria-controls" => "help-menu", "aria-expanded" => "false" }
        = t('help')

      #help-menu.help-content.fr-collapse.fr-menu
        - title = dossier.brouillon? ? t("help_dropdown.help_brouillon_title") : t("help_dropdown.help_filled_dossier")
        .fr-menu__list
          - if dossier.service_or_contact_information.present?
            .flex.fr-py-3v.fr-px-2w
              = render partial: 'shared/help/dropdown_items/service_item',
                locals: { service: dossier.service_or_contact_information, title:, dossier: }

          .flex.fr-py-3v.fr-px-2w
            = render partial: 'shared/help/dropdown_items/faq_item'
