.dropdown.help-dropdown
  .button.dropdown-button Aide
  .dropdown-content.fade-in-down
    %ul.dropdown-items
      = render partial: 'shared/help/dropdown_items/faq_item'
      = render partial: 'shared/help/dropdown_items/email_item'
