= render Dropdown::MenuComponent.new(wrapper: :span, wrapper_options: { class: ['help-dropdown']}, menu_options: { id: "help-menu" }) do |menu|
  - menu.with_button_inner_html do
    = t('help')

  - if procedure.service.present?
    - menu.with_item do
      = render partial: 'shared/help/dropdown_items/service_item', locals: { service: procedure.service, title: "Une question sur cette démarche ?" }
  - menu.with_item do
    = render partial: 'shared/help/dropdown_items/faq_item'
