.fr-translate.fr-nav
  .fr-nav__item
    %button.help-btn.fr-translate__btn.fr-btn{ "aria-controls" => "help-menu", "aria-expanded" => "false" }
      = t('help')

    #help-menu.help-content.fr-collapse.fr-menu
      .fr-menu__list
        .flex.fr-py-3v.fr-px-2w
          = render partial: 'shared/help/dropdown_items/faq_item'
        .flex.fr-py-3v.fr-px-2w
          = render partial: 'shared/help/dropdown_items/email_item'
