%table.table.vertical.dossier-champs{ role: :presentation }
  %tbody
    = render partial: "shared/dossiers/champ_row", locals: { champs: champs, demande_seen_at: demande_seen_at, profile: profile, repetition: false }
