- if dossier.show_groupe_instructeur_details?
  .fr-my-4v.fr-px-4v
    .flex

      %p.flex-grow.fr-text-action-high--grey.fr-mb-0= dossier.procedure.routing_criteria_name
      %p.fr-mb-0.fr-text--xs
        - if demande_seen_at&.<(dossier.groupe_instructeur_updated_at)
          %span{ class: highlight_if_unseen_class(demande_seen_at, dossier.groupe_instructeur_updated_at) }
            = t(:updated_at, scope: [:views, :shared, :dossiers, :form], datetime: try_format_datetime(dossier.updated_at))

    .champ-content.fr-text-action-high--grey{ class: highlight_if_unseen_class(demande_seen_at, dossier.groupe_instructeur_updated_at) }
      %p= dossier.groupe_instructeur.label


= render ViewableChamp::SectionComponent.new(champs: champs, demande_seen_at: demande_seen_at, profile: profile)
