= render Dossiers::RowShowComponent.new(label: libelle) do |c|
  - c.with_value do
    %details
      - etablissement.entreprise_bilans_bdf.each do |bilan|
        = "#{pretty_date_exercice(year_for_bilan(bilan))} :"
        = pretty_currency(value_for_bilan_key(bilan, key), unit: pretty_currency_unit(etablissement.entreprise_bilans_bdf_monnaie))
        %br
