%table.table.vertical.dossier-champs{ role: :presentation }
  %tbody
    %tr
      %td.libelle Déposé le :
      %td= l(dossier.depose_at, format: '%d %B %Y')
  - if dossier.justificatif_motivation.attached?
    %tr
      %td.libelle Justificatif :
      %td
        .action
          = render Attachment::ShowComponent.new(attachment: dossier.justificatif_motivation.attachment)
