%table.table.vertical.dossier-champs
  %tbody
    %tr
      %th.libelle Déposé le :
      %td= l(dossier.en_construction_at, format: '%d %B %Y')
  - if dossier.justificatif_motivation.attached?
    %tr
      %th.libelle Justificatif :
      %td
        .action
          = render partial: 'shared/attachment/show', locals: { attachment: dossier.justificatif_motivation.attachment }
