- if dossier_submission_is_closed?(dossier)
  = render Dsfr::CalloutComponent.new(title: "Le dépôt de dossier est fermé") do |c|
    - c.with_body do
      - if dossier.procedure.closed_at.present?
        %p Il n’est plus possible de déposer de dossier pour cette démarche en ligne depuis le #{try_format_date(dossier.procedure.closed_at)}.
      - else
        %p Il n’est plus possible de déposer de dossier pour cette démarche en ligne.
