%h1
  La campagne de création de nouveau dossier pour cette démarche en ligne est maintenant terminée.

%p
  Si vous avez déjà déposé un ou plusieurs dossiers :

= link_to 'Accéder à vos dossiers', new_user_session_path, class: 'button expand'
