%ul.types-de-champ-block{ id: block_id, data: sortable_options }
  - @coordinates.each.with_index do |coordinate, i|
    = render TypesDeChampEditor::ChampComponent.new(coordinate: coordinate, upper_coordinates: @upper_coordinates + @coordinates.take(i))
