= @form.text_field(:value, input_opts(id: @champ.input_id, aria: { describedby: @champ.describedby_id }, data: { controller: 'turbo-input', turbo_input_load_on_connect_value: @champ.prefilled? && @champ.value.present? && @champ.etablissement.blank?, turbo_input_url_value: update_path }, required: @champ.required?, pattern: "[0-9]{14}", class: "width-33-desktop", maxlength: 14))
.siret-info{ id: dom_id(@champ, :siret_info) }
  - if @champ.etablissement.present?
    = render EditableChamp::EtablissementTitreComponent.new(etablissement: @champ.etablissement)
