= @form.text_field(:value, input_opts(id: @champ.input_id, aria: { describedby: @champ.describedby_id }, data: { controller: 'turbo-input', turbo_input_load_on_connect_value: @champ.prefilled? && @champ.value.present? && @champ.etablissement.blank?, turbo_input_url_value: champs_siret_path(@champ.id) }, required: @champ.required?, pattern: "[A-Z0-9][0-9]{5}", class: "width-33-desktop", maxlength: 14))
.siret-info{ id: dom_id(@champ, :siret_info) }
  - if @champ.etablissement.present? && @champ.etablissement.siret.length == 9 && @champ.etablissement.siret == @champ.value.sub('-', "")
    = render EditableChamp::EtablissementTitreComponent.new(etablissement: @champ.etablissement)
  - elsif @champ.value && (@champ.value.sub('-', "").length == 6 || @champ.value.sub('-', "").length == 9)
    %script{ type: "text/javascript", id: rand(1000) }
      :plain
        window.addEventListener('load', (event) => {
          var event = new Event('input', {
            bubbles: true,
            cancelable: true,
          });
          document.getElementById('#{@champ.input_id}').dispatchEvent(event);
        });
