<div class="fr-fieldset__element">
  <div class="fr-checkbox-group fr-my-1v">
    <%= checkbox do %>
      Suppression de « <%= original_tdc.libelle %> »

      <% if item.justification.present? %>
        <span class="fr-hint-text fr-mt-1w"><%= item.justification %></span>
      <% end %>
    <% end %>
  </div>
</div>
