= link_to admin_procedure_mail_templates_path(@procedure), class: 'card-admin' do
  %div
    %span.icon.clock
    %p.card-admin-status-todo À configurer
  %div
    %p.card-admin-title= t('.title')
    %p.card-admin-subtitle Notifications automatiques
  %p.button= t('views.shared.actions.edit')
