.fr-py-6w
  .container
    %h2.center.fr-mb-4w Ce que les utilisateurs pensent du service

    %ul.quotes
      %li.quote
        %img.quote-quotation-mark{ :src => image_url("landing/testimonials/quotation-mark.svg"), alt: "" }
        .quote-content-wrapper
          %p.quote-content
            Les échanges avec les usagers sont facilités, ce qui permet de réduire les délais d’instructions et de gagner en efficacité.

          %p.quote-author
            %span.quote-author-name Elodie Le Rhun
            %br
            Cheffe de bureau, DRIEA Ile-de-France

      %li.quote
        %img.quote-quotation-mark{ :src => image_url("landing/testimonials/quotation-mark.svg"), alt: "" }
        .quote-content-wrapper
          %p.quote-content
            Un service qui garantit une économie de temps et beaucoup moins de manipulations des dossiers.

          %p.quote-author
            %span.quote-author-name Nadja Briki
            %br
            Déléguée de la Préfète du Pas-de-Calais

    %ul.quotes
      %li.quote
        %img.quote-quotation-mark{ :src => image_url("landing/testimonials/quotation-mark.svg"), alt: "" }
        .quote-content-wrapper
          %p.quote-content
            Parfait, cela fonctionne très bien ! Merci encore pour votre réactivité.

          %p.quote-author
            %span.quote-author-name Max A.
            %br
            à notre service support

      %li.quote
        %img.quote-quotation-mark{ :src => image_url("landing/testimonials/quotation-mark.svg"), alt: "" }
        .quote-content-wrapper
          %p.quote-content
            ★★★★★
            %br
            Eh les cocos, il y a la télé-procédure

          %p.quote-author
            %span.quote-author-name Hisham M.
            %br
            sur le site de la DRIEA
