.landing
  .landing-panel.hero-panel
    .landing-panel-inner-content
      .hero-text.pull-left
        %p.hero-tagline
          %em.hero-tagline-em Dématérialisez
          %br
          vos démarches administratives en quelques minutes

        = link_to "Demander une démo",
          "mailto:#{t("dynamics.contact_email")}?subject=Demande de démo TPS",
          :class => "hero-button"

      .hero-illustration.pull-right
        %img{ :src => image_url("landing/hero/dematerialiser.svg") }

      .clearfix

  .landing-panel.features-panel
    .landing-panel-inner-content
      %h2.landing-panel-title.features-panel-title Un outil dédié aux organismes publics

      %ul.features
        %li.feature
          %img.feature-image{ :src => image_url("landing/features/creer.svg") }
          %p.feature-text
            %em.feature-text-em Créer
            %br
            des procédures en ligne
            %br
            en toute simplicité
        %li.feature
          %img.feature-image{ :src => image_url("landing/features/gerer.svg") }
          %p.feature-text
            %em.feature-text-em Gérer
            %br
            les demandes des usagers 
            %br
            sur la plateforme
        %li.feature
          %img.feature-image{ :src => image_url("landing/features/collaborer.svg") }
          %p.feature-text
            %em.feature-text-em Collaborer
            %br
            pour instruire les demandes 
            %br
            à plusieurs
