.landing
  .landing-panel.hero-panel
    .landing-panel-inner-content
      .hero-text.pull-left
        %p.hero-tagline
          %em.hero-tagline-em Dématérialisez
          %br
          vos démarches administratives en quelques minutes

        = link_to "Demander une démo",
          "mailto:#{t("dynamics.contact_email")}?subject=Demande de démo TPS",
          :class => "hero-button"

      .hero-illustration.pull-right
        %img{ :src => image_url("landing/hero/dematerialiser.svg") }

      .clearfix
