.patron
  %h1 Patron

  %h2 Boutons

  %p
    = link_to ".button", "#", class: "button"

    = link_to ".button.primary", "#", class: "button primary"

    = link_to ".button.large", "#", class: "button large"

    = link_to ".button.large.primary", "#", class: "button large primary"
