.mesri-inputs
  %div
    = @form.label :ine, t('.ine_label')
    %p.notice= t('.ine_notice')
    = @form.text_field :ine,
      required: @champ.required?,
      aria: { describedby: @champ.describedby_id },
      class: "width-33-desktop"

