= link_to zones_admin_procedure_path(@procedure), id: 'zones', class: 'card-admin' do
  - if @procedure.zones.size >= 1
    %div
      %span.icon.accept
      %p.card-admin-status-accept Validé
  - else
    %div
      %span.icon.clock
      %p.card-admin-status-todo À faire
  %div
    %p.card-admin-title= t('.title')
    %p.card-admin-subtitle= t('.subtitle')
  %p.button= t('views.shared.actions.edit')
