= render partial: 'new_administrateur/breadcrumbs',
  locals: { steps: [link_to('Démarches', admin_procedures_path),
                    link_to(@procedure.libelle, admin_procedure_path(@procedure)),
                    'Jeton Particulier'] }

.container
  .flex
    = link_to admin_procedure_api_particulier_jeton_path, class: 'card-admin' do
      - if @procedure.api_particulier_token.blank?
        %div
          %span.icon.clock
          %p.card-admin-status-todo À définir
      - else
        %div
          %span.icon.accept
          %p.card-admin-status-accept Déjà rempli
      %div
        %p.card-admin-title
          Jeton API particulier
      %p.button Modifier
