- unless @headers.nil?
  - @headers.each do |header|
    .row
      %div{class: "type_champ-#{header.type_champ}"}
        =render partial: 'users/description/champs/header_section', locals: {libelle: header.libelle, order_place: header.order_place, champs: @champs}
- else
  .row
    =render partial: 'users/description/champs/header_section', locals: {libelle: 'Dossier', order_place: -1, champs: @champs}
