.fr-input-group
  = f.label :message_on_submit_by_usager do
    Message affiché après l'envoi du dossier
  = f.text_area :message_on_submit_by_usager, placeholder: "Merci, votre dossier sera traité dans les plus brefs délais", class: 'fr-input', data: { controller: 'autoresize' }, rows: 5
