- content_for(:title, t('.contact_team'))
- content_for :footer do
  = render partial: "root/footer"

#contact-form
  .fr-container
    %h1
      = t('.contact_team')

    .fr-highlight= t('.admin_intro_html', contact_path: contact_path)

    = render partial: "form", object: @form
