$light-blue: #1c7ec9;
$lighter-blue: #c3d9ff;
$black: #333333;
$white: #ffffff;
$grey: #888888;
$light-grey: #f8f8f8;
$dark-grey: #666666;
$border-grey: #cccccc;
$dark-red: #a10005;
$medium-red: rgba(161, 0, 5, 0.9);
$light-red: #ed1c24;
$lighter-red: #f52a2a;
$background-red: #ffdfdf;
$green: darken(#169862, 5%);
$orange: #f28900;
$orange-bg: lighten($orange, 35%);
$yellow: #fef3b8;
$light-yellow: #ffffde;
$blue-france-700: #00006d;
$blue-france-500: #000091;
$blue-france-400: #7f7fc8;
$g700: #383838;
