:root {
  --light-blue: #1C7EC9;
  --lighter-blue: #C3D9FF;
  --black: #333333;
  --white: #FFFFFF;
  --grey: #888888;
  --light-grey: #F8F8F8;
  --dark-grey: #666666;
  --border-grey: #CCCCCC;
  --dark-border-grey: #{darken(#CCCCCC, 10)};
  --dark-red: #A10005;
  --medium-red: rgba(161, 0, 5, 0.9);
  --light-red: #ED1C24;
  --lighter-red: #F52A2A;
  --background-red: #FFDFDF;
  --green: #{darken(#169862, 5%)};
  --old-green: #15AD70;
  --lighter-green: #{lighten(#15AD70, 30%)};
  --light-green: #{lighten(#15AD70, 25%)};
  --dark-green: #{darken(#15AD70, 20%)};
  --orange: #F28900;
  --orange-bg: #{lighten(#F28900, 35%)};
  --yellow: #FEF3B8;
  --light-yellow: #FFFFDE;
  --blue-france-700: #00006D;
  --blue-france-500: #000091;
  --blue-france-400: #7F7FC8;
  --g700: #383838;
}

$light-blue: var(--light-blue);
$lighter-blue: var(--lighter-blue);
$black: var(--black);
$white: var(--white);
$grey: var(--grey);
$light-grey: var(--light-grey);
$dark-grey: var(--dark-grey);
$border-grey: var(--border-grey);
$dark-border-grey: var(--dark-border-grey);
$dark-red: var(--dark-red);
$medium-red: var(--medium-red);
$light-red: var(--light-red);
$lighter-red: var(--lighter-red);
$background-red: var(--background-red);
$green: var(--green);
$old-green: var(--old-green);
$lighter-green: var(--lighter-green);
$light-green: var(--lighter-green);
$dark-green: var(--dark-green);
$orange: var(--orange);
$orange-bg: var(--orange-bg);
$yellow: var(--yellow);
$light-yellow: var(--light-yellow);
$blue-france-700: var(--blue-france-700);
$blue-france-500: var(--blue-france-500);
$blue-france-400: var(--blue-france-400);
$g700: var(--g700);

