@import "colors";

%new-type {
  font-family: "Marianne", system-ui, -apple-system, sans-serif;
  color: $black;
}

ol {
  line-height: 28px;
  list-style-type: decimal;
  list-style-position: inside;
}
