#admin_index {
  margin-left: 2em;
  margin-right: 2em;

  .table {
    #id {
      width: 5%;
    }

    #libelle {
      width: 40%;
    }

    #organisation {
      width: 28%;
    }

    #direction {
      width: 22%;
    }
  }
}
