.header-section {
  background-color: rgb(0, 49, 137);
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding-bottom: 8px;

  color: #FFFFFF;

  .form-control.libelle {
    font-weight: bold;
  }

  .form-group.description {
    display: none;
  }

  .form-group.mandatory {
    display: none;
  }
}

#liste-champ {
  .form-inline {
    margin-bottom: 30px;
  }

  .show-inline {
    display: inline-block !important;
  }

  .form-group.drop-down-list,
  .form-group.pj-template,
  .form-group.carte-options {
    display: none;
  }

  .form-group {
    vertical-align: top;
    margin-right: 15px;
  }

  .description {
    padding: 0;

    textarea {
      padding: 6px 12px;
    }
  }
}
