.path-mine-false {
  color: #FF0000;
}

#path-messages {
  .message {
    display: none;
  }
}

#publish-modal {
  .algolia-autocomplete {
    width: 300px;
  }

  .aa-dropdown-menu {
    width: 300px;
  }

  // Fix the input not being displayed on the same line than the text before
  .aa-input {
    vertical-align: initial !important;
  }
}
