//= depend_on_asset "layers.png"
//= depend_on_asset "layers-2x.png"
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 *= require leaflet
 *= require font-awesome
 *= require franceconnect
 *= require bootstrap-wysihtml5
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: rgb(255, 255, 255);
}

html, body {
  height: 100%;
}

body {
  padding-top: 50px;
}

.wysihtml5-sandbox {
  resize:vertical;
}

#wrap {
  min-height: 100%;
  margin-bottom: -50px;
}

#wrap:after {
  content: "";
  display: block;
}

#footer, #wrap:after {
  height: 40px;
}

#footer {
  background-color: rgb(240, 240, 240)
}

.main_div {
  margin-left: 10rem;
  margin-right: 10rem;
}

.logo {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 100%;
}

.logo_navbar {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 100%;
}

#beta {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 26px;
  right: -35px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 150px;
  background-color: #008cba;
  color: #fff;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  z-index: 10;
}

#sign_out {
  decorate: none;
  box-shadow: none;
  float: right;
  margin-top: 8px;
  margin-right: 105px;
}


#header {
  top: 0;
  left: -3px;
  position: fixed;
  width: 100%;
  z-index: 10;

}


.navbar {
  height: 35px;
  background-color: rgba(235, 235, 235, 0.95);

  .sign_in_FC {
    margin-top: -18px;
    height: 70px;
  }

}

.btn {
  box-shadow: none !important;
}

.description {
  padding: 10px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.vr {
  border-left: 1px solid grey;
}

.center {
  text-align: center;
}

textarea#description {
  width: 100%;
}

.logo_fc_small {
  max-width: 27px;
}

label {
  font-weight: normal;
}

div.pagination {
  padding-top: 20px;
  display: block;
  text-align: center;
}

.alert{
  margin-bottom: 0px;
}

.alert.alert-success.move_up,
.alert.alert-danger.siret{
  position: fixed;
  top: 0px;
  left: 0;
  height: 52px;
  width: 100%;
  margin-top: 0px;
  z-index: 10;

}

.archived {
  float: right;
  margin-top: 10px;

  .confirm {
    display: none;
  }
}

.btn-nav {
  background-color: transparent;
  margin-top: 6px;
  height: 36px;
}

.btn-nav:hover {
  background-color: #eeeeee;
  border-color: #eeeeee #eeeeee #ddd;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-nav.text-info:hover {
  color: #23527c;
}

.btn-nav.text-success:hover {
  color: #3c763d;
}

.btn-nav.text-danger:hover {
  color: #a94442;
}

#confirm {
  display: none;
}

.confirm {
  display: none;
}

.fa {
  width: 15px;
  text-align: center;
}

.off-fc-link {
  font-size: 15px !important;
  margin-top: -4px;
}

#fconnect-access {
  right: 50px;
}

#fconnect-access:before {
  left: 22.7% !important;
}

#fconnect-access:after {
  left: 23% !important;
}

#fconnect-profile {
  margin-top: 5px;
  display: inline-block;

  a {
    color: #3471A9 !important;
    text-decoration: none;
    font-size: 16px !important;
    margin-right: 0px !important;
  }

}