// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any styles
// defined in the other CSS/SCSS files in this directory. It is generally better to create a new
// file per style scope.
//
// = require _card
// = require _helpers
// = require admin_type_de_champ
// = require carte
// = require custom_mails
// = require default_data_block
// = require direct_uploads
// = require dossiers
// = require france_connect_particulier
// = require left_panel
// = require login
// = require main_container
// = require navbar
// = require pj_modal
// = require print
// = require procedure
// = require search
// = require site_banner
// = require switch_menu
// = require users
// = require attestation_template_edit

// = require_self
// = require font-awesome
// = require leaflet
// = require franceconnect
// = require bootstrap-wysihtml5

@import "constants";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: $light-blue;
}

html,
body {
  height: 100%;
}

body {
  padding-top: 60px;
}

form {
  margin-bottom: 0.3em;
}

.wysihtml5-sandbox {
  resize: vertical;
  width: 100% !important;
}

#wrap {
  min-height: 100%;
  margin-bottom: -50px;
  overflow: hidden;
}

// Mobile Safari doesn't bubble mouse events by default, unless:
//
// - the target element of the event is a link or a form field.
// - the target element, or any of its ancestors up to but not including the <body>, has an explicit event handler set for any of the mouse events. This event handler may be an empty function.
// - the target element, or any of its ancestors up to and including the document has a cursor: pointer CSS declarations.
//
// (See https://www.quirksmode.org/blog/archives/2014/02/mouse_event_bub.html)
//
// This is a problem for us, because we bind a lot of click events as
// `document.on('click', '.my-element', …)` – which requires proper bubbling.
.ios #wrap {
  cursor: pointer;
}

#wrap::after {
  content: "";
  display: block;
}

#footer,
#wrap::after {
  height: 50px;
}

#footer {
  background-color: $light-blue;
  text-align: center;
  padding: 0;

  a,
  p {
    color: #000000;
  }

  a:hover {
    color: #000000;
  }

  p {
    line-height: 40px;
    padding: 0;
  }
}

.text-purple {
  color: #8B008B;
}

.text-default {
  color: #808080;
}

.progress-bar-purple {
  background-color: #800080;
}

.btn {
  box-shadow: none !important;
}

.description {
  padding: 10px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity = 0);
  opacity: 0;
  outline: none;
  background: #FFFFFF;
  cursor: inherit;
  display: block;
}

.vr {
  border-left: 1px solid #808080;
}

.center {
  text-align: center;
}

textarea#description {
  width: 100%;
}

div.pagination {
  padding-top: 20px;
  display: block;
  text-align: center;
}

.alert {
  margin-bottom: 0px;
}

.alert.alert-success.move-up,
.alert.alert-danger.siret,
.alert.sticky {
  position: fixed;
  top: 0px;
  left: 0;
  height: 52px;
  width: 100%;
  margin-top: 0px;
  z-index: 10;

}

.archived {
  float: right;
  margin-top: 10px;

  .confirm {
    display: none;
  }
}

#confirm {
  display: none;
}

.confirm {
  display: none;
}

.fa {
  width: 15px;
  text-align: center;
}

.off-fc-link {
  font-size: 15px !important;
  margin-top: -4px;
}

#fconnect-access {
  right: 50px;
}

#fconnect-access::before {
  left: 22.7% !important;
}

#fconnect-access::after {
  left: 23% !important;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}
