@import "constants";

table.archive-table {
  .text-right {
    text-align: right;
  }

  .center {
    text-align: center;
  }

  td {
    padding: 3 * $default-spacer $default-spacer;
  }

  a.button {
    background-image: none; // remove DSFR underline
  }
}
