#attestation-recapitulatif {
  margin-top: 40px;

  .details {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;

    .left {
      position: relative;
      padding-left: 30px;

      img {
        position: absolute;
        left: 0px;
        top: 15px;
      }

      .title {
        font-weight: bold;
        margin: 0;
      }

      .delivery {
        color: #999999;
      }
    }
  }
}
