@import "colors";
@import "constants";
@import "placeholders";
@import "mixins";

#auth {
  // On small screens, hide the procedure description text on auth pages.
  // It avoids pushing the sign-in/sign-up form out of the viewport.
  //
  // The procedure description can still be read from the /commencer
  // pages.
  @media (max-width: $two-columns-breakpoint) {
    .procedure-description {
      display: none;
    }
  }
}

.auth-form {
  p {
    margin-bottom: 30px;
    font-size: 20px;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: normal;
  }

  .auth-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1 * $default-spacer;
  }

  .social-logins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 1 * $default-spacer;

    .button {
      margin-bottom: 2 * $default-spacer;
      display: inline;
      flex-wrap: nowrap;
      text-align: left;

      img {
        height: 32px;
        max-width: 32px;
        vertical-align: middle;
        margin-right: 4px;
      }
    }
  }


  .remember-me {
    display: inline-block;
    margin-bottom: 0;
  }

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: $grey;
    border: none;
    height: 1px;
  }

  .register {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .auth-signup-button {
    white-space: nowrap;
  }
}

.sign-in-form .form {
  input[type="password"] {
    margin-bottom: $default-spacer;
  }

  input[type="checkbox"] {
    margin-bottom: 0;
  }
}

.login-separator {
  margin: 16px 0;
  font-size: 14px;
  text-align: center;

  .line {
    display: inline-block;
    height: 0px;
    border-bottom: 2px solid $grey;
    width: 35%;
    margin: 0px 10px 0px 10px;
  }
}
