@import "colors";
@import "common";
@import "constants";

.give-avis {
  .lock {
    margin-right: $default-spacer;
  }

  h2 {
    margin-bottom: $default-padding;

    .email {
      font-weight: bold;
    }
  }

  .introduction {
    margin-bottom: $default-padding;
  }

  .confidentiel {
    color: $dark-grey;
    font-weight: normal;
    margin-bottom: 2 * $default-padding;
  }

  .date {
    font-size: 12px;
    color: $dark-grey;
    float: right;
  }
}

.ask-avis {
  margin-bottom: 2 * $default-padding;

  .avis-notice {
    font-size: 14px;
    color: $dark-grey;
    margin-bottom: 2 * $default-padding;
  }

  input[type=email] {
    max-width: 500px;
  }

  form > label {
    display: inline-block;
  }

  .confidentiel {
    color: $dark-grey;
    font-weight: normal;
    margin-bottom: 2 * $default-padding;
  }

  .confidentiel-wrapper {
    label,
    select {
      display: inline-block;
    }
  }

  .lock {
    margin-right: $default-spacer;
  }

  .confidentiel-explanation {
    font-size: 14px;
    color: $dark-grey;
    margin-top: - $default-padding;
    margin-bottom: 2 * $default-padding;
  }
}

.list-avis {
  .count {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid $grey;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    margin-left: 8px;
  }

  .one-avis {
    border-top: 1px solid $grey;
    padding: $default-padding 0;

    .lock {
      margin-right: $default-spacer;
    }

    h2 {
      margin-bottom: $default-spacer;

      .email {
        font-weight: bold;
      }
    }

    .answer {
      margin-top: $default-padding;
    }

    .answer-body p:not(:last-of-type) {
      margin-bottom: $default-padding;
    }

    .avis-icon {
      margin-right: $default-spacer;
    }

    .confidentiel {
      color: $dark-grey;
      font-size: 12px;

      .lock {
        width: 12px;
        height: 12px;
        background-size: 12px 12px;
        vertical-align: sub;
      }
    }
  }

  .date,
  .waiting {
    font-size: 12px;
    color: $dark-grey;
  }

  .date {
    float: right;
  }
}
