#backoffice_index,
#backoffice_search {
  margin-left: 2rem;
  margin-right: 2rem;

  .default_data_block {
    background-color: #FFFFFF;
    margin-top: 20px;

    .show-block {
      width: 100%;
    }

    .body {
      height: auto;
    }
  }

  .fixed-right {
    position: fixed;
    right: 20px;
  }
}

#pref_list {
  .dropdown-menu {
    padding: 10px;
    width: 500px;
  }
}

#onglets {
  ul {
    li,
    li.active {
      a {
        margin-top: 12px;
        height: 45px;

        h5 {
          margin-top: 5px;
        }
      }
    }

    #search {
      a {
        margin-top: 0px;
        height: 57px;
      }
    }

    #search:not(.active) {
      a:hover {
        background-color: transparent;
        border: none;
        padding: 11px 16px;
      }
    }
  }
}
