#backoffice_search {
  .table {
    tr th {
      border-top: none
    }
  }
}

#onglets {
  ul {
    li, li.active {
      a {
        margin-top: 12px;
        height: 45px;

        h5 {
          margin-top: 5px;
        }
      }
    }

    #search {
      a {
        margin-top: 0px;
        height: 57px;
      }
    }

    #search:not(.active) {
      a:hover {
        background-color: transparent;
        border: none;
        padding: 11px 16px;
      }
    }
  }
}