@import "colors";
@import "constants";

.breadcrumbs {
  li {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;

    a {
      color: $black;
      text-decoration: underline;
    }

    &::after {
      content: " > ";
    }

    &:last-child {
      color: $blue-france-500;

      &::after {
        content: none;
      }
    }
  }
}
