@import "colors";
@import "constants";

.breadcrumbs {
  margin: $default-spacer 0 3 * $default-spacer;

  li {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;

    a {
      color: $black;
      text-decoration: underline;
    }

    &::after {
      content: " > ";
    }

    &:last-child {
      color: $blue;

      &::after {
        content: none;
      }
    }
  }
}
