@import 'colors';
@import 'constants';

[data-fr-theme='dark'] .card {
  background: none;
  border: 1px solid var(--background-action-low-blue-france);
}

.card {
  padding: ($default-spacer * 3) ($default-spacer * 2);
  border: 1px solid $border-grey;
  margin-bottom: $default-spacer * 4;
  background: #ffffff;

  .logo {
    width: auto;
    max-width: 50px;
    height: 100%;
    margin-right: $default-spacer * 2;
  }

  &.feedback {
    max-width: 600px;
    margin: 30px auto;
    padding: ($default-spacer * 2) ($default-spacer * 4);
    font-size: small;
    border: 1px dashed $border-grey;
    background: $light-yellow;

    .card-title {
      margin-bottom: $default-spacer;
    }

    b {
      font-weight: bold;
    }
  }

  &.no-list {
    ul {
      list-style: none !important;
      padding-left: 0;
    }
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: $default-padding;
  }

  p:not(:last-of-type) {
    margin-bottom: $default-spacer;
  }
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5rem;
  margin-bottom: $default-spacer * 2;

  a:not(:hover) {
    background-image: none; // remove DSFR underline
  }
}
