// Place all the styles related to the carte controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#carte_page {
  #map {
    @extend .col-md-12;
    @extend .col-lg-12;

    margin-left: 15px;
    width: 90%;
    height: 600px;
  }

  #map.qp, #map.cadastre {
    @extend .col-md-9;
    @extend .col-lg-9;

    width: 70%;
  }

  .list {
    @extend .col-md-3;
    @extend .col-lg-3;
    margin-bottom: 20px;

    h3 {
      margin-top: 0px;
    }

    ul li {
      margin-bottom: 10px;
    }
  }
}

.leaflet-container path {
  cursor: url('/assets/edit.png'), default !important;
}

#infos_dossier {
  #map.mini {
    height: 300px;
    width: 100%;
  }
}

#map section.overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  box-shadow: inset -100px 0 100px -100px rgba(0, 0, 0, .25);
  width: 100%;
  height: 100%;
  z-index: 2001;
}

#map.mode-create {
  cursor: url('/assets/pencil.png'), crosshair !important;
}

#map g path.tracer {
  transition: all 0.25s;
  stroke-width: 4px;
  stroke-opacity: 1;
  stroke: #D7217E;
  position: absolute;
  z-index: 1001;
  fill: #D7217E;
  fill-opacity: .75;
  -webkit-filter: none;
}

#map.mode-delete path {
  cursor: no-drop !important;
}

#map.mode-delete path:hover {
  fill: #4d4d4d !important;
}

#map div.polygon-elbow {
  -webkit-transition: opacity .25s;
  box-shadow: 0 0 0 2px #FFFFFF, 0 0 10px rgba(0, 0, 0, .35);
  border: 5px solid #D7217E;
  border-radius: 10px;
  transition: opacity 0.25s;
  cursor: move;
  opacity: 0;
  pointer-events: none;
  box-sizing: border-box;
  width: 0 !important;
  height: 0 !important;
}

#map div.polygon-elbow.non-polygon {
  opacity: 0 !important;
  pointer-events: none !important;
  border: 5px solid #A9A9A9;
}

#map.mode-edit div.polygon-elbow {
  opacity: 1;
  pointer-events: all;
}

#map svg.tracer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2001;
  pointer-events: none;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

#search_by_address {
  .twitter-typeahead {
    width: 555px;
  }
  .tt-menu {
    width: 555px;
  }
}
