// Place all the styles related to the carte controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.leaflet-container path {
  cursor: url("/assets/edit.png"), default !important;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777777;
}

#search-by-address {
  .algolia-autocomplete {
    width: 555px;
  }

  .aa-dropdown-menu {
    width: 555px;
  }
}
