// Place all the styles related to the carte controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#carte-page {
  #map {
    height: 600px;
    z-index: 0;
  }

  #map.edit {
    width: 70%;
  }

  .list {
    margin-bottom: 20px;

    h3 {
      margin-top: 0px;
    }

    ul li {
      margin-bottom: 10px;
    }
  }
}

.leaflet-container path {
  cursor: url("/assets/edit.png"), default !important;
}

#map.mode-create {
  cursor: url("/assets/pencil.png"), crosshair !important;
}

#map g path.leaflet-polygon {
  transition: all 0.25s;
  stroke-width: 4px;
  stroke-opacity: 1;
  stroke: #D7217E;
  position: absolute;
  z-index: 100;
  fill: #D7217E;
  fill-opacity: 0.75;
}

#map.mode-delete path.leaflet-polygon {
  cursor: no-drop !important;

  &:hover {
    fill: #4D4D4D !important;
  }
}

#map div.leaflet-edge {
  box-shadow: 0 0 0 2px #FFFFFF, 0 0 10px rgba(0, 0, 0, 0.35);
  border: 5px solid #D7217E;
  border-radius: 10px;
  transition: opacity 0.25s;
  cursor: move;
  opacity: 0;
  pointer-events: none;
  box-sizing: border-box;
  width: 0 !important;
  height: 0 !important;
}

#map.mode-edit div.leaflet-edge {
  opacity: 1;
  pointer-events: all;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777777;
}

#search-by-address {
  .algolia-autocomplete {
    width: 555px;
  }

  .aa-dropdown-menu {
    width: 555px;
  }
}
