@import "constants";
@import "colors";

.code-example {
  background-color: var(--background-contrast-grey);

  .example-header {
    display: flex;
    background-color: var(--background-alt-grey);
    align-items: center;

    .lang {
      margin-right: auto;
      padding: $default-padding;
    }

  }

  pre {
    padding: 0 $default-padding;
  }
}
