@import "constants";
@import "colors";

.commencer {
  .social-logins {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 1 * $default-spacer;
  }

  @media (max-width: 62em) {
    .optional-on-small-screens {
      display: none;
    }
  }
}

