@import "colors";
@import "constants";

form.form > .conditionnel {

  .condition-error {
    background: $background-red;
    margin: ($default-spacer) (-$default-spacer);

    ul {
      padding: $default-spacer;
    }
  }

  .condition-table {
    table-layout: fixed;

    .far-left {
      width: 100px;
    }

    .target {
      width: 350px;

      select {
        width: 100%;
      }
    }

    .operator {
      width: 250px;

      select {
        width: 100%;
      }
    }

    .value {
      width: 200px;
    }

    .delete-column {
      width: 50px;

      button {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  th {
    text-align: left;
    padding: $default-spacer;

  }

  td {
    padding: $default-spacer;

    input,
    select {
      margin-bottom: 0;
    }

    input[type=text] {
      display: inline-block;
      margin-bottom: 0;
    }

    input.alert,
    select.alert {
      border-color: $dark-red;
    }
  }

  .add-row {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 25px;
    margin: 0 $default-padding $default-padding;
  }
}
