@import "colors";
@import "constants";

form.form > .conditionnel {
  .condition-table {
    table-layout: auto;
    width: 95%;
    margin-left: 5%;

    .far-left {
      width: 100px;
    }

    .target {
      width: 350px;

      select {
        width: 100%;
      }
    }

    .operator {
      width: 250px;

      select {
        width: 100%;
      }
    }

    .value {
      width: 200px;
    }

    .delete-column {
      width: 50px;
    }
  }

  th {
    text-align: left;
    padding: $default-spacer;

  }

  td {
    padding: $default-spacer;

    input,
    select {
      margin-bottom: 0;
    }

    input[type=text] {
      display: inline-block;
      margin-bottom: 0;
    }

    input.alert,
    select.alert {
      border-color: $dark-red;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      text-align: right;
      padding-right: 0;
    }
  }
}
