$default-space: 15px;
$contact-padding: $default-space * 2;

#contact-form {
  margin: 0 auto;
  padding-top: $contact-padding;

  .description {
    padding-bottom: $contact-padding;
  }

  .recommandations {
    p {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.5rem;
    }
  }

  ul {
    margin-bottom: $default-space;
  }
}
