@import 'colors';
@import 'constants';

.dossier-show {
  .champ-row {
    padding: 0.5rem 1rem;
  }

  .champ-label {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 0.8rem;
    font-weight: 300;
  }

  dt.champ-label::after {
    content: ' :';
    speak: none;
  }

  .champ-content {
    padding: 0 0 0.5rem;
    font-weight: 600;

    a {
      font-weight: normal;
    }

    ul {
      margin-block-start: 0;
    }
  }

  .champ-blank {
    font-weight: normal;
    font-style: italic;
  }

  .champ-updated {
    float: right;
  }

  .champ-repetition {
    .champ-updated {
      margin-right: -1rem; // align with non repetition contents and badges
    }
  }

  .top-bordered {
    border-top: 1px solid var(--border-default-grey);
  }
}
