@import "colors";
@import "constants";

.container {
  @media (max-width: 48em) {
    .d-block-sm {
      display: block;
    }
  }
}

.champ-content {
  padding: 0 0 ,5rem;

  p {
    padding: 0;
    margin: 0;
  }
}

.top-bordered {
  border-top: 1px solid var(--border-default-grey);
}


