@import "bootstrap";
@import "bootstrap-datepicker3";

#description_page #liste_champs {

  .default_data_block {
    .show-block {
      width: 90%;

      .body {
        padding: 15px;
      }
    }
  }

  h4 {
    padding-top: 35px;
    margin: 0;
  }
}

.page-header {
  border-bottom: 1px solid #CCCCCC !important;
}

.input-error {
  color: #8B0000 !important;
  border-color: #8B0000 !important
}

.type_champ-text {
  @extend .col-md-6;
  @extend .col-lg-6;

  input[type='text'] {
    width: 100%;
  }
}

.type_champ-header_section {
  @extend .col-md-12;
  @extend .col-lg-12;
}

.type_champ-address {
  @extend .col-md-6;
  @extend .col-lg-6;

  .twitter-typeahead {
    width: 100%;

    input {
      width: 100%;
      display: block !important;
    }
  }

  .tt-menu {
    width: 100%;
  }
}

.type_champ-email {
  @extend .col-md-4;
  @extend .col-lg-4;

  input[type='email'] {
    width: 100%;
  }
}

.type_champ-drop_down_list, .type_champ-regions, .type_champ-departements, .type_champ-pays {
  @extend .col-md-4;
  @extend .col-lg-4;

}

.type_champ-civilite {
  @extend .col-md-3;
  @extend .col-lg-3;
}

.type_champ-yes_no {
  @extend .col-md-3;
  @extend .col-lg-3;
}

.type_champ-phone {
  @extend .col-md-2;
  @extend .col-lg-2;

  input[type='phone'] {
    width: 100%;
  }
}

.datepicker-switch {
  color: #0086B3;
  text-decoration: underline;
}

.type_champ-textarea {
  @extend .col-md-8;
  @extend .col-lg-8;

  textarea.form-control {
    width: 100%;
    height: 133px;
  }
}

.type_champ-number {
  @extend .col-md-3;
  @extend .col-lg-3;

  input[type='number'] {
    width: 100%;
  }
}

.type_champ-date {
  @extend .col-md-2;
  @extend .col-lg-2;

  input[type='date'] {
    width: 160px;
  }
}

.type_champ-datetime {
  @extend .col-md-5;
  @extend .col-lg-5;

  input[type='datetime'] {
    width: 160px;
  }
}
