@import "constants";
@import "colors";

table.dgfip {
  margin: 2 * $default-padding 0 $default-padding $default-padding;
  width: 100%;

  caption {
    font-weight: bold;
    margin-left: - $default-padding;
    margin-bottom: $default-spacer;
    text-align: left;
  }

  th,
  td {
    font-weight: normal;
    padding: $default-spacer;
  }

  th.text-right {
    text-align: right;
  }

  &.horizontal {
    th {
      border-bottom: 1px solid $grey;
    }
  }
}
