// Place all the styles related to the dossiers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5 span {
  font-weight: normal;
}

#insee-infogreffe {
  font-size: 17px;
}

.flag {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;

  img {
    max-width: 150px;
    max-height: 60px;
  }
}

#dossiers-list {
  .filter {
    cursor: pointer;
    font-size: 1.1em;
    display: inline;
  }
}

#dossiers-list tr:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}

#procedure-list {
  margin-left: -10px;
  margin-top: 20px;

  a,
  a:hover {
    color: #FFFFFF;
    text-decoration: none;
  }

  .procedure-list-element.active {
    background-color: #668ABD;
  }

  .procedure-list-element {
    padding: 15px 40px 15px 20px;
    cursor: pointer;
    line-height: 1.8em;

    .progress-bar-warning {
      background-color: #E4594F;
    }

    .missing-steps {
      color: #FFA500;
    }
  }

  .procedure-list-element:hover {
    background-color: #668ABD;
    cursor: pointer;
  }
}

.split-hr-left {
  border-bottom: 1px solid #FFFFFF;
  margin: 20px 10px 0px 10px;
}
