@import "colors";
@import "constants";

.dossier-container {
  .sub-header {
    .label {
      float: right;
      margin-left: $default-spacer;
    }

    .title-container {
      margin-bottom: $default-spacer;
      padding-left: 32px;

      .icon.folder {
        float: left;
        margin-left: -32px;
        margin-top: 3px;
      }
    }

    h1 {
      color: $black;
      font-size: 22px;
      margin-bottom: 0;
    }

    h2 {
      color: $dark-grey;
      font-weight: bold;
    }

    .header-actions {
      margin-bottom: $default-spacer;
      display: flex;
      justify-content: flex-end;
      column-gap: $default-spacer * 2;
    }
  }

  .edit-identity-action {
    .dropdown-content {
      padding: $default-padding;
      min-width: 250px;
    }

    .table {
      margin-bottom: $default-padding * 2;
    }
  }

  .messagerie-explanation {
    margin-bottom: $default-padding * 2;
  }

  .latest-message-section {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-bottom: $default-padding * 2;

    .button.send {
      align-self: flex-end;
    }
  }
}
