@import "colors";
@import "constants";

#user-satisfaction {
  text-align: center;
  padding: 20px;

  .icon {
    padding: 10px 5px;
    margin: 10px 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
