@import 'colors';
@import 'constants';

.dossiers-table {
  .fr-cell--fixed {
    width: 1%; // never expand this cell when table is too wide
  }

  a:not(.fr-link) {
    background-image: none; // remove DSFR underline
  }

  .fr-link {
    font-size: inherit; // keep reduced size from .fr-table td, not 1rem from .fr-link
  }

  .fr-badge {
    white-space: nowrap;
  }

  .follow-col {
    .fr-btn {
      margin-bottom: 2px;
      margin-top: 2px;
    }
  }
}

.file-hidden-by-user {
  background-color: rgba(242, 137, 0, 0.6);

  &:hover {
    background-color: rgba(242, 137, 0, 0.6) !important;
  }
}
