@import 'colors';
@import 'constants';

.dossier-header {
  .fr-container {
    padding-bottom: $default-padding;
  }

  h1 {
    font-size: 2rem;
  }

  .dossier-form-actions {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: right;
  }
}

.dossier-edit {
  .autosave {
    // Make the autosave block occupy the entire horizontal space,
    // to ensure the failed state has room to display its content.
    flex-grow: 1;
  }
}
