#backoffice_dossier_show {
  font-family: Arial;
  margin-top: 40px;
  .show-block {
    width: 840px;
    margin-left: 10%;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
    margin-bottom: 40px;
  }
  .carret-right {
    float: left;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 14px solid #FFFFFF;
    margin: 12px 12px 0 15px;
  }
  .header {
    background-color: #003C92;
    height: 40px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    .title, .action, .count {
      height: 100%;
      line-height: 40px;
      padding: 0px;
    }
    .action {
      background-color: #E45B51;
      text-align: center;
    }
    .count {
      font-size: 16px;
      text-align: center;
    }
  }
  .body {
    background-color: #FFFFFF;
    height: 100px;
  }
  #message {
  }
  #infos {
  }
  #dossier {
  }
}
