// Place all the styles related to the dossiers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5 span {
  font-weight: normal
}

#insee_infogreffe {
  font-size: 17px;
}

.flag {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;

  img {
    max-width: 150px;
    max-height: 60px;
  }
}

#recap_dossier {
  #validate_button {
    float: right;
  }
}

#dossiers_list tr:hover{
  background-color: #eeeeee;
  cursor: pointer;
}

#procedure_list {
  .procedure_list_element{
    margin-top: 15px;
    margin-bottom: 15px;

    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
  }

  .procedure_list_element:hover{
    background-color: #aaaaaa;
  }
}