@import "colors";
@import "constants";

.table.dossier-champs {
  th,
  td {
    vertical-align: top;
  }

  .libelle {
    width: 325px;
  }

  td.libelle, td.updated-at {
    width: 50%;
  }

  td.updated-at {
    font-size: 13px;
    color: $dark-grey;
    text-align: left;
  }
}
