@import "colors";
@import "constants";

.dossier-container {
  .sub-header {
    h1 {
      color: $black;
      font-size: 22px;
      margin-bottom: 0;
    }

    h2 {
      color: $dark-grey;
      font-weight: bold;
    }

    .header-actions {
      margin-bottom: $default-spacer;
      display: flex;

    }
  }

  .edit-identity-content {
    .champ-row {
      padding: 0;
    }
  }

  .edit-identity-action {
    .dropdown-content {
      padding: $default-padding;
      min-width: 250px;
    }

    .table {
      margin-bottom: $default-padding * 2;
    }
  }

  .messagerie-explanation {
    margin-bottom: $default-padding * 2;
  }

  .latest-message-section {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-bottom: $default-padding * 2;

    .button.send {
      align-self: flex-end;
    }
  }
}

@media (min-width: 48em) {
  .dossier-container {
    .header-actions {
      flex-direction: row;
      justify-content: flex-end;
      gap: 0 $default-spacer * 2;
    }
  }
}

@media (max-width: 48em) {
  .dossier-container .header-actions {
    flex-direction: column;
    justify-content: stretch;
    gap: $default-spacer * 2 0;

    .dropdown-button {
      min-width: 100%;
      white-space: normal;
    }
  }
}
