// Place all the styles related to the dossiers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5 span {
  font-weight: normal
}

#insee_infogreffe {
  font-size:17px;
}

#recap_dossier{
  #validate_button {
    float: right;
  }
}