@import 'colors';
@import 'constants';

.dossiers-table {
  a {
    background-image: none; // remove DSFR underline
  }

  .fr-badge {
    white-space: nowrap;
  }

  .number-col {
    font-variant-numeric: tabular-nums;
  }

  .follow-col {
    .fr-btn {
      margin-bottom: 0;
    }
  }
}

.file-hidden-by-user {
  background-color: rgba(242, 137, 0, 0.6);

  &:hover {
    background-color: rgba(242, 137, 0, 0.6) !important;
  }
}
