#backoffice_dossier_show, #users_recapitulatif_dossier_show {

  #messages {
    .last-commentaire {
      display: block;
      background-color: #FFFFFF;
      .content, .new-action {
        margin-bottom: 20px;
      }
    }
    .body {
      .commentaires {
        max-height: 350px;
        overflow-y: scroll;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.075) 0%, rgba(219, 219, 219, 0) 50%, rgba(250, 251, 253, 0.18) 51%, #ffffff 100%);
      }
      .no-commentaires {
        text-align: center;
        font-size: 18px;
        padding-top: 20px;
      }
    }
    .last-commentaire, .commentaire {
      padding: 20px 0 0 20px;
      .comment-header {
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        color: #000000;
        margin-bottom: 10px;
      }
      .new-action {
        background-color: #E45B51;
        text-align: center;
        cursor: pointer;
        color: #FFFFFF;
        width: 253px;
        height: 40px;
        line-height: 40px;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
      }
      .file {
        padding-right: 70px;
        text-align: center;
        margin-bottom: 20px;
        .link {
          span {
            width: 100%;
            font-size: 40px;
          }
        }
      }
    }
    .split-hr {
      margin: 20px 20px 0 20px;
      border-bottom: 1px solid #979797;
    }
    #new-commentaire {
      padding: 35px;
      .btn-send {
        background-color: #E45B51;
        text-align: center;
        color: #FFFFFF;
        width: 150px;
        height: 40px;
        line-height: 28px;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        float: right;
        border-radius: 0;
      }
    }
  }
  #infos {
    .split-row {
      margin: 0 0 20px 0;
    }
    .entreprise-info {
      font-size: 14px;
    }
    .entreprise-label {
      font-weight: bold;
      text-align: end;
    }
  }
  #dossier, #infos {
    .body {
      padding: 0 20px 0 20px;
      color: #000000;
      .libelle-procedure {
        font-style: italic;
        padding: 10px;
      }
      .depositaire-label {
        font-weight: bold;
        text-align: end;
      }
      .depositaire-info {
      }
      .comments {
        margin-right: -10px;
      }
      .comments-off {
        margin-right: -35px;
      }
      .dossier-title {
        font-size: 16px;
        min-height: 40px;
        text-align: center;
      }
      .split-hr {
        border-bottom: 1px solid #979797;
        height: 12px;
        min-height: 10px;
      }
      .title-row {
        margin: 20px 10px 10px 10px;
      }
      .margin-top-40 {
        margin-top: 40px;
      }
    }
  }
}
