@import 'colors';

#editable-filters-component {
  .fr-fieldset,
  .fr-ds-combobox__multiple {
    margin-bottom: 0 !important;
  }

  .editable-filter-form {
    max-width: 350px;
  }
}

#customize-filters {
  .filter-box {
    border: 2px dashed $blue-france-700;
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }
}
