@font-face {
  font-family: "Marianne";
  src: asset-url("Marianne-Regular.woff2") format("woff2"),
        asset-url("Marianne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Spectrale";
  src: asset-url("Spectral-Regular.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
