@import "constants";

.france-connect-informations.card {
  width: 100%;
  padding-top: $default-spacer;
  padding-bottom: $default-spacer;
}

.france-connect-informations-logo img {
  width: 100px;
  margin-right: $default-padding;
}
