.gallery {
  .champ-libelle {
    margin-top: 0.5rem;
  }
}

.gallery-pieces-jointes {
  display: flex;
  flex-wrap: wrap;

  .gallery-item {
    margin: 0 2rem 3rem 0;

    .fr-text--sm {
      margin-bottom: 0;
    }
  }
}

.gallery-item {
  .fr-download {
    margin-bottom: 0;
  }
}

.lg-has-iframe {
  width: 80% !important;
  margin-top: 50px;
}

.lg-icon {
  --hover-tint: none;
  --active-tint: none;
}

.lg-sub-html {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  ) !important;
  padding: 30px 40px 0 40px !important;
}
