.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  vertical-align: bottom;

  &.small {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
  }

  &.follow {
    background-image: image-url("icons/follow-folder.svg");
  }

  &.unfollow {
    background-image: image-url("icons/unfollow-folder.svg");
  }

  &.archive {
    background-image: image-url("icons/archive.svg");
  }

  &.unarchive {
    background-image: image-url("icons/unarchive.svg");
  }

  &.folder {
    background-image: image-url("icons/folder.svg");
  }

  &.new-folder {
    background-image: image-url("icons/new-folder.svg");
  }

  &.accept {
    background-image: image-url("icons/accept.svg");
  }

  &.refuse {
    background-image: image-url("icons/refuse.svg");
  }

  &.without-continuation {
    background-image: image-url("icons/without-continuation.svg");
  }

  &.edit {
    background-image: image-url("icons/edit-folder-blue.svg");
  }

  &.in-progress {
    background-image: image-url("icons/in-progress-blue.svg");
  }

  &.bubble {
    background-image: image-url("icons/bubble.svg");
  }

  &.attached {
    background-image: image-url("icons/attached.svg");
  }

  &.preview {
    background-image: image-url("icons/preview.svg");
  }

  &.retry {
    background-image: image-url("icons/retry.svg");
  }

  &.download {
    background-image: image-url("icons/download.svg");
  }

  &.download-white {
    background-image: image-url("icons/download-white.svg");
  }

  &.lock {
    background-image: image-url("icons/lock.svg");
  }

  &.add {
    background-image: image-url("icons/add.svg");
    margin-left: -5px;
    margin-right: 0px;
  }

  &.justificatif {
    background-image: image-url("icons/justificatif.svg");
  }

  &.printer {
    background-image: image-url("icons/printer.svg");
  }

  &.account {
    background-image: image-url("icons/account-circle.svg");
  }

  &.person {
    background-image: image-url("icons/blue-person.svg");
  }

  &.super-admin {
    background-image: image-url("icons/super-admin.svg");
  }

  &.mail {
    background-image: image-url("icons/mail.svg");
  }

  &.reply {
    background-image: image-url("icons/reply.svg");
  }

  &.search {
    background-image: image-url("icons/search-blue.svg");
  }

  &.sign-out {
    background-image: image-url("icons/sign-out.svg");
  }

  &.info {
    background-image: image-url("icons/info-blue.svg");
    object-fit: contain;
  }

  &.help {
    background-image: image-url("icons/help.svg");
  }

  &.phone {
    background-image: image-url("icons/phone.svg");
  }

  &.clock {
    background-image: image-url("icons/clock.svg");
  }

  &.smile {
    background-image: image-url("icons/smile-regular.svg");
  }

  &.frown {
    background-image: image-url("icons/frown-regular.svg");
  }

  &.meh {
    background-image: image-url("icons/meh-regular.svg");
  }

  &.delete {
    background-image: image-url("icons/trash.svg");
  }

  &.move-handle {
    background-image: image-url("icons/move-handle.svg");
  }
}
