@import "colors";
@import "constants";

.page-title {
  font-size: 30px;
  font-weight: normal;
  margin-top: 3 * $default-spacer;
  margin-bottom: 3 * $default-spacer;
}

.tab-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: $default-padding;
}

.tab-list,
.tab-paragraph {
  margin-bottom: 2 * $default-padding;
}

.header-actions {
  flex-shrink: 0;

  .button {
    // Needed so that buttons without text
    // are ligned with those that have text
    vertical-align: top;
  }

  .label {
    padding: $default-spacer $default-padding;
    font-size: 14px;
    line-height: 20px;
  }
}

.print-menu-opener {
  position: relative;
}

.print-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 45px;
  font-size: 14px;
  background: #FFFFFF;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid $border-grey;
  min-width: 270px;
  max-width: 340px;
  z-index: 20;

  &.open {
    display: block;
  }

  li {
    border-bottom: 1px solid $border-grey;

    &:last-child {
      border-bottom: none;
    }

    .menu-item {
      align-items: center;
      padding: 14px;
      color: $dark-grey;
      overflow: hidden;
      text-overflow: ellipsis;

      img {
        margin-right: 14px;
      }
    }

    .menu-link {
      display: flex;
      color: $black;

      &:hover {
        background: $light-grey;
      }
    }
  }
}

.print-header {
  display: none;
}
