#logo-tps {
  width: 200px;
}

#landing {
  background-image: image-url('landing_background.png');
  background-attachment: fixed;
  background-size: 130% auto;
  background-position: top center;
  background-repeat: no-repeat;

  h5 {
    color: #808080;
  }

  .logos {
    width: 150px;
  }

  #title {
    padding-bottom: 2%;
    padding-top: 1%;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);

    h2 {
      font-size: 35px;
    }

    .btn {
      text-shadow: none;
    }
  }
}

.background-tps {
  background-color: #668AEA;
  color: #FFFFFF;
}

.latest_release {
  margin-left: 1%
}

#landing_body {
  .split-hr-left {
    margin-left: auto;
    margin-right: auto;

    margin-top: 40px;
    margin-bottom: 20px;

    border-color: #808080;
    width: 40%;
  }

  #etapes,
  #request_access {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
