@import "constants";
@import "colors";
@import "mixins";
@import "placeholders";

$landing-breakpoint: 1040px;

.hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $landing-breakpoint) {
    justify-content: center;
  }
}

.hero-text {
  max-width: 25rem;

  @media (max-width: $landing-breakpoint) {
    margin: auto;
  }
}

.hero-illustration {
  max-width: 500px;

  img {
    max-width: 100%;
  }

  @media (max-width: 1030px) {
    margin: auto;
  }
}

.features-panel {
  background-color: $blue-france-500;
}

.features {
  @extend %horizontal-list;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;

  @media (max-width: $landing-breakpoint) {
    justify-content: center;
  }
}

.feature {
  @extend %horizontal-list-item;
  width: 260px;

  @media (max-width: $landing-breakpoint) {
    margin: 15px 20px;
  }
}

.feature-text {
  font-size: 20px;
  text-align: center;
}

.feature-text-em {
  font-weight: bold;
  font-style: normal;
}

.feature-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.quotes {
  @extend %horizontal-list;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (max-width: $landing-breakpoint) {
    justify-content: center;
  }
}

.quote {
  @extend %horizontal-list-item;
  max-width: 500px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 4px 16px 0 rgba(153, 153, 153, 0.2);
  padding: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: $landing-breakpoint) {
    margin: 15px 0;
  }
}

.quote-quotation-mark {
  margin-top: 12px;
}

.quote-content {
  font-size: 18px;
  margin-bottom: 24px;
}

.quote-content-wrapper {
  margin-left: 20px;
  width: 100%;
}

.quote-author {
  font-size: 14px;
}

.quote-author-name {
  font-weight: bold;
}

.landing {

  .numbers {
    @extend %horizontal-list;
    justify-content: space-around;
    width: 100%;
  }

  .number {
    display: flex;
    flex-direction: column;
    width: 320px;
    text-align: center;

    @media (max-width: $landing-breakpoint) {
      margin-bottom: 15px;
    }
  }

  .number-value {
    padding-bottom: 0;
    padding-inline-start: 0;
    color: var(--text-action-high-blue-france);
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
  }

  .number-label {
    order: 2;
    max-width: 10rem;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--text-label-grey);
  }

  .number-label-third {
    max-width: 13rem;
  }
}

html[lang="fr"] .landing .number-label-third::before {
  content: "de ";
}

$users-breakpoint: 950px;

.users {
  @extend %horizontal-list;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 45px;

  @media (max-width: $users-breakpoint) {
    justify-content: space-around;

    &:first-of-type {
      margin-bottom: 0;
    }
  }
}

.user {
  @extend %horizontal-list-item;
  width: 170px;

  &:hover {
    opacity: 0.6;
  }

  @media (max-width: $users-breakpoint) {
    margin: 0 15px 15px;
  }
}

.user-image {
  width: 170px;
}

.role-image {
  height: 180px;
}

.role-panel-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.role-administrations-panel {
  flex-direction: row-reverse;

  @media (max-width: $users-breakpoint) {
    flex-direction: row;
  }
}

.role-panel-70,
.role-panel-30 {
  display: inline-block;
}

.role-panel-70 {
  width: 70%;

  @media (max-width: $users-breakpoint) {
    width: 100%;
  }
}

.role-panel-30 {
  width: 30%;

  @media (max-width: $users-breakpoint) {
    width: 100%;
  }
}


.role-administrations-image {
  text-align: right;

  @media (max-width: $users-breakpoint) {
    text-align: center;
    margin-bottom: 45px;
  }
}

.role-more-info-image {
  text-align: left;

  @media (max-width: $users-breakpoint) {
    text-align: center;
    margin-bottom: 45px;
  }
}

.role-usagers-image {
  @media (max-width: $users-breakpoint) {
    text-align: center;
    margin-bottom: 45px;
  }
}

$cta-panel-button-border-size: 2px;

@mixin cta-panel-button {
  @include horizontal-padding(40px);
  @include vertical-padding(15px);
  display: block;
  border-radius: 100px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.cta-panel-button-white {
  @include cta-panel-button;
  border: $cta-panel-button-border-size solid #FFFFFF;
  color: #FFFFFF;

  &:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:focus {
    color: #FFFFFF;
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline: 3px solid #FFFFFF;
  }
}
