@import "constants";
@import "colors";
@import "mixins";
@import "placeholders";
@import "typography";

.landing {
  @extend %new-type;
  background-color: #FFFFFF;
}

.landing-panel {
  @include vertical-padding(60px);
}

.landing-panel-inner-content {
  width: $page-width;
  margin: 0 auto;
}

.hero-tagline {
  width: 500px;
  font-size: 30px;
  margin-bottom: 0px;
}

.hero-tagline-em {
  color: $blue;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
}

.hero-text {
  width: 500px;
}

.hero-illustration {
  width: 500px;
}

.hero-button {
  @include horizontal-padding(30px);

  display: inline-block;
  height: 60px;
  line-height: 60px;
  border-radius: 60px;
  background-color: $blue;
  color: #FFFFFF;
  font-size: 24px;
  margin-top: 30px;

  &:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: $light-blue;
  }

  &:focus {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.landing-panel-title {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}

.features-panel {
  background-color: $blue;
}

.features-panel-title {
  color: #FFFFFF;
}

.features {
  @extend %horizontal-list;
}

$feature-width: 320px;
$features-count: 3;

.feature {
  @extend %horizontal-list-item;
  width: $feature-width;
  margin-right: calc((#{$page-width} - (#{$feature-width} * #{$features-count})) / (#{$features-count} - 1));
}

.feature-text {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
}

.feature-text-em {
  font-weight: bold;
  font-style: normal;
}

.feature-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}
