@import "colors";
@import "common";
@import "constants";

.two-columns {
  background-color: $white;

  // @media (min-width: $two-columns-breakpoint) {
  // background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 33%, $light-grey 33%, $light-grey 100%);
  // }

  .columns-container {
    @extend .container;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;

    @media (min-width: $two-columns-breakpoint) {
      width: 100%;
      margin: auto;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
    }
  }

  .column {
    width: 100%;
    margin: 0 auto;
    padding: ($default-padding * 2) $default-padding ($default-padding * 2) $default-padding;
    position: relative;


    @media (min-width: $two-columns-breakpoint) {
      padding: ($default-padding * 2) 2% 0 2%;
      // border-left: 1px solid $grey;

      &:last-of-type {
        border-top: none;
        padding-bottom: $two-columns-padding;
      }
    }
  }

  .form-column {
    @extend .column;
    background: $light-grey;
  }
}

.prior-border {
  border-top: 1px solid $border-grey;

  @media (min-width: $two-columns-breakpoint) {
    border-left: 1px solid $border-grey;
    border-top: none;
  }
}

.ou-border {
  border-bottom: 1px solid $border-grey;

  &::after {
    display: block;
    content: "ou";
    position: absolute;
    width: 40px;
    left: 48%;
    bottom: -20px;
    text-align: center;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $grey;
    padding: 3px 3px 6px 3px;
    font-weight: bold;
    font-size: 1.1em;
    z-index: 1;
  }

  @media (min-width: $two-columns-breakpoint) {
    border-right: 1px solid $border-grey;
    border-bottom: none;

    &::after {
      display: block;
      content: "ou";
      position: absolute;
      width: 40px;
      top: ($default-padding * 2);
      bottom: auto;
      left: auto;
      right: -20px;
      text-align: center;
      background-color: $white;
      border-radius: 50%;
      border: 1px solid $grey;
      padding: 3px 3px 6px 3px;
      font-weight: bold;
      font-size: 1.1em;
      z-index: 1;
    }
  }
}


.one-column-centered {
  margin: auto;
  max-width: $page-width / 2;
}

.blank-tab {
  text-align: center;
}

.sticky--top {
  position: sticky;
  // scss-lint:disable VendorPrefix
  position: -webkit-sticky;  // This is needed on Safari (tested on 12.1)
  // scss-lint:enable VendorPrefix
  top: 0;
}

.sticky--bottom {
  position: sticky;
  // scss-lint:disable VendorPrefix
  position: -webkit-sticky;  // This is needed on Safari (tested on 12.1)
  // scss-lint:enable VendorPrefix
  bottom: 0;
}

html.scroll-margins-for-sticky-footer {
  scroll-padding: 0 0 100px 0;
}
