#left-pannel {
  padding: 80px 0 0 10px;
  background-color: #003189;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  color: white;
  overflow: scroll;

  #first-block {
    font-family: Arial;
    font-size: 16px;
    line-height: 18px;
  }
  #action-block {
  }
  #menu-block {
  }
  #infos-block {
  }
}
