#left-panel {
  margin-top: 60px;
  padding: 0;
  background-color: #003189;
  height: calc(100% - 60px);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  color: #FFFFFF;
  overflow-y: scroll;

  .link-to-dossiers {
    padding: 15px 0 0 15px;

    a {
      color: #FFFFFF;
    }
  }

  #first-block {
    font-family: Arial;
    font-size: 16px;
    line-height: 18px;
    margin-top: 20px;

    .infos {
      font-size: 25px;
      text-align: center;
      margin: 10px 10px 30px 0;

      .projet-name {
        font-size: 25px;
        line-height: normal;
        padding: 5px;
      }
    }

    .count {
      display: inline-block;
      padding: 3px;
      border-radius: 25px;
      min-width: 40px;
      text-align: center;
      line-height: 23px;
    }

    .text {
      display: inline-block;
      width: 30px;
      margin: 0 0 0 8px;
    }

    .dossiers-en-cours,
    .en-cours {
      margin-top: 20px;
    }

    .dossiers-en-cours {
      .count {
        border: 1px solid #FFFFFF;
      }
    }

    .nouveaux-dossiers {
      .count {
        background-color: #5CB85C;
      }
    }

    .nouvelles-notifications {
      .count {
        background-color: #E4594F;
      }
    }

    .dossiers-en-cours,
    .nouveaux-dossiers,
    .nouvelles-notifications,
    .en-cours {
      margin: 5px auto 0 20px;
      width: 150px;
    }

    img {
      background-color: #FFFFFF;
    }
  }

  #action-block {
    text-align: center;
    margin: 10px;

    .action {
      background-color: #E45B51;
      text-align: center;
      cursor: pointer;
      color: #FFFFFF;
      margin: 0 10px 0 0;
      min-height: 40px;
      padding: 5px;
      font-family: Arial;
      font-size: 16px;
      font-weight: bold;
      border: none;
      width: 100%;
    }

    .close-dossier,
    .refuse-dossier,
    .forget-dossier {
      border: 1px solid #FFFFFF;
      border-radius: 25px;
      margin: 5px;
      margin-left: auto;
      margin-right: auto;
      width: 60px;
    }

    .close-dossier:hover,
    .refuse-dossier:hover,
    .forget-dossier:hover {
      color: #000000;
      border-color: #000000;
    }

    .close-dossier {
      background-color: #2A9E2A;
    }

    .refuse-dossier {
      background-color: #E4594F;
    }

    .forget-dossier {
      background-color: #FF8300;
    }
  }

  #menu-block {
    #switch-buttons {
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 205px;
      border: 1px solid;
      padding: 0 0 0 10px;
      border-radius: 25px;
      cursor: pointer;

      .active {
        background-color: #668ABD !important;
        cursor: default;
      }

      .separator {
        height: 26px;
        width: 1px;
        display: inline-block;
        background-color: #FFFFFF;
      }

      #switch-procedures:hover,
      #switch-notifications:hover {
        background-color: #668AEA;
      }

      #switch-procedures {
        height: 28px;
        margin: 0 0 0 -10px;
        padding-left: 10px;
        width: 100px;
        display: inline-block;
        border-radius: 25px 0 0 25px;
      }

      #switch-notifications {
        width: 103px;
        display: inline-block;
        border-radius: 0 25px 25px 0;
        height: 28px;
        margin: 0 0 0 -5px;
        padding: 0 0 0 5px;
      }
    }

    .split-hr {
      border-bottom: 1px solid #FFFFFF;
      width: 200px;
      margin: 20px 0 20px 0;
    }
  }

  #infos-block {
    .split-hr {
      border-bottom: 1px solid #FFFFFF;
      width: 200px;
      margin: 20px 0 20px 0;
    }

    .dossier-state {
      text-align: center;
      font-size: 25px;
      margin-top: 20px;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    #notifications-list {
      .no-notification {
        margin: 0 30px 0 30px;
      }

      .notification {
        padding: 10px 2px 10px 15px;

        .dossier,
        .updated-at {
          display: inline-block;
          color: #CCCCCC;
          font-size: 12px;
          text-align: left;
        }

        .dossier-index,
        .updated-at-index,
        .count {
          display: inline-block;
          color: #FFFFFF;
          font-size: 14px;
          text-align: left;
        }

        .count {
          background-color: #F0AD4E;
          border-radius: 25px;
          padding: 0 5px 0 5px;
          width: 25px;
          text-align: center;
        }

        .type-notif {
          font-size: 16px;
        }
      }
    }

    .notifications {
      margin: 20px 10px 0 5px;

      .fa {
        font-size: 25px;
        width: 100%;
        margin: 0 0 15px 0;
      }

      .type-notif {
        font-size: 16px;
        float: right;
        width: 30px;
      }

      .notification {
        margin: 10px 0 10px 10px;

        .type {
          margin-bottom: 20px;
        }

        .updated-at {
          color: #CCCCCC;
          font-size: 12px;
          text-align: left;
        }

        .split-hr {
          width: 40px;
          margin: auto;
        }
      }
    }
  }
}

.motivation-text-area {
  color: #000000;
  margin-bottom: 15px;
}
