#form-login {
  text-align: center;
  max-width: 500px;

  margin-left: auto;
  margin-right: auto;

  padding: 20px;

  .btn-fc {

    img {
      height: 100px;
    }
  }

  #new-user {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  hr {
    margin-bottom: 40px;
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.75), rgba(100, 100, 100, 0));
  }

  h4 {
    text-align: left;
  }
}
