@import 'constants';

.messages-list {
  padding: 0;

  .message {
    width: 80%;

    &.from-me {
      margin-left: auto;
    }
  }
}

.icon-avatar {
  padding: 2 * $default-spacer;
  border-radius: 100%;
  margin-right: 2 * $default-spacer;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: $default-padding;

  h2 {
    margin-bottom: $default-spacer;
  }

  .date {
    float: right;
  }
}
