@import "colors";
@import "constants";

[data-fr-theme="dark"]
  .message {
    background: var(--background-action-low-blue-france);

    &.inverted-background {
      background: var(--background-action-low-blue-france);
    }
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: $default-padding;
  padding: $default-padding;
  background: $light-grey;
  border-radius: 3px;

  &.inverted-background {
    background: $light-grey;
  }

  .person-icon {
    margin-right: $default-spacer;
  }

  h2 {
    margin-bottom: $default-spacer;
  }

  .mail {
    font-weight: bold;
  }

  .date {
    float: right;
  }

  .message-answer-button {
    margin-left: auto;
  }
}
