@import 'constants';

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: $default-padding;
  padding: $default-padding;
  border-radius: 3px;

  h2 {
    margin-bottom: $default-spacer;
  }

  .mail {
    font-weight: bold;
  }

  .date {
    float: right;
  }
}
