@import "colors";
@import "constants";

.motivation {
  padding: $default-padding;
  color: $black;
  width: 450px;

  h3 {
    font-size: 22px;
    margin-bottom: $default-spacer * 2;
    line-height: 1.5;

    .icon {
      vertical-align: sub;
      margin-right: $default-spacer;
    }
  }

  textarea {
    margin-bottom: $default-spacer;
  }

  .help {
    color: $dark-grey;
    font-size: 11px;
    margin-bottom: $default-spacer * 2;
  }

  .warning {
    background-color: $orange-bg;
    padding: $default-spacer;
    margin-bottom: $default-spacer * 2;
    border-radius: 3px;

    h4 {
      margin-top: $default-spacer;
      font-weight: bold;
    }

    ul {
      list-style: disc;
      padding-left: $default-spacer * 1.5;
    }
  }

  .optional-justificatif {
    margin-bottom: 16px;
  }

  input[data-direct-upload-url] {
    width: 100%;
  }
}
