@import "constants";

.header-link {
  color: $nav-bar-link;
  background: $nav-bar-bg;

  &:hover {
    color: $nav-bar-link;
  }
}

.header-text {
  color: $nav-bar-fg;
  background: $nav-bar-bg;
}

#header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  border-radius: 0;
  height: 60px;

  #title-navbar {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.8em;
    z-index: 10;
    overflow: hidden;
  }

  #title-navbar:hover {
    text-decoration: none;
  }

  #home {
    text-align: left;
    box-shadow: 0px 4px 0px 0 rgba(0, 0, 0, 0.3);
    background-color: $nav-bar-bg;
    height: 60px;

    .logo {
      margin-top: 10px;
      height: 40px;
    }

    #tps-title {
      font-family: Arial;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      margin-top: 10px;
    }
  }

  #navbar-body {
    min-height: 60px;
    background-color: $nav-bar-bg;
    color: $nav-bar-fg;
    // box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.5);
    // padding-left: 50px;

    .main-info {
      font-family: Arial;
      font-size: 18px;
      font-weight: bold;
      line-height: 58px;
      min-height: 58px;
      color: $nav-bar-fg;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .options {
      font-family: Arial;
      font-size: 14px;
      text-align: right;
      line-height: 22px;
      color: $nav-bar-fg;
      padding: 8px;
      border-right: 1px solid #C8C6C8;
      min-height: 60px;

      .dropdown-toggle {
        cursor: pointer;
      }

      .dropdown-pannel {
        min-height: 100px;
        width: 400px;
        padding-left: 10px;
      }

      .centered-option {
        line-height: 40px;
        height: 40px;
      }

      .caret-right {
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        border-left: 4px solid;
        display: inline-block;
        height: 0;
        margin: 8px 2px 0 5px;
        vertical-align: top;
        width: 0;
      }
    }

    #sign-in {
      margin-top: 7px;

      .btn {
        float: right;
        margin-right: 15px;
      }
    }

    #sign-out {
      text-align: center;
      height: 60px;

      a {
        line-height: 60px;
      }
    }
  }
}

#download-menu {
  .btn-sm {
    color: #000000;
    font-size: 14px;
  }
}

.btn-nav {
  color: #FFFFFF;
  background-color: transparent;
  margin-top: 6px;
  height: 36px;
}

.btn-nav:hover {
  background-color: #EEEEEE;
  border-color: #EEEEEE #EEEEEE #DDDDDD;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-nav.text-info:hover {
  color: #23527C;
}

.btn-nav.text-success:hover {
  color: #3C763D;
}

.btn-nav.text-danger:hover {
  color: #A10005;
}

.navbar {
  border: 0 !important;
}

#beta {
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  bottom: 26px;
  right: -35px;
  transform: rotate(-45deg);
  width: 150px;
  background-color: #008CBA;
  color: #FFFFFF;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  z-index: 10;
}

.button-navbar {
  color: $nav-bar-link;
  cursor: pointer;
}

.button-navbar-action {
  background-color: $red;
  color: $nav-bar-fg;
  cursor: pointer;
  display: block;
  width: 150px;
  text-align: center;
  padding: 2px;
  float: right;

  .fa {
    font-size: 40px;
    margin-right: 10px;
    color: $nav-bar-fg;
  }
}

.lien-demarche {
  p.alert {
    margin-bottom: 8px;
  }
}

.button-navbar-action:hover {
  color: $light-blue;
}

.button-navbar:hover,
.button-navbar-action:hover {
  text-decoration: none;
}

#credentials {
  display: none;
  width: initial;
  padding: 10px;
  left: -130px;
  text-align: center;

  .description {
    font-weight: bold;
    font-size: 20px;
  }
}
