@import "mixins";

.landing-footer {
  @include vertical-padding(72px);
}

.procedure-footer {
  @include vertical-padding(30px);
  line-height: 24px;
}

.footer-logo:hover {
  opacity: 0.8;
}

.footer-logo-beta-gouv-fr {
  @include ie-compatible-background-image("footer/logo-beta-gouv-fr.svg");

  width: 150px;
  height: 25px;
  margin-top: 14px;
}
