@import 'colors';
@import 'constants';

.alert {
  padding: 15px;
  color: #ffffff;
  a {
    color: #ffffff;
  }
  &:before {
    margin-right: 3px;
  }
}

.alert-danger {
  background-color: var(--error-425-625);
}

.alert-success {
  background-color: var(--success-425-625);
}

.alert-fixed {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  max-width: 700px;
  top: 10px;
  border-radius: 10px;
  // highest z-index is modal with
  //  .fr-modal__body { z-index: calc(var(--ground) + 2000); }
  //  .fr-modal { z-index: 1750; }
  // so we position the alert below the modal
  z-index: calc(var(--ground) + 1250);
}
