// No drop shadow when a notice is shown.
.fr-header.fr-header__with-notice-info {
  &,
  .fr-header__brand {
    filter: none;
  }
}

.fr-header__menu.fr-modal {
  // Avoid overflow on mobile version
  // Due to button width
  overflow-x: hidden;

  .fr-btn {
    width: auto;
  }

  // Align links & buttons in mobile version
  .fr-translate {
    margin-left: 0;
    margin-right: 0;
  }

  // Remove border on when there is one item only
  .fr-nav__item:only-child::before {
    box-shadow: none;
  }
}
