.table.vertical.procedure-library-list th {
  padding-top: 32px;
}

.table.vertical.procedure-library-list td {
  padding-top: 0;
  padding-bottom: 4px;
}

.procedure-library-list .button {
  margin: 0 2px;
}
