@import "constants";
@import "colors";

.personnes-impliquees {
  padding-bottom: 50px;

  ul.tab-list {
    list-style-type: disc;
    margin-left: 16px;
  }

  .fr-ds-combobox__multiple {
    margin-bottom: 0;
  }
}
