.personnes-impliquees {
  padding-bottom: 50px;

  ul {
    list-style-type: disc;
    margin-left: 16px;
  }

  // scss-lint:disable SelectorFormat
  .form .select2-container .select2-selection__rendered {
    padding: 12px;
  }
  // scss-lint:enable
}
