#pref_list_menu {
  z-index: 100;
  display: none;
  position: fixed;
  visibility: hidden;
  top: 10px;
  right: -470px;
  background-color: rgba(255, 255, 255, 0.95);
  border-left: solid 1px #D3D3D3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  width: 470px;
  height: calc(100% - 25px);
  padding: 15px;
  overflow-y: scroll;
}

.open_pref_list {
  right: 0 !important;
  display: block !important;
}
