@media print {
  html,
  body {
    margin: 0;
  }

  #infos-dossiers .row:last-child {
    display: none;
  }

  #infos-dossiers {
    margin-bottom: -70px;
  }

  #left-panel {
    margin-top: 0;
    height: auto;
    position: relative;
    width: 100%;
  }

  #wrap {
    overflow: visible;
  }

  #main-container {
    width: 100%;
  }

  .copyright {
    width: 100%;
    left: 0;
  }

  .no-page-break-inside {
    page-break-inside: avoid;
  }

  .display-block-on-print {
    display: block !important;
  }
}
