#modules-api-carto {
  display: none;
}

#procedure-lien-demarche {
  display: none;
}

#individual-with-siret {
  display: none;
}

.procedure {
  &-description {
    img {
      max-width: 100%;
    }
  }
}

.procedure-lien {
  align-items: center;
  display: flex;
  margin-bottom: 8px;

  .prefix {
    flex-shrink: 0;
  }

  input {
    margin-left: 8px;
  }
}
