@import "colors";
@import "constants";
@import "placeholders";

.types-de-champ-editor {
  > .types-de-champ-block {
    padding-left: 0;

    .types-de-champ-errors {
      background-color: $background-red;
      padding: $default-padding;
    }
  }

  .type-de-champ {
    width: 100%;
    margin-bottom: $default-padding;
    overflow: hidden;

    .type-de-champ-container {
      width: 100%;
      border: 1px solid $border-grey;
      border-radius: 5px;
      margin-bottom: $default-padding;
      box-shadow: 0px 2px 4px -4px;
    }

    .handle {
      align-self: center;
      cursor: grab;

      &:hover {
        opacity: 0.4;
      }
    }

    .delete {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
    }

    .move-up,
    .move-down {
      @extend %outline;

      display: inline-block;
      width: 30px;
      padding-bottom: 5px;
      border-radius: 5px;
      border: 1px solid $border-grey;
      background-color: #FFFFFF;
      color: $black;
      text-align: center;
      -webkit-appearance: none;

      &:hover:not(:disabled) {
        cursor: pointer;
        background: $light-grey;
        text-decoration: none;
      }
    }

    &.first .move-up {
      display: none;
    }

    &.last .move-down {
      display: none;
    }

    .head {
      select {
        margin-bottom: 0px;
      }
    }

    &.type-header-section {
      .head {
        background-color: $blue-cumulus-950;
      }
    }

    .flex {
      &.section {
        padding: $default-spacer $default-spacer 0;
        margin-bottom: 8px;
      }

      &.hr {
        border-bottom: 1px solid $border-grey;

        &.head {
          border-bottom: 1px solid var(--border-default-grey);
          padding-bottom: 10px;
        }
      }
    }

    .cell {
      margin-right: $default-padding;

      label {
        margin-bottom: 8px;
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    .carte-options {
      label {
        font-weight: initial;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    width: 100%;
    border: 1px solid $border-grey;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    padding-bottom: 15px;
    padding-top: 15px;
    z-index: 10; // above DSFR buttons
  }

  .fill-duration {
    align-self: center;
    font-size: 14px;

    a {
      // Remove the icon indicating an external link (for less visual noise)
      &[target="_blank"]::after {
        display: none;
      }
    }
  }
}
