@import "colors";
@import "constants";
@import "placeholders";

.types-de-champ-editor {
  > .types-de-champ-block {
    padding-bottom: 50px;
  }

  .type-de-champ {
    width: 100%;
    background-color: #FAFDFF;
    border: 1px solid $border-grey;
    border-radius: 5px;
    margin-bottom: $default-padding * 2;
    box-shadow: 0px 2px 4px -4px;
    overflow: hidden;

    .handle.icon {
      width: 32px;
      height: 32px;
      background-size: 32px;
      margin-left: 7px;
      margin-right: 16px;
      align-self: center;
      cursor: grab;
      opacity: 0.8;

      &:hover {
        opacity: 0.4;
      }
    }

    .delete {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
    }

    .move-up,
    .move-down {
      @extend %outline;

      display: inline-block;
      width: 30px;
      padding-bottom: 5px;
      border-radius: 5px;
      border: 1px solid $border-grey;
      background-color: #FFFFFF;
      color: $black;
      text-align: center;
      -webkit-appearance: none;

      &:hover:not(:disabled) {
        cursor: pointer;
        background: $light-grey;
        text-decoration: none;
      }
    }

    &.first .move-up {
      display: none;
    }

    &.last .move-down {
      display: none;
    }

    .head {
      background-color: #D9ECFF;

      select {
        margin-bottom: 0px;
      }
    }

    &.type-header-section {
      &,
      .head {
        background-color: $blue-france-500;
      }

      .handle.icon {
        filter: contrast(0%) brightness(200%);
        opacity: 0.9;
      }

      label {
        color: $light-grey;
      }

      .conditionnel {
        color: $white;

        .add-row {
          background-color: $white;
        }
      }
    }

    .flex {
      &.section {
        padding: $default-spacer $default-spacer 0;
        margin-bottom: 8px;

        input {
          background-color: $white;
        }
      }

      &.hr {
        border-bottom: 1px solid $border-grey;

        &.head {
          border-bottom: 1px solid #D4E5F5;
          padding-bottom: 10px;
        }
      }
    }

    .cell {
      margin-right: $default-padding;

      label {
        margin-bottom: 8px;
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    .carte-options {
      label {
        font-weight: initial;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
    position: fixed;
    bottom: 0px;
    background-color: $white;
    max-width: 1100px;
    width: 100%;
    border: 1px solid $border-grey;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .fill-duration {
    align-self: center;
    font-size: 14px;

    a {
      text-decoration: underline;
      text-decoration-style: dotted;

      // Remove the icon indicating an external link (for less visual noise)
      &[target="_blank"]::after {
        display: none;
      }
    }
  }
}
