@import "colors";
@import "constants";
@import "placeholders";

.types-de-champ-editor {
  > .types-de-champ-block {
    padding-left: 0;

    .types-de-champ-errors {
      background-color: $background-red;
      padding: $default-padding;
    }
  }

  .type-de-champ {
    width: 100%;
    margin-bottom: $default-padding;
    overflow: hidden;
    scroll-margin: 1em;

    .type-de-champ-container {
      width: 100%;
      border: 1px solid var(--border-default-grey);
      border-radius: 5px;
      margin-bottom: $default-padding;
      box-shadow: 0px 2px 4px -4px;
    }

    .handle {
      cursor: grab;

      &:hover {
        background-color: var(--hover-tint);
      }
    }

    .right {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &.first .move-up {
      display: none;
    }

    &.last .move-down {
      display: none;
    }

    .head {
      select {
        margin-bottom: 0px;
        font-size: smaller;
      }
    }

    &.type-header-section {
      .head {
        background-color: var(--background-contrast-blue-cumulus);
      }
    }

    .flex {
      &.flex-gap {
        column-gap: $default-spacer * 2;
      }

      &.section {
        margin-bottom: 8px;
        padding: $default-spacer / 2 $default-spacer * 2;
      }

      &.head {
        border-bottom: 1px solid var(--border-default-grey);
        padding: $default-spacer / 2 $default-spacer; // due to no-outline button horizontal padding, don't add twice the padding so it's aligned with section
      }
    }

    .cell {
      label {
        margin-bottom: 8px;
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    .carte-options {
      label {
        font-weight: initial;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    width: 100%;
    border: 1px solid $border-grey;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    padding-bottom: 15px;
    padding-top: 15px;
    z-index: 10; // above DSFR buttons
  }

  .fill-duration {
    align-self: center;
    font-size: 14px;

    a {
      // Remove the icon indicating an external link (for less visual noise)
      &[target="_blank"]::after {
        display: none;
      }
    }
  }
}

#summary nav ul {
  height: 80vh;
  overflow: auto;
}
