@import "colors";
@import "constants";

.procedure-header {
  a.header-link {
    display: inline-block;
    margin-bottom: 1 * $default-padding;
  }
}

#procedure-show {
  .titre-dossiers {
    text-align: center;
  }

  .dossiers-table {
    margin-top: $default-spacer;
    margin-bottom: 3 * $default-spacer;
  }

  .procedure-actions {
    margin-left: auto;
    flex-shrink: 0;

    .dropdown-items li {
      min-width: 150px;
    }
  }

  .filter {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $light-blue;
    border-radius: 4px;
    color: #FFFFFF;
    height: 36px;
    line-height: 36px;
  }

  .close-icon {
    vertical-align: top;
    margin-top: 12px;
    margin-right: 6px;
    display: inline-block;
  }

  [data-react-component-value^="ComboMultiple"] {
    margin-bottom: $default-fields-spacer;

    [data-reach-combobox-token-list] {
      padding: 0.25 * $default-padding;
      display: inline-block;
      width: 100%;
    }

    [data-reach-combobox-token] button {
      border: solid 1px $border-grey;
      margin: 0.25 * $default-padding;
      border-radius: 2px;
      padding: 0.25 * $default-padding;
      cursor: pointer;
      list-style: none;
      display: flex;
      align-items: center;
    }

    [data-reach-combobox-token] button:focus {
      background-color: $black;
      color: $white;
    }


    [data-reach-combobox-input] {
      outline: none;
      flex-grow: 1;
      margin: $default-spacer;
      padding: $default-spacer;
      border-radius: 4px;
      border: solid 1px $border-grey;
      margin-top: 0;
    }

    [data-reach-combobox-input]:focus {
      border-color: $blue-france-500;
    }
  }

  // fix/dsfr
  .fr-checkbox-group.fix-dsfr-notified-toggle-component {
    margin-top: -0.5rem;
  }
}
