@import 'colors';
@import 'constants';

#procedure-show {
  .procedure-actions {
    margin-left: auto;
    flex-shrink: 0;

    .dropdown-items li {
      min-width: 150px;
    }
  }

  .filter {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $light-blue;
    border-radius: 4px;
    color: #ffffff;
    height: 36px;
    line-height: 36px;
  }

  .close-icon {
    vertical-align: top;
    margin-top: 12px;
    margin-right: 6px;
    display: inline-block;
  }

  .fr-ds-combobox__multiple {
    margin-bottom: $default-fields-spacer;
  }
}
