@import "colors";
@import "constants";

.procedure-header {
  a.header-link {
    display: inline-block;
    margin-bottom: 1 * $default-padding;
  }
}

#procedure-show {
  .titre-dossiers {
    text-align: center;
  }

  .dossiers-table {
    margin-top: $default-spacer;
    margin-bottom: 3 * $default-spacer;
  }

  .procedure-actions {
    margin-left: auto;
    flex-shrink: 0;

    .dropdown-items li {
      min-width: 150px;
    }
  }

  .filter {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $light-blue;
    border-radius: 4px;
    color: #FFFFFF;
    height: 36px;
    line-height: 36px;
  }

  .close-icon {
    vertical-align: top;
    margin-top: 12px;
    margin-left: 6px;
    display: inline-block;
  }

  .fr-ds-combobox__multiple {
    margin-bottom: $default-fields-spacer;
  }

  // fix/dsfr
  .fr-checkbox-group.fix-dsfr-notified-toggle-component {
    margin-top: -0.5rem;
  }
}
