@import 'colors';
@import 'constants';

$procedure-context-breakpoint: $two-columns-breakpoint;

.procedure-preview {
  .simple {
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    color: $blue-france-500;
    font-weight: bold;
  }

  .small-simple {
    font-size: 16px;
    color: $blue-france-500;
    font-weight: bold;
  }

  .close-procedure {
    font-size: 12px;
  }

  .procedure-logos {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    > :not(:last-child) {
      margin-right: $default-padding;
    }

    img {
      max-width: 100%;
      max-height: 50px;

      html[data-fr-theme='dark'] & {
        box-sizing: content-box;
        padding: $default-padding / 2;
        background: #ffffff;
      }

      @media (min-width: $procedure-context-breakpoint) {
        max-height: 90px;
      }
    }
  }
}

.procedure-context-content {
  @media (max-width: $procedure-context-breakpoint) {
    input[type='submit'] {
      margin-bottom: 2 * $default-padding;
    }
  }
}

.tiptap-content-editor {
  .tiptap {
    padding: $default-spacer;
    min-height: 200px;
  }

  .realistic-preview {
    background: var(--background-default-grey);
    padding: $default-spacer * 1.5;
    margin-bottom: $default-spacer;
    zoom: 0.85;

    .merci {
      padding-top: 0 !important;

      .fr-container {
        padding: 0 !important;
        margin: 0 !important;
      }

      .preview-spacing {
        max-width: 0;
      }

      .preview-content {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
