@import 'colors';
@import 'constants';

#proconnect {
  .agent {
    color: $blue-france-500;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }

  .box {
    background-color: #f2f2f9;
    padding: $default-padding;

    ul {
      list-style: disc;
      padding-left: inherit;
    }
  }

  .citizen {
    font-size: 16px;
    color: $blue-france-500;
    font-weight: bold;
  }
}
