.procedure-admin-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  .button {
    margin-right: 10px;
  }

  a {
    background-image: none; // remove DSFR underline
  }
}

.procedure-admin-listing-container {
  display: flex;
  justify-content: flex-end;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1072px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.container {
  a {
    cursor: pointer;
  }
}

.admin-metadata {
  margin-top: -8px;
  margin-bottom: 8px;

  li {
    font-size: 14px;
  }

}
