#infos_dossier{
  background-color:rgba(248,248,255,0.8);
  padding-left:13%;
  padding-right:13%;
  padding-bottom:20px;
  padding-top:15px;
  margin-left:-10rem;
  margin-right:-10rem;
}

#UploadPJmodal {
  text-align: left;

  table {
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 0;
  }
}