@import "colors";
@import "constants";

#routing-rules {

  .routing-rules-table {
    table-layout: fixed;

    .far-left {
      width: 200px;
    }

    .if {
      width: 30px;
    }

    .target {
      width: 350px;

      select {
        width: 100%;
      }
    }

    .operator {
      text-align: center;
      width: 100px;
    }

    .value {
      width: 200px;

      select {
        width: 100%;
      }
    }
  }

  th {
    text-align: left;
    padding: $default-spacer;

  }

  td {
    padding: $default-spacer;

    input,
    select {
      margin-bottom: 0;
    }

    input[type=text] {
      display: inline-block;
      margin-bottom: 0;
    }

    input.alert,
    select.alert {
      border-color: $dark-red;
    }
  }

  .form.defaut-groupe {
    padding: $default-spacer;

    label {
      width: 600px;
      font-size: 16px;
    }
  }
}
