#search-block{
  margin: 15px 10px 0 0;
  height: 30px;
}

#search_button {
  height: 34px;
}

#mask_search{
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}
