#search-block{
  margin-top: 5px;
  height: 50px;
}

#mask_search{
  background-color: rgba(0,0,0, 0.4);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}