.counter-start-header-section {
  counter-reset: h2;

  .reset-h2 {
    counter-reset: h3;
  }

  .reset-h3 {
    counter-reset: h4;
  }

  .header-section.section-2::before {
    counter-increment: h2;
    content: counter(h2) '. ';
  }

  .header-section.section-3::before {
    counter-increment: h3;
    content: counter(h2) '.' counter(h3) '. ';
  }

  .header-section.section-4::before {
    counter-increment: h4;
    content: counter(h2) '.' counter(h3) '.' counter(h4) '. ';
  }

  .repetition {
    counter-reset: repetition;

    .block-id::after {
      counter-increment: repetition;
      content: counter(repetition);
    }
  }

  // Repeat block
  .repetition {
    .fr-fieldset,
    .fr-fieldset__legend {
      margin-right: 0;
      margin-left: 0;
    }
    .fr-fieldset__element,
    .fr-fieldset__legend {
      padding-left: 0;
    }
    // Remove padding right on .fr-fieldset__element that are not inline
    .fr-fieldset__element:not(.fr-fieldset__element--inline),
    .fr-fieldset__legend {
      padding-right: 0;
    }
    .fr-fieldset__legend {
      padding-bottom: 0;
    }
  }
}
