// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mask {
  display: none;
}

#titre-procedure {
  margin-top: 3%;
  margin-bottom: 2%;
}
