.site-banner {
  width: 100%;
  margin: 0;

  color: #333333;
  background-color: #FEF3B8;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.6);

  &.warning {
    background-color: #FFD8A6;
  }

  .container {
    display: flex;
    width: auto;
    align-items: center;
    padding: 8px 16px;
  }
}

.site-banner-icon {
  margin-right: 16px;
  font-size: 30px;
  opacity: 0.7;
}

.site-banner-actions {
  display: flex;
  margin-left: auto;
}
