@import 'colors';
@import 'constants';

.status-timeline {
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 3px;

  li {
    display: inline-block;
    padding-top: $default-spacer;
    padding-bottom: $default-spacer;

    &:first-child {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }

    &.active {
      font-weight: bold;
    }

    &.active ~ li {
      color: $dark-grey;
    }

    // Arrows
    &:not(:last-child)::after {
      content: '▸';
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      vertical-align: top;
    }
  }
}

.status-explanation {
  blockquote {
    quotes: '« ' ' »' '‘' '’';
  }

  blockquote::before {
    content: open-quote;
  }

  blockquote::after {
    content: close-quote;
  }
}
