@import 'constants';

.status-timeline {
  display: inline-block;
  border: 1px solid var(--border-plain-grey);
  border-radius: 3px;
  padding: 0 1.5rem;

  li {
    display: inline-block;
    padding-top: $default-spacer;
    padding-bottom: $default-spacer;

    &[aria-current='true'] {
      font-weight: bold;
    }

    &:not([aria-current='true']) {
      color: var(--text-mention-grey);
    }

    // Arrows
    &:not(:last-child)::after {
      content: '▸';
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      vertical-align: top;
    }
  }
}

.status-explanation {
  blockquote {
    quotes: '« ' ' »' '“' '”';
    margin-bottom: $default-padding * 3;
  }

  blockquote::before {
    content: open-quote;
    float: left;
  }

  blockquote > p:last-of-type {
    display: inline;
    margin-bottom: 0;
  }

  blockquote::after {
    content: close-quote;
    display: inline;
  }

  blockquote > p:empty {
    display: none;
  }
}
