@import "colors";
@import "constants";

.sub-header {
  background-color: $light-grey;
  padding-top: $default-padding;
  margin-bottom: $sub-header-bottom-margin;
  border-bottom: 1px solid $border-grey;

  .container {
    margin-bottom: -1px;
  }
}
