@import 'colors';
@import 'constants';

.sub-header {
  background-color: var(--background-alt-blue-france);
  padding-top: $default-padding;
  margin-bottom: $sub-header-bottom-margin;
  border-bottom: 1px solid var(--border-default-grey);

  .fr-container {
    margin-bottom: -1px;
  }

  .breadcrumbs {
    list-style: none;
    padding-inline-start: 0;

    a:not(:hover) {
      background-image: none; // remove DSFR underline
    }
  }

  .fr-btns-group .fr-btn {
    margin-bottom: 0;
  }
}
