#support-navigator-banner {
  position: fixed;
  text-align: center;
  line-height: 2em;
  color: #FFFFFF;
  background-color: #990000;
  width: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  a {
    color: #C3D9FF;
  }
}
