#switch-menu {
  position: fixed;
  bottom: 10px;
  color: #FFFFFF;
  list-style: none;
  text-decoration: none;
  padding-left: 20px;
}

#switch-menu a,
#switch-menu a:link,
#switch-menu a:visited,
#switch-menu a:hover {
  text-decoration: none;
  color: #FFFFFF;
}
