@import 'colors';
@import 'constants';

$colors:
  'green-tilleul-verveine', 'green-bourgeon', 'green-emeraude', 'green-menthe',
  'blue-ecume', 'purple-glycine', 'pink-macaron', 'yellow-tournesol',
  'brown-cafe-creme', 'beige-gris-galet';

@each $color in $colors {
  .fr-tag--#{$color},
  a.fr-tag--#{$color},
  button.fr-tag--#{$color},
  input[type='button'].fr-tag--#{$color},
  input[type='image'].fr-tag--#{$color},
  input[type='reset'].fr-tag--#{$color},
  input[type='submit'].fr-tag--#{$color} {
    --idle: transparent;
    --hover: var(--background-action-low-#{$color}-hover);
    --active: var(--background-action-low-#{$color}-active);
    background-color: var(--background-action-low-#{$color});
    color: var(--text-action-high-#{$color});
  }
}

.copy-message {
  background-color: var(--background-action-low-blue-france);
  color: var(--text-active-blue-france);
  font-weight: normal;
  text-transform: none;

  &.fr-icon-check-line {
    color: $green;
  }
}
