@import "constants";

.tiptap-editor {
  // Tags
  .fr-menu__list {
    max-height: 500px;
  }

  .fr-tag:not(.fr-menu .fr-tag) {
    // style span rendered by tiptap like a button/link tag
    color: var(--text-action-high-blue-france);
    background-color: var(--background-action-low-blue-france);
  }
}
