.dynamic_ul {
  margin-left: 20px;
  margin-top: 13%;

  li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  li:last-child {
    border: none;
  }
}