#users_index, #admins_index{
  margin-left: 2rem;
  margin-right: 2rem;

  .default_data_block {
    margin-top: 20px;
    background-color: #FFFFFF;
    .show-block {
      width: 100%;
    }
    .body {
      height: auto;
    }
  }
}