.fr-messages-group{ "aria-live" => "off", id: id }
  %p.fr-message= t('views.registrations.new.password_message')
  %p.fr-message.fr-message--info= t('views.registrations.new.password_placeholder', min_length: PASSWORD_MIN_LENGTH)
