- user_can_destroy = !@champ.mandatory? || @champ.dossier.brouillon?
- user_can_download = !@champ.dossier.brouillon?
- max = [true, nil].include?(@champ.procedure&.piece_justificative_multiple?) ? Attachment::MultipleComponent::DEFAULT_MAX_ATTACHMENTS : 1
= render Attachment::MultipleComponent.new(champ: @champ, attached_file: @champ.piece_justificative_file, form_object_name: @form.object_name, user_can_destroy:, user_can_download:, max:) do |c|
  - if @champ.type_de_champ.piece_justificative_template&.attached?
    - c.with_template do
      = render partial: "shared/piece_justificative_template", locals: { champ: @champ }
