= render Attachment::MultipleComponent.new(champ: @champ, attached_file: @champ.piece_justificative_file, form_object_name: @form.object_name, view_as:, user_can_destroy: user_can_destroy?, max:) do |c|
  - if @champ.type_de_champ.piece_justificative_template&.attached?
    - c.with_template do
      = render partial: "shared/piece_justificative_template", locals: { champ: @champ }
