- user_can_destroy = !@champ.mandatory? || @champ.dossier.brouillon?
- user_can_download = !@champ.dossier.brouillon?
- max = [true, nil].include?(@champ.procedure&.piece_justificative_multiple?) ? Attachment::MultipleComponent::DEFAULT_MAX_ATTACHMENTS : 1
= render Attachment::MultipleComponent.new(champ: @champ, attached_file: @champ.piece_justificative_file, user_can_destroy:, user_can_download:, max:) do |c|
  - if @champ.type_de_champ.piece_justificative_template&.attached?
    - c.with_template do
      = render Dsfr::DownloadComponent.new(attachment: @champ.type_de_champ.piece_justificative_template, name: "Modèle à télécharger") do |c|
        - if helpers.administrateur_signed_in?
          - c.with_right do
            %span.fr-ml-2w.fr-text--xs.fr-text-mention--grey.visible-on-previous-hover
              %span.fr-text-action-high--blue-france.fr-icon-questionnaire-line{ "aria-hidden": "true" }
              = t('shared.ephemeral_link')

