<p>Bonjour,</p>

<p>Vous avez demandé à regénérer votre mot de passe sur demarches-simplifiees.fr. Pour ceci, merci de suivre le lien suivant :</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %> - <%= edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas effectué une telle demande, merci d'ignorer ce mail. Votre mot de passe ne sera pas changé.</p>

<p>Bonne journée,</p>

<p>L'équipe Téléprocédures Simplifiées</p>
