- content_for(:title, "Whoops. Mauvais compte")

.merci.text-center.mb-7
  .container
    = image_tag('user/envoi-dossier.svg', alt: '', class: 'mt-8')
    %h1.mt-4.mb-3.mx-0 Attention, ce lien ne vous est pas destiné
    %p.send.fr-text--lg
      L'invitation est à destination de
      %strong.test-target-email= @targeted_user_link.target_email
      %br
      Mais vous êtes connecté avec
      %strong.test-current-email= current_user.email
    %p
      Veuillez vous reconnecter avec la bonne adresse email

    .flex.column.align-center
      = link_to "/users/sign_out", method: :delete, class: "button primary" do
        %span.fa.fa-sign-out
        Me déconnecter
