%ul.sidebar__list
  %li
    = link_to "Se déconnecter", administrations_sign_out_path, method: :delete, class: "sidebar__link"

%hr{ style: "margin-bottom: 0;" }

%ul.sidebar__list
  - Administrate::Namespace.new(namespace).resources.each do |resource|
    %li
      = link_to(display_resource_name(resource), [namespace, resource], class: "sidebar__link sidebar__link--#{nav_link_state(resource)}")
