= form_for [:admin, procedure], url: type_de_champ_service.url, remote: true do |f|
  = render partial: 'admin/types_de_champ/fields', locals: { type_de_champ_service: type_de_champ_service, types_de_champ: type_de_champ_service.types_de_champ, f: f }

  = f.button 'Enregistrer',
    id: :save,
    class: 'btn btn-success',
    data: { disable: true }

  %hr
  #new_type_de_champ
    = render partial: 'admin/types_de_champ/fields', locals: { type_de_champ_service: type_de_champ_service, types_de_champ: type_de_champ_service.new_type_de_champ, f: f }
