- if @champ.value.blank?
  %p
    %strong Numéro NOR :
    Non créé
  %p
    %strong Statut du dossier :
    Inconnu
- else
  %p
    %strong Numéro NOR :
    = @champ.value
  %p
    %strong Statut du dossier :
    = @champ.data&.[]('lexpol_status') || 'Inconnu'
