= form_for(commentaire, url: form_url, html: { class: 'form' }) do |f|
  = f.text_area :body, rows: 5, placeholder: 'Répondre ici', required: true, class: 'message-textarea'
  .flex.justify-between.wrap
    %div
      = f.file_field :file, id: :file, accept: commentaire.file.accept_extension_list
      %label{ for: :file }
        .notice
          (taille max : 20 Mo)

    %div
      = f.submit 'Envoyer le message', class: 'button primary send', data: { disable: true }
