.flex.align-center.fr-mb-2w
  %button.fr-btn.fr-icon-add-line.fr-btn--icon-left.fr-mr-2w{ type: 'button', disabled: 'true' } Nouveau message
  %p.fr-mb-0.fr-text-mention--grey La messagerie est désormais désactivée.

  - if service.present? && controller.try(:nav_bar_profile) == :user
    %button{ aria: {controls: 'messagerie-close-explanations' }, data: {'fr-opened': "false" }, class: 'fr-btn fr-btn--sm fr-btn--tertiary-no-outline fr-ml-2v' }
      + d'infos
