- case commentaire.email
- when connected_user.email
  Vous
- when OLD_CONTACT_EMAIL
- when CONTACT_EMAIL
  Email automatique
- else
  - if connected_user.is_a?(User) && commentaire.dossier.procedure.hide_instructeur_identity?
    = commentaire.dossier.procedure&.service&.nom
  - else
    = commentaire.sender
