<% content_for(:main_navigation) do %>
  <div></div>
<% end %>

<div class="fr-container">
  <div
    class="
      fr-my-7w fr-mt-md-12w fr-mb-md-10w fr-grid-row fr-grid-row--gutters
      fr-grid-row--middle fr-grid-row--center
    "
  >
    <div class="fr-py-0 fr-col-12 fr-col-md-6">
      <h1>Changement d’adresse</h1>

      <p class="fr-text--lead fr-mb-3w">
        <strong>demarches-simplifiees.fr</strong> devient
        <strong>demarche.numerique.gouv.fr</strong>
      </p>

      <p>
        alors que vous êtes ici sur demarcheS.numerique.gouv.fr.
        <br>
        (vous avez mis un <em>s</em> en trop)
      </p>

      <p class="fr-text--sm fr-mb-3w">
        Vous serez automatiquement redirigé(e) vers le nouveau site dans
        <span id="countdown">30</span> secondes.
      </p>

      <p class="fr-text--sm fr-mb-3w">
        <strong>Vos identifiants restent les mêmes :</strong> vous pourrez vous
        reconnecter avec vos identifiants habituels.
      </p>

      <p class="fr-text--sm fr-mb-3w">
        N’oubliez pas de mettre à jour vos favoris le cas échéant pour accéder
        directement à la nouvelle adresse à l’avenir.
      </p>

      <a class="fr-btn" href="#" id="redirect-button">
        Accéder au nouveau site
      </a>
    </div>
  </div>
</div>

<script>
  (function () {
    const redirectButton = document.getElementById('redirect-button');
    redirectButton.href = gon.redirectURL;

    const logoLink = document.querySelector(".fr-header__service a");
    logoLink.href = gon.redirectURL;

    // Countdown
    let secondsLeft = 30;
    const countdownElement = document.getElementById('countdown');
    const interval = setInterval(function () {
      secondsLeft--;
      if (secondsLeft > 0) {
        countdownElement.textContent = secondsLeft;
      } else {
        clearInterval(interval);
        window.location.href = gon.redirectURL;
      }
    }, 1000);
  })();
</script>
