%h2
  ='Type de demande'

%br
= form_tag(url_for({controller: :demandes, action: :choice}), class: 'form-inline', method: 'POST') do

  %div{style:'text-align:center'}
    %select{name:'formulaire', id: 'formulaire', class:'form-control'}
      -@evenement_vie.each do |ev|
        %optgroup{:label => ev.nom}
        - Formulaire.where(evenement_vie: ev.id, use_admi_facile: true).each do |form|
          %option{value: form.id}
            &nbsp;&nbsp;
            =form.nom
  %br
  =render partial: 'layouts/etape_suivante'