%h2
  ='Type de demande'

%br
= form_tag(url_for({controller: :demandes, action: :update}), class: 'form-inline', method: 'POST') do
  %div.center
    %select{name:'formulaire', id: 'formulaire', class:'form-control'}
      - @evenements_vie.each do |evenement_vie|
        %optgroup{label: evenement_vie.nom}
        - evenement_vie.formulaires.for_admi_facile.each do |formulaire|
          %option{value: formulaire.id}
            &nbsp;&nbsp;
            =formulaire.nom
  %br
  =render partial: 'layouts/etape_suivante'
