#carte-page.row
  .col-md-12.col-lg-12
    #map{ class: dossier.procedure.module_api_carto.classes }

  %span.zones
    = render partial: 'zones', locals: { dossier: dossier, error: @error }

= render partial: 'shared/champs/carto/init', locals: { dossier: dossier }
