#carte-page.row
  .col-md-12.col-lg-12
    #map.carte.edit

  %span.zones
    = render partial: 'zones', locals: { dossier: dossier, error: @error }

= render partial: 'shared/champs/carte/init', locals: { dossier: dossier }
