%h2
  ='Localisation de votre demande'
%br

.content{style:'margin-bottom:60px'}
  %button#new.btn.btn-sm.btn-success{type:'button'} Nouveau
  \-
  %button#edit.btn.btn-sm.btn-info{type:'button'} Editer
  \-
  %button#delete.btn.btn-sm.btn-danger{type:'button'} Supprimer

  %br
  %br
  .row
    #map.qp
    #qp_list
      %h3 Quartiers prioritaites
      %ul

  = form_tag(url_for({controller: :carte, action: :save_ref_api_carto, dossier_id: @dossier.id}), class: 'form-inline', method: 'POST') do
    %br
    %input{type: 'hidden', value: "#{@dossier.json_latlngs}", name: 'json_latlngs', id: 'json_latlngs'}

    -if @dossier.draft?
      =render partial: '/layouts/etape_suivante'
    -else
      =render partial: '/layouts/modifications_terminees'

%script{type: 'text/javascript'}
  ="var dossier_id =#{@dossier.id}"
  initCarto();