= @form.datetime_field :value,
  input_opts(id: @champ.focusable_input_id,
  aria: { **labelledby_id_attr, describedby: "#{@champ.describedby_id} #{@champ.error_id}" },
  value: formatted_value_for_datetime_locale,
  min: min_date,
  max: max_date,
  required: @champ.required?,
  data: { controller: 'datetime' })
