.datetime
  = @form.datetime_field(:value, value: @champ.valid? && @champ.value.present? ? DateTime.iso8601(@champ.value).strftime('%Y-%m-%dT%H:%M') : @champ.value, id: @champ.input_id, aria: { describedby: @champ.describedby_id })
