= javascript_include_tag 'https://code.highcharts.com/highcharts.js', 'chartkick'

.container
  .stats
    .stat-card
      %h1 Procédures créées
      = line_chart @procedures

    .stat-card
      %h1 Dossiers créés
      = line_chart @dossiers
