---
http_interactions:
- request:
    method: get
    uri: https://api-adresse.data.gouv.fr/search?limit=1&q=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"limit": 1, "attribution": "BAN", "version": "draft", "licence": "ODbL
        1.0", "query": "Paris", "type": "FeatureCollection", "features": [{"geometry":
        {"type": "Point", "coordinates": [2.3469, 48.8589]}, "properties": {"adm_weight":
        "6", "citycode": "75056", "name": "Paris", "city": "Paris", "postcode": "75000",
        "context": "75, \u00cele-de-France", "score": 1.0, "label": "Paris", "id":
        "75056", "type": "city", "population": "2244"}, "type": "Feature"}]}'
  recorded_at: Fri, 16 Dec 2016 14:16:43 GMT
recorded_with: VCR 3.0.3
