---
http_interactions:
- request:
    method: get
    uri: https://api-adresse.data.gouv.fr/search?limit=1&q=50%20av%20des%20champs%20elysees
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"limit": 1, "attribution": "BAN", "version": "draft", "licence": "ODbL
        1.0", "query": "50 av des champs elysees", "type": "FeatureCollection", "features":
        [{"geometry": {"type": "Point", "coordinates": [2.306888, 48.870374]}, "properties":
        {"citycode": "75108", "postcode": "75008", "name": "50 Avenue des Champs \u00c9lys\u00e9es",
        "id": "ADRNIVX_0000000270748251", "type": "housenumber", "context": "75, \u00cele-de-France",
        "score": 0.7561038961038961, "label": "50 Avenue des Champs \u00c9lys\u00e9es
        75008 Paris", "city": "Paris", "housenumber": "50", "street": "Avenue des
        Champs \u00c9lys\u00e9es"}, "type": "Feature"}]}'
  recorded_at: Fri, 16 Dec 2016 16:22:23 GMT
recorded_with: VCR 3.0.3
