---
http_interactions:
- request:
    method: get
    uri: https://www.tefenua.gov.pf/api/recherche?d=0&id=&q=%23%23%23%23&sid=reqId&x=0&y=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "content" : {
            "id" : "-mtaposB1EVuIXILKnct",
            "hits" : {
              "total" : 0,
              "max_score" : 0.0,
              "hits" : [ ]
            },
            "timed_out" : false,
            "took" : 3
          },
          "limit" : 10,
          "offset" : 0,
          "total" : 0
        }
  recorded_at: Mon, 06 Nov 2023 20:36:48 GMT
recorded_with: VCR 6.1.0
