---
http_interactions:
- request:
    method: get
    uri: http://api-adresse.data.gouv.fr/search?limit=5&q=je%20recherche%20pas%20grand%20chose
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"limit": 5, "attribution": "BAN", "version": "draft", "licence": "ODbL
        1.0", "query": "je recherche pas grand chose", "type": "FeatureCollection",
        "features": []}'
  recorded_at: Fri, 16 Dec 2016 16:45:53 GMT
recorded_with: VCR 3.0.3
