---
http_interactions:
- request:
    method: post
    uri: https://devapilexpol.cloud.pf/api/v1/geda/authentification
    body:
      encoding: UTF-8
      string: '{"email":"monituru@jeunesse.gov.pf","motdepasse":"zAL6µ?Ki35}cA","email_agent":"redacteur.geda@jeunesse.gov.pf"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jeton":"f3f749484b901402ac4de0a6cce82633"}'
  recorded_at: Mon, 16 Dec 2024 16:18:23 GMT
recorded_with: VCR 6.2.0
