---
http_interactions:
- request:
    method: get
    uri: http://api-adresse.data.gouv.fr/search?limit=5&q=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"limit": 5, "attribution": "BAN", "version": "draft", "licence": "ODbL
        1.0", "query": "Paris", "type": "FeatureCollection", "features": [{"geometry":
        {"type": "Point", "coordinates": [2.3469, 48.8589]}, "properties": {"adm_weight":
        "6", "citycode": "75056", "name": "Paris", "city": "Paris", "postcode": "75000",
        "context": "75, \u00cele-de-France", "score": 1.0, "label": "Paris", "id":
        "75056", "type": "city", "population": "2244"}, "type": "Feature"}, {"geometry":
        {"type": "Point", "coordinates": [3.564293, 45.766413]}, "properties": {"citycode":
        "63125", "postcode": "63120", "name": "Paris", "city": "Courpi\u00e8re", "context":
        "63, Puy-de-D\u00f4me, Auvergne", "score": 0.8255363636363636, "label": "Paris
        63120 Courpi\u00e8re", "id": "63125_B221_03549b", "type": "locality"}, "type":
        "Feature"}, {"geometry": {"type": "Point", "coordinates": [1.550208, 44.673592]},
        "[...]
