---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=1234&client_secret=5678&grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"redacted","expires_in":7200}

'
  recorded_at: Wed, 11 Sep 2019 15:02:24 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/reports/productivity?end=2017-12-01T00:00:00Z&mailboxes=9999&start=2017-11-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer redacted
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Correlation-Id:
      - 23f037f4-3974-4c8f-b252-3a580e4400dc#3293935
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '399'
    body:
      encoding: UTF-8
      string: '{"filterTags":[{"name":"administration","id":3745889},{"name":"caf","id":4276799}],"current":{"startDate":"2017-11-01T00:00:00Z","endDate":"2017-12-01T00:00:00Z","totalConversations":96,"resolutionTime":182589.09375,"repliesToResolve":1.625,"responseTime":178804,"firstResponseTime":106231,"resolved":96,"resolvedOnFirstReply":64,"closed":181,"repliesSent":187,"handleTime":402,"percentResolvedOnFirstReply":66.66666666666666,"ratings":[],"newConversations":178,"messagesReceived":293,"createdInHS":11},"responseTime":{"count":113,"previousCount":0,"ranges":[{"id":10,"count":22,"percent":19.469026548672566},{"id":3,"count":13,"percent":11.504424778761061},{"id":9,"count":13,"percent":11.504424778761061},{"id":1,"count":12,"percent":10.619469026548673},{"id":7,"count":12,"percent":10.619469026548673},{"id":2,"count":11,"percent":9.734513274336283},{"id":6,"count":11,"percent":9.734513274336283},{"id":5,"count":7,"percent":6.1946902654867255},{"id":4,"count":6,"percent":5.3097345132743365},{"id":8,"count":6,"percent":5.3097345132743365}]},"handleTime":{"count":96,"previousCount":0[...]
[...]
