---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=1234&client_secret=5678&grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"redacted","expires_in":172800}'
  recorded_at: Wed, 05 Jun 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations?page=1&query=(%0A%20%20%20%20%20%20%20%20modifiedAt:%5B*%20TO%202022-06-05T00:00:00Z%5D%0A%20%20%20%20%20%20)&sortField=modifiedAt&sortOrder=desc&status=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer redacted
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json
      X-Ratelimit-Limit-Minute:
      - '200'
      X-Ratelimit-Remaining-Minute:
      - '199'
      Correlation-Id:
      - a9ca7664-2711-4c36-a092-73203365b474#13211836
    body:
      encoding: UTF-8
      string: '{"_embedded":{"conversations":[{"id":1910642153,"number":1978770,"threads":2,"type":"email","folderId":1653804,"status":"closed","state":"published","subject":"Re:
        Demande de création de compte","preview":"","mailboxId":125926,"createdBy":{},"createdAt":"2022-06-04T23:34:03Z","closedBy":1,"closedByUser":{},"closedAt":"2022-06-04T23:34:04Z","userUpdatedAt":"2022-06-04T23:34:04Z","customerWaitingSince":{"time":"2022-06-04T23:34:04Z","friendly":"Jun
        5, ''22"},"source":{"type":"email","via":"customer"},"tags":[],"cc":[],"bcc":[],"primaryCustomer":{},"customFields":[],"_embedded":{"threads":[]},"_links":{"self":{"href":"https://api.helpscout.net/v2/conversations/1910642153"},"mailbox":{"href":"https://api.helpscout.net/v2/mailboxes/125926"},"primaryCustomer":{"href":"https://api.helpscout.net/v2/customers/533578452"},"createdByCustomer":{"href":"https://api.helpscout.net/v2/customers/533578452"},"closedBy":{"href":"https://api.helpscout.net/v2/users/1"},"threads":{"href":"https://api.helpscout.net/v2/conversations/1910642153/threads"},"web":{"href":"https://secure.helpscout.net/conversation/1910642153/1978770"}},"assignee":{}},{"id":1910621183,"number":1978769,"threads":2,"type":"email","folderId":1653804,"status":"closed","state":"published","subject":"Re:
        Demande de création de compte","preview":"","mailboxId":125926,"createdBy":{},"createdAt":"2022-06-04T22:52:48Z","closedBy":1,"closedByUser":{},"closedAt":"2022-06-04T22:52:48Z","userUpdatedAt":"2022-06-04T22:52:48Z","customerWaitingSince":{"time":"2022-06-04T22:52:48Z","friendly":"Jun
        5, ''22"},"source":{"type":"email","via":"customer"},"tags":[...]
[...]
