---
http_interactions:
- request:
    method: post
    uri: https://devapilexpol.cloud.pf/api/v1/geda/authentification
    body:
      encoding: UTF-8
      string: '{"email":"monituru@jeunesse.gov.pf","motdepasse":"zAL6µ?Ki35}cA","email_agent":"redacteur.geda@jeunesse.gov.pf"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jeton":"6ed75a375cc4b5767ef0daca3b9bbd71"}'
  recorded_at: Mon, 16 Dec 2024 16:25:36 GMT
- request:
    method: put
    uri: https://devapilexpol.cloud.pf/api/v1/geda/dossier/ZZZ24000882TT/modifier
    body:
      encoding: UTF-8
      string: '{"jeton":"6ed75a375cc4b5767ef0daca3b9bbd71","variables":{"nom":"Updated
        Test"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"nor":"ZZZ24000882TT"}'
  recorded_at: Mon, 16 Dec 2024 16:25:37 GMT
recorded_with: VCR 6.2.0
