.fr-toggle.fr-toggle--border-bottom.fr-toggle--label-left
  = @form.check_box @target, class: 'fr-toggle__input', disabled: @disabled
  = @form.label @target,
    @title,
    class: 'fr-toggle__label',
    data: { 'fr-checked-label': 'Activé', 'fr-unchecked-label': 'Désactivé' }
  %p.fr-hint-text= @hint
