
%br

-{libelle: 'Libellé*', description: 'Description*', lien_demarche: 'Lien démarche', organisation: 'Organisation', direction: 'Direction'}.each do |key, value|
  .form-group{class: ('has-error' if @procedure.errors.messages[key])}
    %h4
      =value
    =f.text_field key, class: 'form-control', placeholder: value

%h4 Drapeau européen
%label
  =f.check_box :euro_flag
  Afficher le drapeau européen

%br
%br

%h4 Cartographie

= f.fields_for :module_api_carto, @procedure.module_api_carto do |ff|
  %label
    =ff.check_box :use_api_carto, {id: :procedure_module_api_carto_use_api_carto}
    Utilisation de la cartographie

  %ul#modules_api_carto
    %li
      %label
        = ff.check_box :quartiers_prioritaires
        Quartiers Prioritaires
    %li
      %label
        = ff.check_box :cadastre, disabled: :disabled
        Cadastre
        %i
          %strong
            (bientôt disponible)
