#onglets
  %ul.nav.nav-tabs
    %li{ class: @draft_class }
      %a{ :href => "#{url_for :admin_procedures_draft}" }
        %h5.text-primary
          En test

    %li{ class: @active_class }
      %a{ :href => "#{url_for :admin_procedures}" }
        %h5.text-success
          Actives

    %li{ class: @archived_class }
      %a{ :href => "#{url_for :admin_procedures_archived}" }
        %h5{ style: 'color: black;' }
          Archivées
%br
