- if mine
  Ce lien est déjà utilisé par une de vos procédure.
  %br
  Si vous voulez l’utiliser, l’ancienne procédure sera archivée (plus accessible du public).
- else
  Ce lien est déjà utilisé par une procédure.
  %br
  Vous ne pouvez pas l’utiliser car il appartient à un autre administrateur.
