.row.white-back
  #procedure_new.section.section-label
    = form_for @procedure, url: url_for({ controller: 'admin/procedures', action: :update, id: @procedure.id }), multipart: true do |f|
      = render partial: 'informations', locals: { f: f }
      .text-right
        - if !Flipflop.publish_draft? || @availability.in?(Procedure::PATH_CAN_PUBLISH)
          = f.button 'Enregistrer', class: 'btn btn-success'
        - else
          = f.button 'Enregistrer', class: 'btn btn-success', disabled: true
