#admins_index
  .default_data_block.default_visible
    %div.row.show-block#new_dossiers
      %div.header
        %div.col-lg-10.col-md-10.title
          %div.carret-right
          %div.carret-down
          Procédures
        %a{href:'/admin/procedures/new'}
          %div#new-procedure.col-lg-2.col-md-2.action
            Nouvelle

      %div.body
        = smart_listing_render :procedures
