= link_to(t('dynamics.admin.dossiers.tableau_de_bord.nouvelle_procedure'), "/admin/procedures/new", class: 'btn btn-success', style: 'float:right; margin-top:2%;')
%h1
  =t('dynamics.admin.dossiers.tableau_de_bord.title')
%br

= render partial: 'onglets'

= smart_listing_render :procedures
