#strike-banner.site-banner
  .container
    .site-banner-icon ⚠️
    .site-banner-text
      %strong
        En raison de l’épidémie du coronavirus, les services fonctionnent en mode dégradé.
      %br
      Les délais de prise en charge des dossiers ou de réponses aux questions pourront être perturbés durant cette période.
