<div class="dropdown-menu" id="credentials">
  <div class="description"><%= t("utils.deconnexion") %></div>

  <%= @current_instructeur.email if @current_instructeur %>
  <%= @current_user.email if @current_user %>
</div>
