%dialog#fr-theme-modal.fr-modal{ "aria-labelledby" => "fr-theme-modal-title", role: "dialog" }
  .fr-container.fr-container--fluid.fr-container-md
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-6.fr-col-lg-4
        .fr-modal__body
          .fr-modal__header
            %button#button-5622.fr-btn--close.fr-btn{ "aria-controls" => "fr-theme-modal", title: t('utils.modal_close_alt') }= t('utils.modal_close')
          .fr-modal__content
            %h1#fr-theme-modal-title.fr-modal__title Paramètres d’affichage
            #fr-display.fr-display
              %fieldset#display-fieldset.fr-fieldset
                %legend#display-fieldset-legend.fr-fieldset__legend--regular.fr-fieldset__legend Choisissez un thème pour personnaliser l’apparence du site.
                .fr-fieldset__element
                  .fr-radio-group.fr-radio-rich
                    %input#fr-radios-theme-light{ name: "fr-radios-theme", type: "radio", value: "light" }/
                    %label.fr-label{ for: "fr-radios-theme-light" } Thème clair
                    .fr-radio-rich__img
                      %svg.fr-artwork{ "aria-hidden": "true", viewBox: "0 0 80 80", width: "80px", height: "80px" }
                        %use.fr-artwork-decorative{ href: image_path("pictograms/environment/sun.svg#artwork-decorative") }
                        %use.fr-artwork-minor{ href: image_path("pictograms/environment/sun.svg#artwork-minor") }
                        %use.fr-artwork-major{ href: image_path("pictograms/environment/sun.svg#artwork-major") }
                .fr-fieldset__element
                  .fr-radio-group.fr-radio-rich
                    %input#fr-radios-theme-dark{ name: "fr-radios-theme", type: "radio", value: "dark" }/
                    %label.fr-label{ for: "fr-radios-theme-dark" } Thème sombre
                    .fr-radio-rich__img
                      %svg.fr-artwork{ "aria-hidden" => "true", height: "80px", viewbox: "0 0 80 80", width: "80px" }
                        %use.fr-artwork-decorative{ href: image_path("pictograms/environment/moon.svg#artwork-decorative") }
                        %use.fr-artwork-minor{ href: image_path("pictograms/environment/moon.svg#artwork-minor") }
                        %use.fr-artwork-major{ href: image_path("pictograms/environment/moon.svg#artwork-major") }
                .fr-fieldset__element
                  .fr-radio-group.fr-radio-rich
                    %input#fr-radios-theme-system{ name: "fr-radios-theme", type: "radio", value: "system" }/
                    %label.fr-label{ for: "fr-radios-theme-system" }
                      Système
                      %span.fr-hint-text Utilise les paramètres système
                    .fr-radio-rich__img
                      %svg.fr-artwork{ "aria-hidden" => "true", height: "80px", viewbox: "0 0 80 80", width: "80px" }
                        %use.fr-artwork-decorative{ href: image_path("pictograms/system/system.svg#artwork-decorative") }
                        %use.fr-artwork-minor{ href: image_path("pictograms/system/system.svg#artwork-minor") }
                        %use.fr-artwork-major{ href: image_path("pictograms/system/system.svg#artwork-major") }
