#strike-banner.site-banner
  .container
    .site-banner-icon ⚠️
    .site-banner-text
      La plateforme Mes-Démarches sera
      %strong
        indisponible dimanche 15 mars
      en raison d'une mise à jour de l'infrastructure réseau.
