- displayable_flash = flash.filter { |key, _| key.in?(['notice', 'alert']) }
#flash_messages{ tabindex: '-1', data: { turbo_force: :server }.merge(displayable_flash.any? ? {controller: :autofocus} : {}) }
  #flash_message.center{ class: defined?(unique_classname) ? unique_classname : '' }
    - if displayable_flash.any?
      - displayable_flash.each do |key, value|
        - sticky = defined?(sticky) ? sticky : false
        - fixed = defined?(fixed) ? fixed : false
        .alert{ role: flash_role(key), class: flash_class(key, sticky: sticky, fixed: fixed) }
          - if value.class == Array
            - value.each do |message|
              = sanitize_with_link(message)
              %br
          - elsif value.present?
            = sanitize_with_link(value)
