%div#footer
  %p{class: "copyright col-md-push-2 col-md-10 col-lg-push-2 col-lg-10 text-muted small"}
    =link_to 'SGMAP', "http://etatplateforme.modernisation.gouv.fr"

    2016

    \-

    =link_to 'CGU / Mentions légales', cgu_path

    \-

    =link_to 'Contact', "mailto:"+t('dynamics.contact_email')
