="<!--[if lt IE 10]>".html_safe

%div.center{style:'width: 100%; background-color: white; position: fixed; top:0; left:0; z-index: 100000'}
  %h3.text-danger
    %b
      Votre version d'Internet Explorer est trop ancienne pour être utilisée sur le service TPS. Version minimum : Internet Explorer 10

="<![endif]-->".html_safe
      
