%div{ style: 'float: right;' }
  %a.btn{ href: dossier_path(@dossier) } Retour
  = submit_tag 'Modification terminée', class: %w(btn btn btn-info), id: 'modification_terminee', data: { disable: true, submit: true }
