%div{ style: 'float:right' }
  %a.btn{ href: "/users/dossiers/#{@dossier.id}/recapitulatif" } Retour
  = submit_tag 'Modification terminée', class: %w(btn btn btn-info), id: 'modification_terminee', data: { disable_with: 'Modification terminée', submit: true }
