<div style="float: right;">
  <a class="btn" href="<%= dossier_path(@dossier) %>">Retour</a>
  <%= submit_tag 'Modification terminée', class: %w(btn btn btn-info), id: 'modification_terminee', data: { disable: true, submit: true } %>
</div>
