.new-header
  .header-inner-content
    %img{ src: image_url("header/logo-tps.svg"), class: "header-logo pull-left" }

    = link_to "Connexion", new_user_session_path, :class => "header-login-button pull-right"

    .clear-fix
