-# See config/browser.rb
- if !browser.modern?
  #outdated-browser-banner
    .container.flex.align-center
      .outdater-browser-icon
        ⚠️
      .outdated-browser-test
        %strong
          #{browser.name} #{browser.version} est trop ancien pour utiliser demarches-simplifiees.fr.
        %br
        Certaines parties du site ne fonctionneront pas correctement.
      .outdated-browser-buttons{ style: 'margin-left: auto' }
        %a.button.primary{ href: "https://browser-update.org/fr/update.html", target: "_blank", rel: "noopener" }
          Mettre à jour mon navigateur
