/ See config/browser.rb
- if !browser.modern?
  #outdated-browser-banner
    .container
      Attention, votre navigateur (#{browser.name} #{browser.version}) est trop ancien pour utiliser #{SITE_NAME} : certaines parties du site ne fonctionneront pas correctement. Nous vous recommendons fortement de
      %a{ href: "https://browser-update.org/fr/update.html", target: "_blank" }mettre à jour votre navigateur
      %span<>
        \.
