-# See config/browser.rb
- if !browser.modern? && !has_dismissed_outdated_browser_banner?
  #outdated-browser-banner.site-banner
    .container
      .site-banner-icon ⚠️
      .site-banner-text
        %strong
          #{browser.name} #{browser.version} est trop ancien pour utiliser #{SITE_NAME}.
        %br
        Certaines parties du site ne fonctionneront pas correctement.
      .site-banner-actions
        = button_to 'Ignorer', dismiss_outdated_browser_path, method: :post, remote: true, class: 'button btn', title: 'Ne plus afficher cet avertissement pendant une semaine'
        %a.btn.button.primary{ href: "https://browser-update.org/fr/update.html", target: "_blank", rel: "noopener" }
          Mettre à jour mon navigateur
