- if Flipflop.pre_maintenance_mode?
  .maintenance
    %span
      Une opération de maintenance est prévue sur #{SITE_NAME} à 23 h 00. La plateforme sera inaccessible pendant une vingtaine de minutes.
