- if ENV['BANNER_MESSAGE'].present?
  .site-banner.fr-text-default--warning.fr-background-contrast--warning
    .fr-container.text-center
      = sanitize(ENV['BANNER_MESSAGE'])

- if ENV['ADMINISTRATION_BANNER_MESSAGE'].present? && instructeur_signed_in?
  .site-banner.fr-text-default--warning.fr-background-contrast--warning
    .fr-container.text-center
      = sanitize(ENV['ADMINISTRATION_BANNER_MESSAGE'])

- if ENV['USAGER_BANNER_MESSAGE'].present? && !instructeur_signed_in?
  .site-banner.fr-text-default--warning.fr-background-contrast--warning
    .fr-container.text-center
      = sanitize(ENV['USAGER_BANNER_MESSAGE'])
