#strike-banner.site-banner
  .container
    .site-banner-icon ⚠️
    .site-banner-text
      %strong
        En raison d’une grève nationale interprofessionnelle, une partie des personnels ne travaille pas.
      %br
      Les délais de réponse aux questions techniques pourront être perturbés pendant les prochains jours.
