- unless BrowserService.recommended_browser?
  #support-navigator-banner.row
    .col-xs-12
      = BROWSER.value.name
      = BROWSER.value.version
      \-
      Attention, votre navigateur n'est pas recommandé pour la navigation sur ce site internet. Aucun support ne pourra vous être prodigué en cas de dysfonctionnement.
      %a{ href: '/cgu/#navigateurs' }
        Voir la liste des navigateurs compatibles.
