<% if multiple_devise_profile_connect? %>
  <ul id="switch-menu">
    <li>
      Changer de rôle
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to(dossiers_path, id: :menu_item_procedure, title: 'Aller dans votre espace usager. Vous pourrez revenir ici ensuite') do %>
          <i class="fa fa-users"></i>
          &nbsp; Usager
        <% end %>
      </li>
    <% end %>
    <% if instructeur_signed_in? %>
      <li>
        <%= link_to(instructeur_procedures_path, title: 'Aller dans votre espace instructeur. Vous pourrez revenir ici ensuite.') do %>
          <i class="fa fa-user"></i>
          &nbsp; Instructeur
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
