- if flash.any?
  = turbo_stream.replace 'flash_messages', partial: 'layouts/flash_messages'
  = turbo_stream.show 'flash_messages'
  = turbo_stream.hide 'flash_messages', delay: 30000
  - flash.clear

= yield
