%html
  %head
    %meta{ "http-equiv": "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "application-name", content: Current.application_name }
    %meta{ name: "apple-mobile-web-app-title", content: Current.application_name }
    = csrf_meta_tags

    %title
      = t("dynamics.page_title")

    = render partial: "layouts/favicons"

  %body
    = yield
