- procedure = @procedure || @dossier&.procedure || nil

- content_for :content do
  .fr-container.fr-mt-5w
    .fr-grid-row
      .fr-col-12.fr-col-md-8.fr-col-offset-md-2
        .procedure-preview.fr-mb-5w
          = render partial: 'shared/procedure_description', locals: { procedure: }

- content_for :footer do
  - if procedure
    = render partial: 'users/procedure_footer', locals: { procedure:, dossier: @dossier }
  - else
    = render partial: "root/footer"

- if procedure.present?
  - content_for(:pro_connect_path, commencer_pro_connect_path(procedure.path))

= render template: 'layouts/application'
